body { // necessary to fix scrolling problem
  position: relative;
  height: auto;
  min-height:100%;
}

%Zero {
    margin: 0;
    padding: 0;
}

%clear {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
.ClearFix {
    clear: both;
  @extend %clear;
}

.Zero {
    @extend %Zero;
}

//Color Helpers
.Blue {
  color: $Blue;
}
.Green {
  color: $Green;
}
.Orange {
  color: $Orange;
}
.Red {
  color: $Red;
}
.LightRed {
  color: $LiteRed;
}
.Yellow {
  color: $Yellow;
}
