$color-blue-primary:           #0363c8; // button-gradient-left, radio-grad, button-border
$color-blue-primary-light:     #0391e2; // button-gradient-right, radio-grad, nav-rollover
$color-blue-secondary:         #2d65af; // button-border-gradient-bottom
$color-blue-secondary-light:   #2f8dcc; // button-border-gradient-top
$color-blue-soft:              #5fb5de;

$color-purple-light:           #3c3567;
$color-purple-dark:            #210228;

$color-blue-violet:            #001335; // billing-header-gradient-left
$color-blue-gray-dark:         #003351; // billing-header-gradient-center  // statement-card-gradient-right
$color-purple:                 #240034; // billing-header-gradient-right   // statement-card-gradient-left

$color-blue-gray-light:        #a6b9bc; // billing-header-blue-gray
$color-blue-gray:              #3582a6;

$color-blue-bright:            #007ae5; // statement-wizard-dot

$color-green-dark:             #35928f;  // filter-grad, status-paid-grad
$color-green-light:            #3eb79c;  // filter-grad, status-paid-grad

$color-pink:                   #ee529c;  // nav-messages-grad
$color-red:                    #ed2b2f;  // nav-messages-grad
$color-red-dark:               #ed4463;  // SideNav late state bg
$color-red-light:              #ff5863;  // SideNav late state bg

$color-yellow:                 #f8d943;  // status-info-grad
$color-orange-dark:            #ff8d00;  // SideNav pending state bg
$color-orange:                 #f9a440;  // status-info-grad

$color-green-a:                #008082;
$color-green-b:                #057577;
$color-green-c:                #0e6b6d;
$color-green-d:                #166264;
$color-green-e:                #1e595a;

// Primary Colors
$brand-primary: #42586F;
$primary-green: #3CA749;
$primary-blue: #127EB0;


// Accent Colors
$accent-orange: #FF8800;
$accent-blue: #1696D3;
$accent-green: #2A8041;
$accent-slate: #35465A;
$accent-red: #B6091A;

// Neutral Colors
$black: #333333;
$dark-gray: #6B6B6B;
$medium-gray: #CCCCCC;
$light-gray: #F7F7F7;

// Utility Colors
$utility-green: #76C17F;
$utility-red: #CC525E;
$utility-blue: #5BB5E0;
$utility-yellow: #FFCC00;
$white: #FFFFFF;
