:focus {
    outline: none !important;
}

// Include base styles for HTML elements
// and any styles to override vendor styles here
// scss-lint:disable all
/* stylelint-disable */
html {
    font-size: 62.5%;
}

html,
body {
    height: 100%;
}

body {
    font-size: 1.4em;
    -webkit-font-smoothing: antialiased;
    background-color: $whiteSmoke;
    color: $black;
}

a {
    color: $Blue;
    cursor: pointer;

    .action {
        &:before {
            font-family: 'font-awesome';
            content: "&#xf067";
            color: $brand-primary;
        }
    }
}

h1 {
    margin: 0px;
}

*:focus {
    outline: none;
}

form {
    margin: 0;
    padding: 0;
}

.TruncateText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MainContent {
    width: 100%;
    height:100%;
    overflow: auto;
    top: 0;
    @extend %clear;
}

.Inline {
    display: inline;
}

.InlineBlock {
    display: inline-block;
}

.HideTextIcon {
    color: transparent;
    width: 18px;
    height: 18px;
    overflow: hidden;
    display: inline-block;
    margin: 0 0 -4px 8px;
}

.HiddenElement {
    position: absolute;

    width: 1px;
    height: 1px;

    border: 0 none;
    clip: rect(0 0 0 0);
    font-weight: normal;
    margin: -1px;
    overflow: hidden;
    padding: 0;
}

.HiddenSimple {
    opacity: 0;
    visibility: hidden;
}

.HiddenSimpleShow {
    opacity: 1;
    visibility: visible;
}

.Fixed {
    overflow: hidden;
}

.container {
    position: relative;
    float: left;
    padding: 0px;

    @media screen and (min-width: $screen-lg-min) {
        width: $container-width;
        max-width: 100%;
    }
}

.PopUp {
    .MainContent {
        overflow: hidden;
        position: absolute;
    }

    #PoppedBg {
        display: block;
    }
}

#PoppedBg {
  width: 100%;
  height: 100%;
  background: rgba(47,79,79,.6);
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}
.Popped {
  background: $white;
  position: fixed;
  width: 964px !important;
  max-height: 80% !important;
  padding: 20px;
  z-index: 1001;
  overflow-y: scroll;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .Block {
    background: $white !important;
  }
  .Close {
      &:first-of-type {
        position: absolute;
        right: 7px;
        top: 20px;
      }
  }
}
.cfp-hotkeys-container {
    @extend #PoppedBg;

    .cfp-hotkeys {
        @extend .Popped;

        width: auto !important;
        padding: 30px;
        font-size: 16px;

        .cfp-hotkeys-title {
            font-size: 26px;
            margin: 0;
            padding: 0 0 25px 0;
        }

        .cfp-hotkeys-close {
            @extend .fa;
            @extend .fa-times;

            position: absolute;
            top: 34px;
            right: 20px;
            color: transparent;
            font-size: 18px;
            cursor: pointer;

            &::before {
                color: $black;
            }
        }

        table {
            width: auto !important;
            margin: 0 auto !important;
            tr {
                padding: 5px;
                td {
                    border: 0;
                    padding: 0;
                    vertical-align: middle;
                    height: 48px;

                    &.cfp-hotkeys-text {
                        padding-left: 15px;
                    }

                    &.cfp-hotkeys-keys {
                        text-align: right;
                        span {
                            display: inline-block;
                            color: $white;
                            background-color: $Blue;
                            border-radius: 5px;
                            text-align: center;
                            margin-right: 5px;
                            padding: 9px 16px;
                            font-size: 1.3em;
                            float: right;
                        }
                    }
                }
            }
        }
    }
}
//Loading
.Loading,
.loading {
    @extend .fa-circle-o-notch;
    @keyframes loading-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:before {
        animation: loading-spin 1.5s linear infinite;
        display: inline-block;
        font-family: FontAwesome !important;
        font-size: 13px;
        color: $color-blue-soft;
    }

    &.Button {
        position: relative;
        &:before {
            position: absolute;
            right: 6px;
            top: 50%;
            font-size: 13px;
            display: inline-block;
            width: 13px;
            height: 13px;
            line-height: 13px;
            margin-top: -6.5px;
        }
    }
}
#PageLoadingWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba($white, .8);
    z-index: 999999999;
}
.PageLoading,
.BlockLoading {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    width:300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -120px 0 0 -150px;
    padding: 60px;
    color: $dark-gray;
    & > .Loading {
        font-size: 85px;
        width: 100%;
        height: 85px;
        line-height: 85px;
        font-weight: normal;
        color: $color-blue-soft;
        margin: 0 0 10px 0;
        &:before {
            width: 85px;
            height: 85px;
            font-size: 55px;
        }
    }
}
.BlockLoading {
    position: relative;
    width: 100%;
    left: auto;
    top: auto;
    margin: 0 auto;
}
// scss-lint:enable all
/* stylelint-enable */
