@import 'utility';
$row-left-padding: 0;
$row-right-padding: 0;

.QueueTable {
    width: 100%;

    label {
        &.Checkbox {
            padding: 0 5px;
        }
    }

    .Row {
        @extend %clear;

        background: $color-white;
        border-top: solid 1px #ccc;
        display: block;
    }

    .QueueHeader {
        border-bottom: 3px solid $lightGray;
        display: block;

        padding: 21px $row-right-padding 14px $row-left-padding;

        &__Arrows {
            position: relative;
            top: -1px;

            width: 10px;
            height: 20px;

            display: inline-block;

            float: left;
            padding-left: 5px;

            i.fa {
                position: relative;

                height: 10px;

                color: #ccc;
                cursor: pointer;

                float: left;
            }

            i.Active {
                color: $Blue;
            }
        }

        &__Cell {
            display: inline-block;

            font-weight: 600;

            &--Tiny {
                width: 43px;

                padding-left: 3px;
            }

            &--Small {
                width: 60px;
            }

            &--Medium {
                width: 100px;
            }

            &--Large {
                width: 160px;
            }

            &--ExtraLarge {
                width: 180px;
            }
        }

        &__Text {
            float: left;
        }

        .SelectAll {
            input {
                &:before {
                    top: -10px;
                }
            }
        }
    }
}
