<!-- List component - pass filtered data to exception-queue-list-componen  -->
<div class="ClearFix"></div>
<div class="QueueTable grid">
    <div class="QueueHeader">
        <div class="QueueHeader__Cell QueueHeader__Cell--Tiny SelectAll">
            <label for="" class="Checkbox">
                <input type="checkbox" name="selectAll" [ngModel]="isSelectAll" (click)="selectAllExceptions()">
            </label>
        </div>

        <!-- beneficiary -->
        <div class="QueueHeader__Cell QueueHeader__Cell--Large">
            <div class="QueueHeader__Text">{{ 'BENEFICIARY' | translate }}</div>
            <div class="QueueHeader__Arrows">
                <i class="fa fa-caret-up fa-lg"
                   [ngClass]="{ 'Active' : queryParams.get('sortColumn') === 'beneficiaryName' && queryParams.get('sortOrder') === 'asc' }"
                   (click)="changeSortOrder('beneficiaryName', 'asc')">
                </i>
                <i class="fa fa-caret-down fa-lg"
                   [ngClass]="{ 'Active' : queryParams.get('sortColumn') === 'beneficiaryName' && queryParams.get('sortOrder') === 'desc' }"
                   (click)="changeSortOrder('beneficiaryName', 'desc')">
                </i>
            </div>
        </div>

        <!-- reference id -->
        <div class="QueueHeader__Cell QueueHeader__Cell--Large">
            <div class="QueueHeader__Text">{{ 'RESERVATION_NUMBER' | translate }}</div>
            <div class="QueueHeader__Arrows">
                <i class="fa fa-caret-up fa-lg"
                   [ngClass]="{ 'Active' : queryParams.get('sortColumn') === 'referenceId' && queryParams.get('sortOrder') === 'asc' }"
                   (click)="changeSortOrder('referenceId', 'asc')">
                </i>
                <i class="fa fa-caret-down fa-lg"
                   [ngClass]="{ 'Active' : queryParams.get('sortColumn') === 'referenceId' && queryParams.get('sortOrder') === 'desc' }"
                   (click)="changeSortOrder('referenceId', 'desc')">
                </i>
            </div>
        </div>

        <!-- plan -->
        <div class="QueueHeader__Cell QueueHeader__Cell--Large">
            <div class="QueueHeader__Text">{{ 'PLAN' | translate }}</div>
            <div class="QueueHeader__Arrows">
                <i class="fa fa-caret-up fa-lg"
                   [ngClass]="{ 'Active' : queryParams.get('sortColumn') === 'planName' && queryParams.get('sortOrder') === 'asc' }"
                   (click)="changeSortOrder('planName', 'asc')">
                </i>
                <i class="fa fa-caret-down fa-lg"
                   [ngClass]="{ 'Active' : queryParams.get('sortColumn') === 'planName' && queryParams.get('sortOrder') === 'desc' }"
                   (click)="changeSortOrder('planName', 'desc')">
                </i>
            </div>
        </div>

        <!-- state -->
        <div class="QueueHeader__Cell QueueHeader__Cell--Small">
            <div class="QueueHeader__Text">{{ 'STATE' | translate }}</div>
            <div class="QueueHeader__Arrows">
                <i class="fa fa-caret-up fa-lg"
                    [ngClass]="{ 'Active' : queryParams.get('sortColumn') === 'state' && queryParams.get('sortOrder') === 'asc' }"
                    (click)="changeSortOrder('state', 'asc')">
                </i>
                <i class="fa fa-caret-down fa-lg"
                    [ngClass]="{ 'Active' : queryParams.get('sortColumn') === 'state' && queryParams.get('sortOrder') === 'desc' }"
                    (click)="changeSortOrder('state', 'desc')">
                </i>
            </div>
        </div>

        <!-- appointment date -->
        <div class="QueueHeader__Cell QueueHeader__Cell--Medium">
            <div class="QueueHeader__Text">{{ 'DATE' | translate }}</div>
            <div class="QueueHeader__Arrows">
                <i class="fa fa-caret-up fa-lg"
                   [ngClass]="{ 'Active' : queryParams.get('sortColumn') === 'appointmentOn' && queryParams.get('sortOrder') === 'asc' }"
                   (click)="changeSortOrder('appointmentOn', 'asc')">
                </i>
                <i class="fa fa-caret-down fa-lg"
                   [ngClass]="{ 'Active' : queryParams.get('sortColumn') === 'appointmentOn' && queryParams.get('sortOrder') === 'desc' }"
                   (click)="changeSortOrder('appointmentOn', 'desc')">
                </i>
            </div>
        </div>

        <!-- exception type -->
        <div class="QueueHeader__Cell QueueHeader__Cell--Large">
            <div class="QueueHeader__Text">{{ 'EXCEPTION_TYPE' | translate }}</div>
            <div class="QueueHeader__Arrows">
                <i class="fa fa-caret-up fa-lg"
                   [ngClass]="{ 'Active' : queryParams.get('sortColumn') === 'exceptionType' && queryParams.get('sortOrder') === 'asc' }"
                   (click)="changeSortOrder('exceptionType', 'asc')"></i>
                <i class="fa fa-caret-down fa-lg"
                   [ngClass]="{ 'Active' : queryParams.get('sortColumn') === 'exceptionType' && queryParams.get('sortOrder') === 'desc' }"
                   (click)="changeSortOrder('exceptionType', 'desc')">
                </i>
            </div>
        </div>
    </div>
    <div class="QueueBody">
        <div class="Row" *ngFor="let exception of exceptionQueue; trackBy : trackByIndex;">
            <exception-detail
                [currentTab]="currentTab"
                [exception]="exception"
                (exceptionSelectedToggle)="onExceptionSelectedToggle(exception, $event)">
            </exception-detail>
        </div>
    </div>
    <div class="PageCounter">
        <div class="Footer">
            <div class="pull-right">
                <pagination-component
                        [paginationConfig]="pagingInfo"
                        (incrementPageIndex)="onIncrementPageIndex()"
                        (decrementPageIndex)="onDecrementPageIndex()">
                </pagination-component>
            </div>
        </div>
    </div>
</div>
