<div class="ReservationRequestedBy">
    <div class="Full RequestedBy">

        <!-- reservation requested by form -->
        <form [formGroup]="reservationRequestedByForm" novalidate>
            <label for="requestedBy">
                <span *ngIf="!reservationRequestedByState.get('isFormValid')" class="Required">*</span>
                <span *ngIf="reservationRequestedByState.get('isFormValid')" class="Valid">*</span>
                <strong>{{ 'REQUESTED' | translate }} {{ 'BY' | translate }}</strong>
            </label>

            <!-- requested by accelerator -->
            <div class="Excelerator"
              [ngClass]="{ 'HasError' : reservationRequestedByState.getIn(['requestedByInfo', 'name']) === '' && reservationRequestedByForm.touched }">

                <span class="fa fa-arrow-circle-right fa-2x Blue"></span>
                <input autoComplete
                       minChars="0"
                       placeholder="{{ 'REQUESTED_BY' | translate }}"
                       [resetForm]="resetForm"
                       [formControl]="requestedBy"
                       [source]="reservationRequestedByState.get('requestedByAccelerator')"
                       [listFormatter]="listFormatter"
                       [displayFormatter]="displayFormatter"
                       [displayPropertyName]="'name'"
                       [valuePropertyName]="'connectionType'"
                       [noMatchFoundText]="'PLUS_ADD_A_CONNECTION'"
                       (valueChanged)="requestedBySelection($event)"/>
            </div>
        </form>
    </div>
</div>
