<div class="Popped ReservationCancelModal">
    <!-- close X -->
    <div class="pull-right Close">
        <div class="Small">
            <i class="fa fa-times fa-2x Black" (click)="onCancel()" aria-hidden="true"></i>
        </div>
    </div>

    <!-- header -->
    <h1>{{ 'CANCEL_RESERVATION' | translate }}</h1>

    <!-- description -->
    <div class="ReservationCancelModal__Description">{{ 'CANCEL_RESERVATION_DESCRIPTION' | translate }}</div>

    <!-- form -->
    <form [formGroup]="form">
        <!-- cancellation reason dropdown -->
        <div class="form-group">
            <!-- this is here to store the value of the dropdown selection -->
            <input type="hidden"
                   [ngModel]="selectedReason.get('name')"
                   [formControlName]="'cancelReason'">

            <div>{{ 'CANCELLATION_REASON' | translate }}</div>
            <div class="Dropdown" (click)="$event.preventDefault()">
                <div dropdown [keyboardNav]="true">
                    <button id="cancelReason" class="Input" dropdownToggle tabindex="0">
                        {{ selectedReason.get('name', '') !== '' ? selectedReason.get('name') : 'SELECT_CANCELLATION_REASON' | translate }} <span class="Icon inline Dropdown ChevronDown"></span>
                    </button>
                    <ul class="dropdown-menu Dropdown__Menu" role="menu" aria-labelledby="cancelReason">
                        <li role="menuitem" *ngFor="let reason of cancelReasons | async; trackBy : trackByUuid">
                            <a class="dropdown-item" href="#" (click)="onSelectReason(reason)">{{ reason.get('name') | translate }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- comment entry -->
        <div class="form-group">
            <div>{{ 'COMMENT' | translate }}</div>
            <input type="text"
                   class="form-control FormInput"
                   id="cancelComment"
                   [formControlName]="'cancelComment'"/>
        </div>

        <button class="Button" (click)="onConfirm()" [disabled]="!form.valid">{{ 'YES' | translate }}</button>
        <button class="Button Secondary" (click)="onCancel()">{{ 'NO' | translate }}</button>
    </form>
</div>
