.Alert{
  .Container{
    width: 100%;
    background: $white;

    &.Red{
      .Box {
        border: 1px solid $LiteRed;
        .Image {
          background-color: $LiteRed;
        }
      }
    }

    .Box {
      display: block;
      float: left;
      width: 100%;
      position: relative;
      .Image{
        position: relative;
        z-index: 2;
        float: left;
        height: 50px;
        width: 50px;

        .fa{
          font-size: 20px;
          padding: 15px;
          color: $white;
        }
      }
      .Info{
        position: absolute;
        width: 100%;
        margin: 0;
        float: left;
        padding: 15px 60px 0 65px;
        display: block;
        color: $black;
      }
    }
  }

}
