@import 'variables';

.spinner {

    background-color: $dimGray;
    opacity: 0.3;
    transition: all .5s linear;

    ::after {
        position: relative;
        content: ' Loading...';
        text-align: center;
    }
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
          opacity: 0;
      }
}
