.Button {
    @extend .btn;
    @extend %button-common;

    border-color: $Green;
    color: $Green;

    &:hover{
        background: $Green;
        color: $color-white;

        @include linear-gradient(to right, $Green, $Green);
    }

    line-height: 0;
    background: $primary-green;
    border-radius: 2px;
    color: $white;
    height: 30px;
    font-weight: 400;

    &:focus,
    &:hover {
        background: $accent-green;
    }

    &.Secondary {
        background: $white;
        color: $Green;
        border: 1px solid $Green;
        font-weight: bold;

        &:focus,
        &:hover {
            background: $Green;
            color: $white;
        }
    }
}

// Make .btn disabled styles consistent with .Button disabled styles. Need to revisit and avoid extending
// 3rd party classes, like .btn, in application specific classes.
.btn {
    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &.Disabled,
    &.Disabled:hover,
    &.Disabled:focus {
        border-color: transparent;
        color: $gray;
        cursor: default;

        @include linear-gradient(90deg, $gray-lighter, $gray-lighter);
    }
}

%button-common {
    border-radius: $border-radius-small;
    font-family: $font-primary-700;
    font-size: $btn-font-size;
    margin-right: 6px;

    @include transition();

    &:active {
        @include transition($time: 0s);
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &.Disabled,
    &.Disabled:hover,
    &.Disabled:focus {
        border-color: transparent;
        color: $gray;
        cursor: default;

        @include linear-gradient(90deg, $gray-lighter, $gray-lighter);
    }
}
