$form-gray: lighten($gray, .3);

input:not([type='radio']),
input:not([type='checkbox']),
textarea,
.dropdown-toggle {
    padding: 3px 6px;
    border: 1px solid $medium-gray;
    border-radius: 2px;
    background: $input-bg;
    height: 30px;
    text-align: left;
    width: 100%;

    &:focus {
        border-color: $accent-blue !important;
        &+.fa-calendar {
            border-color: $accent-blue !important;
        }
    }

    &:disabled,
    &:disabled + .InputIcon {
        // .Block button.Input overwriting bg color. !important for now
        background-color: $input-bg-disabled !important;
        cursor: not-allowed;
    }
}

.Link{
    cursor: pointer;
}
.Required {
    color: $requiredRed;
}

.Valid {
    color: $primary-green;
}

.InputIcon {
    position: absolute;
    right: 0;

    width: 21px;
    height: 30px;

    background: $white;
    border-top: solid 1px $lightGray;
    border-right: solid 1px $lightGray;
    border-bottom: solid 1px $lightGray;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: $Blue;

    font-size: 1.1em;
    padding: 5px 5px 5px 0;
}

.HasError {
    .Checkbox,
    .RadioButton {
        input {
            &:before {
                box-shadow: $requiredRed 0px 0px 0px 1px !important;
            }
        }
        ::-ms-check {
            color: $requiredRed !important;
            border-color: $requiredRed !important;
        }
    }
    input ,
    button {
        color: $requiredRed;
        border-color: $requiredRed !important;
        background: $requiredRedBg;
    }

    .InputIcon {
       background: $requiredRedBg;
       border-width: 1px 1px 1px 0;
       border-style: solid;
       border-color: $requiredRed;
       color: $requiredRed;
    }
}

input {
    &[type='submit'] {
        text-align: center;
    }
}

.isIE  {
    .Checkbox,
    .RadioButton {
        input {
            position: relative;
            bottom: -10px;
            width: 20px;
            margin-right: 5px;
        }
        ::-ms-check {
            background: $white !important;
            color: $accent-blue;
            border: solid 1px $medium-gray;
        }
    }
    .RadioButton {
        bottom: -5px;
    }
}

label {
    font-family: $font-family-base;
    font-weight: 300;
    padding-bottom: 10px;
    font-size: 14px;
    margin: 0;

    &.Error {
        color: $brand-danger;
    }



    .notIE & {
        &.Checkbox,
        &.RadioButton {
            color: $dark-gray;
            cursor: pointer;
            padding-right: 20px;
            text-indent: 8px;
            line-height: 20px;
            font-size: 14px;


            input {
                overflow: visible;
                width: 20px !important;
                height: auto !important;
                visibility: hidden;
                margin: 0 5px 0 0;

                &

                &:focus {
                    outline: none;
                    border: none;
                    &:before {
                        box-shadow: $accent-blue 0px 0px 0px 1px;
                    }
                }
                &:before {
                    display: block;
                    content: '';
                    width: 20px;
                    height: 20px;
                    background: $white;
                    overflow: visible;
                    cursor: pointer;
                    box-shadow: $medium-gray 0px 0px 0px 1px;
                    visibility: visible;
                }
            }

            &.RadioButton {
                input {
                    &:checked {
                        &:before {
                            background: $accent-blue;
                            height: 16px !important;
                        }
                    }

                    &:before {
                        border: white solid 4px;
                        border-radius: 50%;
                        height: 16px !important;
                    }
                }
            }

            &.RadioButton.disabled {
                input {
                    height: 16px !important;
                    cursor: not-allowed;
                    &:checked {
                        &:before {
                            background: $medium-gray;
                        }
                    }

                    &:before {
                        border: white solid 4px;
                        border-radius: 50%;
                    }
                }
            }

            &.Checkbox {
                input {
                    &:checked {
                        &:before {
                            @extend .fa;
                            color: $accent-blue;
                            content: '\f00c';
                            font-size: 21px !important;
                        }
                    }

                    &:before {
                        position: relative;
                        top: -6px;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
}

.Toggle {
    overflow: hidden;
    @extend %clear;

    input {
        //visibility: hidden;
        overflow: hidden;
        height: 0;
        width: 0;
        position: absolute;
        left: -999px;
        &:checked {
            + label {
                background: $Blue;
                color: $white;
            }
        }
        &:focus {
            + label {
                background: $Blue;
                color: $white;
            }
        }
    }
    label {
        display: block;
        float: left;
        border: 1px solid $medium-gray;
        padding: 4px 9px;
        cursor: pointer;

        &:first-of-type {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            border-right: 0;
        }

        &:last-of-type {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
    }
}

.Excelerator {
    position: relative;

    input {
        &:focus {// TODO: REMOVE - PROTOTYPE ONLY
            + ul {
                display: block;
                z-index: 1;
            }
        }
    }
    &.Open {
        input {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .fa-arrow-circle-right {
        position: absolute;
        top: 6px;
        right: 6px;
    }

    .dropdown-menu {
        li {
            a {
                border-bottom: 1px solid $light-gray;
                padding: 6px;
            }

            &.Add {
                border: 0;
                margin-bottom: 0;
                a {
                    color: $Green;
                    &:hover {
                        color: $white;
                        background: $Green;
                    }
                }
            }
        }
    }
}

.form-control {
    border: 0;
    border-bottom: 1px solid $gray-lighter;
    box-shadow: 0 0 0;
    color: $gray-dark;
    font-family: $font-primary-300;
    font-weight: 300;
    padding: 0 12px 2px 0;

    &:placeholder {
        opacity: .5;
    }

    &:focus {
        box-shadow: 0 0 0;
    }
}

textarea {
    background-color: $color-white;
}

.FormInput {
    position: relative;
    overflow: hidden;
    padding-top: 1.4rem;

    .Label {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 1.4rem);
        color: $form-gray;
        font-family: $font-primary-500;
        font-weight: 500;
        line-height: 2;
        pointer-events: none;
        text-transform: inherit;

        @include font-size(18px);

        &:before {
            position: absolute;
            top: -1px;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: $color-white;
            content: '';
        }

        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 1px;
            background-color: $brand-primary;
            content: '';
            transform: translate3d(-100%, 0, 0);

            @include transition();
        }

        .Text {
            position: absolute;
            z-index: 9;
            color: $form-gray;
        }
    }

    .Field {
        &:focus + .Label {
            &:after {
                transform: translate3d(0, 0, 0);
            }

            &:before {
                background: transparent;
            }

            .Text {
                color: $form-gray;
                font-family: $font-primary-700;
                font-weight: 700;
                text-transform: uppercase;
                animation: label-anim 300ms forwards;

                @include font-size(11px);
                @include transition();
            }
        }

        &.ng-touched + .Label {
            &:before {
                background: transparent;
            }

            .Text {
                color: $form-gray;
                font-family: $font-primary-700;
                font-weight: 700;
                text-transform: uppercase;
                animation: label-anim 300ms forwards;
                @include font-size(11px);
                @include transition();
            }
        }

        &.ng-touched.ng-valid.ng-dirty + .Label .Text {
            color: $brand-success;
        }

        &.ng-touched.ng-invalid.ng-dirty + .Label .Text {
            color: $brand-danger;
        }

    }
}

.dropdown-toggle {
    @extend .fa-angle-down;
    position: relative;

    &:before {
        @extend .fa;
        position: absolute;
        top: 0;
        right: 7px;
        color: $accent-blue;
        font-size: 28px !important;
        transition: transform .2s ease-in-out;
    }

    &[aria-expanded='true'] {
        &:before {
            transform: scaleY(-1);
        }
    }
}

.dropdown-menu {
    width: auto;
    min-width: 100% !important;
    max-height: 240px;
    background-clip: inherit;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: rgba($accent-blue, .4) 0 2px 6px;
    margin: -1px 0 20px;
    overflow: auto;
    padding: 0;
    white-space: nowrap;

    li {
        display: block;
        width: 100%;
        a {
            padding: 3px 6px;
            &:hover {
                background: $accent-blue;
                color: $white;
            }
        }
    }
}

.dropdown-toggle {
    font-size: 14px;
    padding-right: 42px;
}

.open {
    box-shadow: rgba($accent-blue, .4) 0 2px 6px;
    .dropdown-toggle {
        border-color: $medium-gray !important;
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;

        .ChevronDown {
            transform: rotate(180deg);
        }
    }
}

@keyframes label-anim {
    0% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }

    50% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, -2rem, 0);
    }
}

.pika-single {
    table {
        tr {
            td {
                width: 20px;
                height: 20px;
                &.is-selected {
                    .pika-button {
                        background: $gray-lighter;
                        box-shadow: none;
                    }
                }
                .pika-button {
                    background: none;
                    border-radius: 0 !important;
                    color: $black;
                    font-weight: 500;
                    line-height: 20px;
                    text-align: center;

                    &.is-selected,
                    &:hover {
                        background: $accent-blue !important;
                        color: $white !important;
                    }
                }
            }
        }
    }
}

.SmallPager {
    .Inactive {
        color: $medium-gray;
    }
    a {
        border: $medium-gray 1px solid;
        line-height: 1;
        border-radius: 2px;
        font-size: 24px;
        position: relative;
        bottom: -2px;
        display: inline-block;
        background: $color-white;
        &:hover {
            text-decoration: none;
        }
        &:first-child {
                padding: 2px 10px 2px 9px;
                margin-right: 4px;
        }
        &:last-child {
                padding: 2px 8px 2px 9px;
                margin-left: 4px;
        }
    }
}
