/* stylelint-disable selector-no-type */
h1 {
    @include font-size(30px);
}

h2 {
    @include font-size(26px);
    font-weight: 400;
    font-size: 26px;
    color: #333333;
}

h3 {
    @include font-size(23px);
}

h4 {
    @include font-size(20px);
}

h5 {
    @include font-size(16px);
}

h6 {
    @include font-size(14px);
}
/* stylelint-enable selector-no-type */
