@import 'utility';

.BeneficiaryPlansPanel {
    &.Block {
        .Close {
            position: relative;
            top: 35px;

            cursor: pointer;
        }

        .Label {
            margin: 5px 0;
        }

        .Title {
            margin: 0;
            padding: 0;
        }

        .Full {
            clear: both;
        }
    }
}
