<div class="BeneficiaryEmails Block">
    <div>
        <div class="Full">
            <div class="pull-left">
                <div class="Medium">
                    <div class="Label">
                        <strong>{{ 'EMAIL' | translate }} {{ 'TYPE' | translate }}</strong>
                    </div>
                    <input type="hidden"
                           id="emailType"
                           [ngModel]="beneficiaryEmail.getIn(['emailType', 'value'])"
                           [formControl]="emailType">

                    <div class="Dropdown" (click)="$event.preventDefault()">
                        <div dropdown keyboardNav="true">
                            <button id="emailType" class="Input" dropdownToggle>
                                {{ beneficiaryEmail.getIn(['emailType', 'value']) | translate }} <span
                                    class="Icon Inline Dropdown ChevronDown"></span>
                            </button>
                            <ul class="dropdown-menu Dropdown Menu" role="menu" aria-labelledby="emailType">
                                <li role="menuitem" *ngFor="let choice of emailTypes; trackBy : trackByIndex">
                                    <a class="dropdown-item" href="#" (click)="updateEmailTypes(choice)">{{ choice.value | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="ExtraLarge">
                    <div class="Label">
                        <strong>{{ 'EMAIL' | translate }}</strong>
                    </div>
                    <input type="text"
                           id="email"
                           class="Input"
                           autocomplete="off"
                           [ngModel]="beneficiaryEmail.get('email')"
                           [formControl]="email">
                </div>

                <div class="Medium">
                    <div class="Label">
                        <strong>{{ 'RECEIVE_NOTIFICATIONS' | translate }}&#63;</strong>
                    </div>
                    <input type="hidden"
                           id="emailNotifications"
                           [ngModel]="beneficiaryEmail.getIn(['emailNotifications', 'value'])"
                           [formControl]="emailNotifications">

                    <div class="Dropdown" (click)="$event.preventDefault()">
                        <div dropdown keyboardNav="true">
                            <button id="emailNotifications" class="Input" dropdownToggle>
                                {{ beneficiaryEmail.getIn(['emailNotifications', 'value']) | translate }} <span
                                    class="Icon Inline Dropdown ChevronDown"></span>
                            </button>
                            <ul class="dropdown-menu Dropdown Menu" role="menu" aria-labelledby="emailNotifications">
                                <li role="menuitem" *ngFor="let choice of solicitationIndicatorTypes; trackBy : trackByIndex">
                                    <a class="dropdown-item" href="#"
                                       (click)="updateEmailNotifications(choice)">{{ choice.value | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
