<div class="ReservationPreferredTransportation">
	<div class="Full">

        <!-- reservation preferred transportation provider form -->
        <form [formGroup]="reservationPreferredTransportationForm" novalidate>
    		<label for="transportationProvider">
    			<span class="Required">*</span> <strong>{{ 'PREFERRED' | translate }} {{ 'TRANSPORTATION' | translate }} {{ 'PROVIDERS' | translate }}</strong>
    		</label>

            <!-- preferred transportation provider accelerator -->
    		<div class="Excelerator">
    			<span class="fa fa-arrow-circle-right fa-2x Blue"></span>
    			<input autoComplete
                    minChars="0"
                    placeholder="{{ 'PREFERRED_TRANSPORTATION_PROVIDER' | translate }}"
    				[formControl]="transportationProvider"
    				[ngModel]="reservationPreferredTransportationState.getIn(['transportationProvider', 'value'])"
    				[source]="transportationProviders"
                    [listFormatter]="listFormatter"
    				(valueChanged)="updatePreferredTransportationProvider($event)"/>
    		</div>

            <div class="Provider" *ngIf="reservationPreferredTransportationState.getIn(['transportationProvider', 'value']) !==''">
                <span (click)="clearTransportationProvider()" class="fa fa-times-circle fa-2x Red pull-right Link"></span>
                <div>
                    {{reservationPreferredTransportationState.getIn(['transportationProvider', 'value'])}} <br />
                    {{reservationPreferredTransportationState.getIn(['transportationProvider', 'id']) | translate}}
                </div>
            </div>
        </form>
	</div>
</div>
