@import 'utility';

label {
    &.Checkbox {
        padding: 0 5px;
    }
}

.Row {
    @extend %clear;

    background: $color-white;
    border-top: solid 1px #ccc;
}

ul {
    i.fa {
        color: $Green;

        float: left;
        font-size: 1.3em;
        margin: 0 7px;
    }

    i.fa.fa-check {
        color: $Blue;

        font-size: 18px;
        margin: 0;
    }
}

.ExceptionDetail {
    &__List {
        position: relative;

        width: 100%;

        display: block;

        padding: 0;

        &__Item {
            display: inline-block;

            padding: 13px 0;
            vertical-align: middle;
            word-break: break-word;

            &.SelectAll {
                padding: 13px 13px 13px 4px;
            }

            i.Active {
                color: $Blue;
            }

            i.fa.fa-check {
                color: $Blue;

                font-size: 18px;
                margin: 0;
            }

            i.fa.fa-pencil {
                color: $Orange;
                float:right;
                font-size: 18px;
                margin: -0.75em 0 0 0;
            }

            &--CheckboxCell {
                width: 43px;

                margin-top: 3px;
                padding-left: 3px;
            }

            &--CheckboxCell {
                width: 43px;

                margin-top: 3px;
                padding-left: 3px;
            }

            &--Small {
                width: 60px;
            }

            &--Medium {
                width: 100px;
            }

            &--Large {
                width: 160px;
            }

            &--ExtraLarge {
                width: 180px;
            }

            &--Edit {
                padding-left: 4px;

                i {
                    cursor: pointer;

                    font-size: 24px;
                }
            }
        }
    }
}

.Risk {
    position: absolute;

    width: 6px;
    height: 100%;
}

.High {
    background-color: #b6091a;
}

.Medium {
    background-color: #fc0;
}

.Low {
    background-color: #3ca749;
}
