<div class="ClearFix"></div>
<div class="ExceptionDetail">
    <div class="ExceptionDetail__List">
        <!-- risk level color -->
        <div class="Risk ExceptionDetail__List__Item" [ngClass]="{'High' : exception.get('priorityLevel') === '1', 'Medium' : exception.get('priorityLevel') === '2', 'Low' : exception.get('priorityLevel') === '3'}"></div>

        <!-- select box -->
        <div class="ExceptionDetail__List__Item ExceptionDetail__List__Item--CheckboxCell">
            <label class="Checkbox">
                <input type="checkbox" name="selectException" [ngModel]="exception.get('isSelected')" (click)="toggleSelection()">
            </label>
        </div>

        <!-- beneficiary -->
        <div class="ExceptionDetail__List__Item ExceptionDetail__List__Item--Large">
            <a [routerLink]="['/Beneficiary', exception.get('personUuid')]">
            {{ exception.getIn(['beneficiaryInfo', 'firstName']) }}&nbsp;{{ exception.getIn(['beneficiaryInfo', 'lastName']) }}
            </a>
        </div>

        <!-- reservation number -->
        <div class="ExceptionDetail__List__Item ExceptionDetail__List__Item--Large">
            {{ exception.get('referenceId') }}
        </div>

        <!-- plan -->
        <div class="ExceptionDetail__List__Item ExceptionDetail__List__Item--Large">
            {{ exception.getIn(['plan', 'planDescription']) }}
        </div>

        <!-- state -->
        <div class="ExceptionDetail__List__Item ExceptionDetail__List__Item--Small">
            {{ exception.get('state') }}
        </div>

        <!-- date -->
        <div class="ExceptionDetail__List__Item ExceptionDetail__List__Item--Medium">
            {{ exception.get('appointmentDate') }}
        </div>

        <!-- exception type -->
        <div class="ExceptionDetail__List__Item ExceptionDetail__List__Item--Large">
            {{ getExceptionTypes() }}
        </div>

        <!-- edit button -->
        <div class="ExceptionDetail__List__Item ExceptionDetail__List__Item--Edit" *ngIf="currentTab === queueTabTypes.ASSIGNED_TO_ME">
            <i class="fa fa-pencil Orange fa-2x" aria-hidden="true" (click)="editException(exception)">
                <span class="HiddenElement">Edit</span>
            </i>
        </div>
    </div>
</div>
