<div class="Exceptions">
    <div class="TableHead Full">
        <div>
            {{ 'EXCEPTIONS_REQUIRING_ACTION' | translate }}
        </div>
    </div>
    <div class="TableBody" *ngFor="let queueTaskItem of queueTaskItems; let i = index; trackBy : trackByUuid">
        <exception-review-single-exception
            [queueTaskItem]="queueTaskItem"
            (updateFormField)="onUpdateFormField($event, i)">>
        </exception-review-single-exception>
    </div>
</div>
