@import 'utility';


ul {
    float: left;

    width: 100%;
    margin: 0;
    padding:  0;

    list-style: none;

    li{
        float: left;

        padding: 13px;
    }
}

.TableHead {
    ul {
        border-bottom: solid 4px #CCC;
        li {
            font-weight: bold;
            &.SelectAll {
                padding-left: 10px;
            }
        }
    }

    span,
    .arrows {
        display: inline-block;
        float: left;
    }

    .arrows {
        position: relative;
        top: 4px;

        width: 10px;
        height: 14px;
        padding: 0 0 0 6px;
            .fa{
                position: absolute;

                cursor: pointer;

                color: #ccc;

            &.fa-caret-up {
                top: -5px;
            }
            &.fa-caret-down {
                bottom: -5px;
            }
        }
    }
}

.TableBody,
.TableHead {
    width: calc(100% + 40px);
    margin: 0 0 0 -20px;

    @extend %clear;
    ul {
        li {
            display: inline-block;

            width: 20%;
            padding-left: 0;
        }
    }
}
.TableBody {
    ul {
        li {
            &:first-child {
                padding-left: 20px;
            }
        }
    }
}
.TableHead {
    padding: 15px 20px;

    font-weight: bold;
    ul {
        border: 0;
    }
}
.Exceptions {
    margin-top: 20px;

    .small {
        font-size: 13px;
    }

    .TableBody {
        .Full {
            padding: 20px;
        }
    }

    .TableHead {
        div {
            padding: 13px 0;
        }
    }
}
