@import 'utility';
$row-left-padding: 10px;
$row-right-padding: 25px;

.ReservationList {
    width: 100%;

    background: $white;

    &__Icon {
        margin-right: .333em;

        color: $Blue;

        font-size: 1.6em;
    }

    &__Header {
        display: block;

        padding: 21px $row-right-padding 14px $row-left-padding;

        border-bottom: 3px solid $lightGray;

        &__Cell {
            display: inline-block;

            padding: 0 .25em;

            font-weight: 600;
        }

        &__Text {
            float: left;
        }

        &__Arrows {
            position: relative;
            top: -1px;

            display: inline-block;
            float: left;

            width: 10px;
            height: 20px;
            padding-left: 5px;

            i.fa {
                position: relative;

                float: left;

                height: 10px;

                cursor: pointer;

                color: #ccc;
            }

            i.Active {
                color: $Blue;
            }
        }
    }

    &__Row {
        display: block;

        padding: 20px $row-right-padding 20px $row-left-padding;

        border-bottom: 2px solid $lightGray;
    }

    &__Status {
        position: absolute;

        margin-left: 3em;

        font-style: italic;
    }

    &__Cell {
        display: inline-block;

        padding: .25em .25em .5em .25em;

        vertical-align: middle;

        &--Small {
            width: 40px;
        }

        &--Medium {
            width: 100px;
        }

        &--Large {
            width: 170px;
        }

        &--ExtraLarge {
            width: 180px;
        }
    }

    &__Actions {
        padding-top: 1em;
    }
}
