<div class="ClearFix"></div>
<div class="ReservationList grid">
    <!-- header row -->
    <div class="ReservationList__Header">
        <div class="ReservationList__Header__Cell ReservationList__Cell--Small">&nbsp;</div>
        <div class="ReservationList__Header__Cell ReservationList__Cell--ExtraLarge">
            <div class="ReservationList__Header__Text">
                Trip ID
            </div>
            <div class="ReservationList__Header__Arrows">
                <i (click)="onSetSortOptions(sortOptions.TRIP_ID_ASC)"
                   [ngClass]="{ Active : historyState.get('sortOption') === sortOptions.TRIP_ID_ASC }"
                   class="fa fa-caret-up fa-lg"></i>
                <i (click)="onSetSortOptions(sortOptions.TRIP_ID_DESC)"
                   [ngClass]="{ Active : historyState.get('sortOption') === sortOptions.TRIP_ID_DESC }"
                   class="fa fa-caret-down fa-lg"></i>
            </div>
        </div>
        <div class="ReservationList__Header__Cell ReservationList__Cell--Medium">
            <div class="ReservationList__Header__Text">
                Trip Date
            </div>
            <div class="ReservationList__Header__Arrows">
                <i (click)="onSetSortOptions(sortOptions.TRIP_DATE_ASC)"
                   [ngClass]="{ Active : historyState.get('sortOption') === sortOptions.TRIP_DATE_ASC }"
                   class="fa fa-caret-up fa-lg"></i>
                <i (click)="onSetSortOptions(sortOptions.TRIP_DATE_DESC)"
                   [ngClass]="{ Active : historyState.get('sortOption') === sortOptions.TRIP_DATE_DESC }"
                   class="fa fa-caret-down fa-lg"></i>
            </div>
        </div>
        <div class="ReservationList__Header__Cell ReservationList__Cell--Large">
            <div class="ReservationList__Header__Text">
                Appointment Time
            </div>
            <div class="ReservationList__Header__Arrows">
                <i (click)="onSetSortOptions(sortOptions.APPOINTMENT_TIME_ASC)"
                   [ngClass]="{ Active : historyState.get('sortOption') === sortOptions.APPOINTMENT_TIME_ASC }"
                   class="fa fa-caret-up fa-lg"></i>
                <i (click)="onSetSortOptions(sortOptions.APPOINTMENT_TIME_DESC)"
                   [ngClass]="{ Active : historyState.get('sortOption') === sortOptions.APPOINTMENT_TIME_DESC }"
                   class="fa fa-caret-down fa-lg"></i>
            </div>
        </div>
        <div class="ReservationList__Header__Cell ReservationList__Cell--ExtraLarge">
            <div class="ReservationList__Header__Text">
                Treatment Type
            </div>
            <div class="ReservationList__Header__Arrows">
                <i (click)="onSetSortOptions(sortOptions.TREATMENT_TYPE_ASC)"
                   [ngClass]="{ Active : historyState.get('sortOption') === sortOptions.TREATMENT_TYPE_ASC }"
                   class="fa fa-caret-up fa-lg"></i>
                <i (click)="onSetSortOptions(sortOptions.TREATMENT_TYPE_DESC)"
                   [ngClass]="{ Active : historyState.get('sortOption') === sortOptions.TREATMENT_TYPE_DESC }"
                   class="fa fa-caret-down fa-lg"></i>
            </div>
        </div>
        <div class="ReservationList__Header__Cell ReservationList__Cell--Medium">
            <div class="ReservationList__Header__Text">
                {{ isHistory ? 'Trip Status' : 'Trip Type' }}
            </div>
            <div class="ReservationList__Header__Arrows">
                <i (click)="onSetSortOptions(isHistory ? sortOptions.TRIP_STATUS_ASC : sortOptions.TRIP_TYPE_ASC)"
                   [ngClass]="{ Active : historyState.get('sortOption') === sortOptions.TRIP_STATUS_ASC || historyState.get('sortOption') === sortOptions.TRIP_TYPE_ASC }"
                   class="fa fa-caret-up fa-lg"></i>
                <i (click)="onSetSortOptions(isHistory ? sortOptions.TRIP_STATUS_DESC : sortOptions.TRIP_TYPE_DESC)"
                   [ngClass]="{ Active : historyState.get('sortOption') === sortOptions.TRIP_STATUS_DESC || historyState.get('sortOption') === sortOptions.TRIP_TYPE_DESC }"
                   class="fa fa-caret-down fa-lg"></i>
            </div>
        </div>
        <!--<div class="ReservationList__Header__Cell ReservationList__Cell--Small">&nbsp;</div>-->
    </div>
    <div class="ReservationList__Row" *ngFor="let reservation of reservations; trackBy: trackByUuid">
        <!-- render row -->
        <div class="ReservationList__Cell ReservationList__Cell--Small Link" (click)="toggleExpandReservation(reservation)">
            <i class="fa Blue fa-2x" [ngClass]="{'fa-chevron-down': expanded[reservation.get('uuid')], 'fa-chevron-right': !expanded[reservation.get('uuid')]}"></i>
            <div class="ReservationList__Status" *ngIf="!isHistory" [ngStyle]="{'color':getStatusColor(reservation.getIn(['status','id']))}">{{reservation.getIn(['status', 'name'])}}
                <span *ngIf="showDeniedReason(reservation.getIn(['status','id']))"> - {{reservation.getIn(['status', 'reason'])}}</span>
            </div>
        </div>
        <div class="ReservationList__Cell ReservationList__Cell--ExtraLarge">{{reservation.get('referenceId', '')}}</div>
        <div class="ReservationList__Cell ReservationList__Cell--Medium">{{getDateDisplay(reservation)}}</div>
        <div class="ReservationList__Cell ReservationList__Cell--Large">{{getTimeDisplay(reservation)}}</div>
        <div class="ReservationList__Cell ReservationList__Cell--ExtraLarge">{{reservation.getIn(['legs', 0, 'treatmentType', 'name'], '')}}</div>
        <div class="ReservationList__Cell ReservationList__Cell--Medium" >
            <span *ngIf="isHistory" [ngStyle]="{'color':getStatusColor(reservation.getIn(['status','id']))}">{{reservation.getIn(['status', 'name'])}}
                <span *ngIf="showDeniedReason(reservation.getIn(['status','id']))"> - {{reservation.getIn(['status', 'reason'])}}</span>
            </span>
            <span *ngIf="!isHistory">{{reservation.getIn(['legs', 0, 'type'], '')}}</span>
        </div>
        <!--<div class="ReservationList__Cell ReservationList__Cell--Small"><i class="ReservationList__Icon fa fa-files-o"></i>Copy</div>-->
        <div *ngIf="expanded[reservation.get('uuid')]" class="Full">
            <reservation-list-leg
                *ngFor="let leg of getSortedLegs(reservation); let legIndex = index; trackBy: trackByUuid"
                [beneficiary]="beneficiary"
                [isHistory]="isHistory"
                [label]="'Leg ' + (legIndex + 1)"
                [leg]="leg">
            </reservation-list-leg>

            <div *ngIf="!isHistory" class="ReservationList__Actions">
                <button class="Button Secondary" (click)="cancelReservation(reservation)">{{ 'CANCEL_RESERVATION' | translate }}</button>
                <!--
                <a [routerLink]="['/Reservation', beneficiary.get('uuid'), 'EditReservation', reservation.get('uuid')]">
                    <button class="Button Secondary" (click)="onCancel()">{{ 'EDIT_RESERVATION' | translate }}</button>
                </a>
                -->
            </div>
        </div>
    </div>
</div>

<reservation-cancel-modal
    *ngIf="reservationToCancel"
    (cancel)="cancelReservationCancellation()"
    (confirm)="confirmCancelReservation($event)">
</reservation-cancel-modal>
