<div class="ReservationModeOfTransportation">
	<div class="Full ModeOfTransportation">

        <!-- reservation details form -->
        <form [formGroup]="reservationModeOfTransportationForm" novalidate>
    		<label for="transportationMode">
                <span *ngIf="!reservationModeOfTransportationState.get('isFormValid')" class="Required">*</span>
                <span *ngIf="reservationModeOfTransportationState.get('isFormValid')" class="Valid">*</span>
                <strong>{{ 'MODE_OF_TRANSPORTATION' | translate }}</strong>
    		</label>

			<input type="hidden"
				id="transportationMode"
				[ngModel]="modeOfTransportationValue.get('name')"
				[formControl]="modeOfTransportation">
			<div class="Dropdown" (click)="$event.preventDefault()">
				<div dropdown keyboardNav="true">
				    <button [disabled]="disabled" [ngClass]="{ 'Disabled' : disabled }" id="transportationMode" class="Input" dropdownToggle>
						{{modeOfTransportationValue.get('name') || 'MODE_OF_TRANSPORTATION' | translate }}
					</button>
					<ul class="dropdown-menu Menu" role="menu" aria-labelledby="transportationMode">
						<li role="menuitem" *ngFor="let choice of reservationModeOfTransportationState.get('modeOfTransportationDropdown'); trackBy:trackByIndex">
							<a class="dropdown-item" href="#" (click)="updateModeOfTransportation(choice)">{{choice.name}}</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="ModeOfTransportationDetails" *ngIf="reservationModeOfTransportationState.getIn(['modeOfTransportation', 'name'])">
				<div class="Ambulance" *ngIf="reservationModeOfTransportationState.getIn(['modeOfTransportation', 'name']) === 'Ambulance'">
					<label for="additionalPassengers_true" class="RadioButton">
						<input type="radio"
							id="basicLifeSupport"
							[value]=true
							name="Amnulance"
                            (click)="updateServiceOffering('Basic Life Support', 'c1750d74-ee51-11e6-9155-125e1c46ef60')">
						{{ 'BASIC_LIFE_SUPPORT' | translate }}
					</label>
					<br />
					<label for="additionalPassengers_true" class="RadioButton">
						<input type="radio"
							id="basicLifeSupport"
							[value]=true
							name="Amnulance"
                            (click)="updateServiceOffering('Advanced Life Support', 'c1750d71-ee51-11e6-9155-125e1c46ef60')">
						{{ 'ADVANCED_LIFE_SUPPORT' | translate }}
					</label>
					<br />
					<label for="additionalPassengers_true" class="RadioButton">
						<input type="radio"
							id="basicLifeSupport"
							[value]=true
							name="Amnulance"
                            (click)="updateServiceOffering('CCT', 'c1750d76-ee51-11e6-9155-125e1c46ef60')">
						{{ 'CCT' | translate }}
					</label>
					<br />
					<label for="additionalPassengers_true" class="RadioButton">
						<input type="radio"
							id="basicLifeSupport"
							[value]=true
							name="Amnulance"
                            (click)="updateServiceOffering('Isolette', 'c1750d78-ee51-11e6-9155-125e1c46ef60')">
						{{ 'ISOLETTE' | translate }}
					</label>
				</div>

				<!-- <div class="Ambulatory" *ngIf="reservationModeOfTransportationState.getIn(['modeOfTransportation', 'name']) === 'Ambulatory'">
					{{ 'AMBULATORY_INFORMATION' | translate }} {{updateServiceOffering('Ambulatory', 'c1750d6a-ee51-11e6-9155-125e1c46ef60')}}
				</div>

				<div class="MassTransit" *ngIf="reservationModeOfTransportationState.getIn(['modeOfTransportation', 'name']) === 'Mass Transit'">
					{{ 'MASS_TRANSIT_INFORMATION' | translate }} {{updateServiceOffering('Mass Transit', '07c2600c-ee4f-11e6-9155-125e1c46ef60')}}
				</div> -->

				<div class="MileageReimbursement"  *ngIf="reservationModeOfTransportationState.getIn(['modeOfTransportation', 'name']) === 'Mileage Reimbursement'">  <!-- {{updateServiceOffering('Mileage Reimbursement', 'c1750d65-ee51-11e6-9155-125e1c46ef60')}} -->
					<label for="driver"><strong>Driver</strong></label>

					<!-- driver accelerator -->
					<div class="Excelerator"
                        [ngClass]="{ 'HasError' : reservationModeOfTransportationState.getIn(['driverInfo', 'name']) === '' && reservationModeOfTransportationForm.touched }">

						<span class="fa fa-arrow-circle-right fa-2x Blue"></span>
						<input autoComplete
                            [minChars]="0"
							[formControl]="driver"
							[source]="reservationModeOfTransportationState.get('modeOfTransportationAccelerator')"
							[listFormatter]="listFormatter"
                            [displayFormatter]="displayFormatter"
							[displayPropertyName]="'name'"
							[valuePropertyName]="'connectionType'"
							[autoCompletePlaceholder]="'DRIVER' | translate"
							(valueChanged)="driverSelection($event)"/>
					</div>
				</div>

				<!-- <div class="WheelchairVehicle" *ngIf="reservationModeOfTransportationState.getIn(['modeOfTransportation', 'name']) === 'Wheelchair Vehicle'">
					{{ 'WHEELCHAIR_VEHICLE_INFORMATION' | translate }}  {{updateServiceOffering('Wheelchair Vehicle', '07c26012-ee4f-11e6-9155-125e1c46ef60')}}
				</div>
				<div class="StretcherVan" *ngIf="reservationModeOfTransportationState.getIn(['modeOfTransportation', 'name']) === 'Stretcher Vehicle'">
					{{ 'STRETCHER_VAN_INFORMATION' | translate }}  {{updateServiceOffering('Stretcher Vehicle', '07c26015-ee4f-11e6-9155-125e1c46ef60')}}
				</div>
				<div class="Air" *ngIf="reservationModeOfTransportationState.getIn(['modeOfTransportation', 'name']) === 'Air Travel'">
					{{ 'AIR_INFORMATION' | translate }}  {{updateServiceOffering('Air Travel', '07c26019-ee4f-11e6-9155-125e1c46ef60')}}
				</div> -->
			</div>
		</form>
	</div>
</div>
