<div class="DashboardBody Block">
    <div class="LeftPanel">
        <!-- Current Date -->
        <current-date-widget
            [currentDateTime]="currentDateTime">
        </current-date-widget>

        <!-- Activity Log -->
        <!-- <call-activity-panel [callDetails]="callDetails"></call-activity-panel> -->

        <!-- Eligibility Queue -->
        <!-- <eligibility-queue-panel [eligibilityDetails]="eligibilityDetails"></eligibility-queue-panel> -->

        <!-- Eligibility Requests -->
        <!-- <csr-requests-panel></csr-requests-panel> -->

        <!-- Activity Log -->
        <!-- <activity-log-panel></activity-log-panel> -->
    </div>

    <div class="RightPanel">
        <!-- Current Time -->
        <current-time-widget
            [currentDateTime]="currentDateTime">
        </current-time-widget>

        <!-- Task List -->
        <!-- <dashboard-card title="TaskList"></dashboard-card> -->

        <!-- Task List -->
        <!-- <dashboard-card title="HelpfulDocuments"></dashboard-card> -->
    </div>
</div>
