@import 'utility';
@import 'variables';

.TopNavigation {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    min-width: $screen-md-min;
    height: 60px;

    background-color: $backgroundLight;
    border-bottom: solid 1px $borderColor;

    margin: 0;
    padding: 0 30px 0 85px;
    white-space: nowrap;

    &__Dropdown {
        &__Toggle {
            border: none;
            padding: 0;

            // Override forms.scss setting all dropdowns to chevron-down
            &::before {
                content: '';
                // position: static;
            }

            // Override forms.scss flipping icons upside down.
            &[aria-expanded='true']:before {
                transform: scaleY(1);
            }

            &__Icon {
                display: inline-block;
                vertical-align: middle;

                font-size: 22px;
            }

            &__Text {
                display: inline-block;
                vertical-align: middle;

                margin-left: .5em;
            }
        }
    }

    .Logo--Small {
        margin-top: 17px;
        width: 145px;
        height: 30px;

        background: inline('images/logo.png') no-repeat center;
        background-size: contain;

        margin-right: 30px;
    }

    &__List {
        cursor: pointer;

        padding: 0 0 0 30px;

        &__Item {
            color: $Blue;

            float: right;
            list-style: none;
            vertical-align: middle;

            .NavPins {
                position: relative;
                top: -15px;
                left: -39px;

                background: white;
                border-radius: 4px;

                font-size: small;
            }

            &.Active {
                // background-color: $backgroundDark;
            }
        }

        &__Link {
            color: $Blue;
            padding: 1em;

            display: inline-table;
            width: 100%;

            &:hover {
                text-decoration: none;
            }

            .open >& {
                background: $Blue;
                color: $white;
            }
        }
    }
}
