<header class="TopNavigation">
        <a tabindex="-1" class="Icon Logo--Small pull-left" title="LogistiCare" [routerLink]="['/Dashboard']">
            <span class="HiddenElement">LogistiCare</span>
        </a>

        <search-box
                [selectedCategory]="navSearchState.get('selectedSearchType')"
                [searchTypeOptions]="navSearchState.get('searchTypeOptions')"
                [searchText]="navSearchState.get('searchText')"
                (updateSearchText)="onUpdateSearchText($event)"
                (updateSearchType)="onUpdateSearchType($event)"
                (getSearchResults)="onGetSearchResults()">
        </search-box>

        <ul class="TopNavigation__List row" >
            <li class="TopNavigation__List__Item"
                [ngClass]="{ Active : activeNavState === navItem.get('baseNavOption') }"
                *ngFor="let navItem of navConfig; trackBy : trackByIndex">

                <a class="TopNavigation__List__Link" title="{{ navItem.get('title') | translate }}"
                   (click)="doMenuNavigation(navItem)"
                   *ngIf="navItem.get('subNav').count() <= 0">
                   <i class="TopNavigation__Dropdown__Toggle__Icon {{ navItem.get('style') }}"></i>
               </a>

                <div *ngIf="navItem.get('subNav').count() > 0" dropdown>
                    <a id="{{ navItem.title }}" class="TopNavigation__List__Link TopNavigation__Dropdown__Toggle" title="{{ navItem.get('title') | translate }}"
                       *ngIf="navItem.get('subNav').count() > 0" dropdownToggle>
                       <i class="TopNavigation__Dropdown__Toggle__Icon {{ navItem.get('style') }}"></i>
                        <!-- HACK: the top-level item may not be the user, so if we ever change the NavState, this will break -->
                       <span class="TopNavigation__Dropdown__Toggle__Text">{{userFullName}}</span>
                    </a>

                    <ul *ngIf="navItem.get('subNav').count() > 0" dropdownMenu>
                        <li *ngFor="let subNavItem of navItem.get('subNav')">
                            <a id="{{ subNavItem.title }}" class="TopNavigation__List__Link" title="{{ subNavItem.get('title') | translate }}"
                               (click)="doMenuNavigation(subNavItem)">
                               {{subNavItem.title | translate}}
                           </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
</header>
<task-list
        *ngIf="toggleTasks"
        [taskList]="taskList">
</task-list>
