<div class="CardBody">
    <div class="Risk" [ngClass]="{'High':priorityLevel==='1','Medium':priorityLevel==='2','Low':priorityLevel==='3'}"></div>
    <div class="Name">
        {{beneficiaryInfo.get('firstName')}} {{beneficiaryInfo.get('lastName')}} ({{ 'RESERVATION' | translate }} #{{reservationReferenceId}})
    </div>
    <div class="Full">
        <div class="Col-4">
            <label>{{ 'DATE_OF_BIRTH' | translate }}: </label> {{ formatDate(beneficiaryInfo.get('birthDate')) }} ({{ getYearsFromDate(beneficiaryInfo.get('birthDate')) }} years old)
        </div>
        <div class="Col-3">
            <label>{{ 'PRIMARY_LANGUAGE' | translate }}: </label> {{ beneficiaryInfo.get('language') }}
        </div>
        <div class="Col-4">
            <label>Deceased: </label> {{ beneficiaryInfo.get('isDeceased') ? 'Yes' : 'No' }}
        </div>
    </div>
    <div class="Full">
        <div class="Col-4">
            <label>{{ 'ADDRESS' | translate }}: </label> {{ beneficiaryContactMechanisms.getIn(['addresses',0,'street']) }}, <span *ngIf="beneficiaryContactMechanisms.getIn(['addresses',0,'apt'])">{{ beneficiaryContactMechanisms.getIn(['addresses',0,'apt']) }},</span> {{ beneficiaryContactMechanisms.getIn(['addresses',0,'city']) }}, {{ beneficiaryContactMechanisms.getIn(['addresses',0,'state']) }}, {{ beneficiaryContactMechanisms.getIn(['addresses',0,'postalCode']) }}
        </div>
        <div class="Col-3">
            <label>{{ 'ADDRESS_TYPE' | translate }}:</label> {{ beneficiaryContactMechanisms.getIn(['addresses',0,'addressType','value']) }}
        </div>
        <div class="Col-4" >
            <label>{{ 'PHONE_NUMBER' | translate }}: </label> {{ beneficiaryContactMechanisms.getIn(['phones',0,'phone']) }}
        </div>
    </div>
    <div class="Full">
        <div class="Col-4">
            <label>{{ 'EMAIL' | translate }}: </label> {{ beneficiaryContactMechanisms.getIn(['emails',0,'email']) }}
        </div>
        <div class="Col-3">
            <label>{{ 'HEIGHT_' | translate }}: </label> {{ beneficiaryInfo.get('heightFeet') }}'{{ beneficiaryInfo.get('heightInches') }}
        </div>
        <div class="Col-4">
            <label>{{ 'WEIGHT_' | translate }}: </label> {{ beneficiaryInfo.get('weight') }}
        </div>
    </div>
</div>
