@import 'utility';


.Risk {
	float: left;

	width: 6px;
	height: 48px;
    margin: 0;
}

.High{
	background-color: #B6091A;
}

.Medium{
	background-color: #FFCC00;
}

.Low{
	background-color: #3CA749;
}

.Name {
    font-size: 20px;
}

.CardBody {
    position: relative;

    clear: both;
    overflow: hidden;

    margin-bottom: 20px;
    padding: 20px;

    border: $medium-gray 1px solid;
    border-left: 0;

    @extend %clear;

    .Risk {
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;
    }
    label {
        font-weight: bold;
    }

    .Full {
        padding: 5px 0 0;
    }
}
