<search-header
        [paginationConfig]="searchResultsPaging">
</search-header>

<section class="Search">
    <div class="SearchBody">
        <search-results-panel
                [selectedPageSize]="selectedPageSize"
                [searchResults]="searchResults"
                [paginationConfig]="searchResultsPaging"
                [resultsOrderByConfig]="resultsOrderByConfig"
                (orderByConfigUpdated)="onOrderByConfigUpdated($event)"
                (updatePageSize)="onUpdatePageSize($event)"
                (addBeneficiary)="onAddBeneficiary()"
                (viewBeneficiary)="onViewBeneficiary($event)">
        </search-results-panel>
    </div>
</section>

