@import 'variables';
@import 'utility';

.Widget{
    .CancelRes {
        display: none;
    }
    width: 100%;
    .fa-close {
        cursor: pointer;
    }
    .Block{

        h2 {
            margin: 0;
            float: left;
        }

        .Body{

            .GreenTitle{
                color: $Green;
                padding: 15px 0 10px 0;
            }

            .fa-files-o {
                color: $Blue;
                font-size: 16px;
                padding: 0 3px 0 0;
            }

            .Indent{
                margin: 0 0 20px 24px;
            }

            .Smoke{
                color: #999;
                font-size: 13px;
            }

            .Actions{
                border-bottom: 2px solid $Blue;
                padding: 0 0 5px;

                span{
                    padding: 0 10px;
                }

                .fa {
                    float: left;
                    color: $Blue;
                    font-size: 1.5em;
                }
            }
            .Button {
                line-height: .7;
            }

        }

        .Tasks{
            float: left;
            padding: 0 15px 15px 15px;

            input {
                display: none;
            }
            label {
                padding: 8px 0;
                font-weight: bold;
            }

            label input[type=checkbox] ~ span {
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;
                background: #fff;
                border: 1px solid #888;
                padding: 1px;
                height: 20px;
                width: 20px;
            }

            label input[type=checkbox]:checked ~ span {
                background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path d="M14 18L26 6l4 4-16 16L4 16l4-4z"/></svg>');
                background-size: 100%;
            }
        }

        .Links{
            float: left;
            padding: 0 0 15px 15px;
        }

        .Heading{
            margin: 30px 15px 15px;
            float: left;

            span, a{
                float: right;
                margin: 0 7px;
            }
        }
        &ReservationSummary,
        &.ReservationDetials {
            font-size: 12px;
        }

        &.ReservationDetials {
            font-size: 12px;

            .HeadingDetials {
                margin: 0 0 25px 0;
            }

            h2 {
                font-weight: 300;
            }

            .Close {
                font-size: 22px;
                color: $accent-blue;
            }

            .Leg {
                header {
                    font-weight: bold;
                    color: $white;
                    background: $Green;
                    line-height: 2;
                    padding-left: 10px;
                    a {
                        font-weight: normal;
                        float: right;
                        background: $accent-green;
                        padding: 0 10px;
                        color: $white;
                        text-align: center;
                        width: 100px;

                        span {
                            padding-left: 5px;
                        }

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }

                .LegSummary,
                .LegDetails {
                    padding: 15px;
                    div {
                        padding: 0 0 10px 0;
                        position: relative;
                        span {
                            display: none;
                            background: gray;
                            color: white;
                            padding: 5px;
                            position: absolute;
                            z-index: 9999;
                        }

                        &:hover {
                            span {
                                display: block;
                            }
                        }
                    }
                }
            }

            footer {
                text-align: center;

                button,
                a {
                    display: inline-block;
                }

                button {
                    margin: 0 0 10px 0;
                }
            }
        }
    }
}
