<div class="ReservationAppointmentDate">
    <div class="Full AppointmentDate">
        <!-- reservation details form -->
        <form [formGroup]="reservationAppointmentDateForm" novalidate>

            <label class="Col-3" for="appointmentDate">
                <span [ngClass]="{ 'Required' : !appointmentDate.valid, 'Valid' : appointmentDate.valid }">*</span>
                <strong>{{ 'RESERVATION' | translate }} {{ 'DATE' | translate }}</strong>
            </label>
            <label class="Col-4" for="appointmentTime">
                <span [ngClass]="{ 'Required' : !appointmentTime.valid, 'Valid' : appointmentTime.valid }">*</span>
                <strong>{{ 'WHEN_DO_YOU_NEED_TO_BE_THERE' | translate }}</strong>
            </label>

            <div *ngIf="isEditing" class="Col-3">
                {{ reservationAppointmentDateState.get('appointmentDate') | dateTimeFormat : dateFormat : utcFormat }}
            </div>

            <div *ngIf="isEditing" class="Col-4">
                {{ reservationAppointmentDateState.get('appointmentTime') | dateTimeFormat : timeFormat : utcFormat }}
            </div>
            <div *ngIf="!isEditing" class="Col-3" [ngClass]="{ 'HasError' : !appointmentDate.valid && appointmentDate.touched }">
                <date-picker
                    id="appointmentDate"
                    [disabled]="disabled"
                    [ngModel]="reservationAppointmentDateState.get('appointmentDate')"
                    [formControl]="appointmentDate"
                    [dateFormat]="dateFormat">
                </date-picker>

                <!--<pre>Datepicker Valid: {{ appointmentDate.valid }}</pre>
                <pre>Datepicker Touched: {{ appointmentDate.touched }}</pre>-->
            </div>
            <div *ngIf="!isEditing" class="Col-4" [ngClass]="{ 'HasError' : !appointmentTime.valid && appointmentTime.touched }">
                <!--<pre>Timepicker Valid: {{ appointmentTime.valid }}</pre>
                <pre>Timepicker Touched: {{ appointmentTime.touched }}</pre>-->
                <div class="Col-2">
                    <time-picker
                        id="appointmentTime"
                        [ngModel]="selectedAppointmentTime"
                        [formControl]="appointmentTime"
                        [hourStep]="hourStep"
                        [minuteStep]="minuteStep"
                        [showMeridiem]="showMeridiem"
                        [timeFormat]="timeFormat"
                        [isReadOnly]="disabled || !reservationAppointmentDateState.get('appointmentDateValid')">
                    </time-picker>
                </div>
            </div>
        </form>
    </div>
</div>
