@import 'utility';

.Datepicker {
    position: relative;

    &__Input {
        width: calc(100% - 18px);
        height: 30px;

        border-top: solid 1px $lightGray;
        border-right: none;
        border-bottom: solid 1px $lightGray;
        border-left: solid 1px $lightGray;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;

        padding-left: 10px;
    }
}
