<div class="Datepicker">
    <input type="text"
           [attr.placeholder]="dateFormat"
           [disabled]="disabled"
           (keydown)="keydownDateCheck($event)"
           (blur)="blurDateCheck($event)"
           class="Datepicker__Input"
           tabindex="0"
           #datepicker>
    <i class="InputIcon fa fa-calendar" [ngClass]="{ 'disabled' : disabled }" aria-hidden="true"></i>
</div>
