
@import 'utility';

.AdditionalPassengerList {
    .Passenger {
        background-color: $gray-lightest;

        margin: .5em 0;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
