<div class="AdditionalPassengerList">
    <div *ngFor="let passenger of passengerList; trackBy : trackByIndex" class="Passenger">
        <reservation-special-requirements
            [headerText]="getHeaderText(passenger)"
            (addSpecialRequirement)="onAddSpecialRequirement(passenger, $event)"
            (initEdit)="onInitEdit(passenger, $event)"
            (remove)="onRemove(passenger, $event)"
            (removeSpecialRequirement)="onRemoveSpecialRequirement(passenger, $event)"
            (setPermanence)="onSetPermanence(passenger, $event)"
            (save)="onSave(passenger, $event)"
            (updateFromDate)="onUpdateFromDate(passenger, $event)"
            (updateThruDate)="onUpdateThruDate(passenger, $event)"
            [showRemoveIcon]="true"
            [specialRequirementsState]="passenger.get('specialRequirements')"
            [specialRequirementsList]="specialRequirementsList"
            [tempSpecialRequirementsState]="passenger.get('tempSpecialRequirements')"
        >
        </reservation-special-requirements>
    </div>
</div>
