<div class="TimeBlock">
    <i class="fa fa-clock-o fa-2x"></i>
    <div class="Number">
        <h2>{{ currentDateTime | dateTimeFormat:'h:mm' }} <span>{{ currentDateTime | dateTimeFormat:'A' }}</span></h2>
        <div class="Text">
            {{ 'GOOD' | translate }} {{ currentDateTime | dateTimeFormat:'greeting' }}!
        </div>
    </div>
</div>
