@import 'variables';
@import 'utility';

.TimeBlock{
  height: 60px;

  .Text{
    font-size: 12px;
    color: $Orange;
    float: left;
    text-transform: uppercase;
  }

  .fa {
    float: left;
    color: $Orange;
    font-size: 2.6em;
  }

  .Number{
    float: left;
    margin: 0 8px;

    h2 {
      margin: 0;
      float: left;
      width: 100%;
      span {
        font-size: .7em;
        margin-top: 10px;
        color: #999;
        width: 100%;
      }
    }
  }
}
