// TODO: Remove !important overide once all components are up to date
// TODO: Replace element selectors with BEM in the view
.Block {
    width: 100%;

    float: left;
    margin-right: 0 !important;
    margin-bottom: 30px;
    margin-left: 0 !important;

    &--Full,
    .Full {
        width: 100%;

        float: left;
        padding: 15px 0 0 0;
    }

    &--Largest,
    .Largest {
        float: left;
        margin: 0 15px 0 0;

        .Input {
            width: 483px;
        }
    }

    &--ExtraLarge,
    .ExtraLarge {
        float: left;
        margin: 0 15px 0 0;

        .Input {
            width: 303px;
        }
    }

    &--Large,
    .Large {
        float: left;
        margin: 0 15px 0 0;

        .Input {
            width: 234px;
        }
    }

    &--Medium,
    .Medium {
        float: left;
        margin: 0 15px 0 0;

        .Input {
            width: 175px;
        }
    }

    &--Small,
    .Small {
        float: left;
        margin: 0 15px 0 0;

        .Input {
            width: 125px;
        }

        .Radio {
            width: 45px;

            float: left;
        }
    }

    &--Space,
    .Space {
        margin-top: 7px;
    }

    &--Required
    .Required {
        color: $LiteRed;
    }

    &__CheckCircle,
    .CheckCircle {
        margin: 0 5px;
    }

    &__Body,
    .Body {
        width: 555px;

        float: left;
        padding: 0 0 15px 15px;
    }

    &__Button,
    button {
        text-align: left;
    }

    &__Error,
    .Error {
        border: solid 1px $LiteRed !important;
    }

    &__Label,
    label {
        text-transform: none;
    }

    &__SubLabel,
    .SubLabel {
        width: 100%;

        display: block;

        margin: 5px 0 0;
    }

    &__NoLabel,
    .NoLabel {
        margin-top: 29px;
    }

    &__Submit,
    .Submit {
        width: 905px;

        background-color: #3ca749;
        border-color: #3ca749;
        color: $color-white;

        float: left;
        margin: 0 0 30px 30px;
        padding: 0 0 30px 0;
    }

    .Title {
        margin: 0 0 20px;
        padding: 0;
    }

    .Underline {
        border-bottom: solid 1px #777;
    }

    &__Title,
    h2 {
        float: left;
        margin: 0;
    }

    &__Input,
    input,
    button.Input {
        height: 30px;

        background-color: $color-white;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    &__Input--Radio,
    input[type='radio'] {
        position: relative;

        width: 17px;
    }

    &__Textarea,
    .Textarea {
        width: 800px;
    }

    &.Full {
        margin-right: -30px !important;
        margin-left: -30px !important;
    }

    .Link {
        cursor: pointer;
    }

    .LeftPanel,
    .RightPanel,
    * {
        .Block {
            width: 100%;

            background-color: $color-white;

            padding: 30px 15px;

            .Body,
            .Heading {
                width: 100% !important;

                float: left !important;
                padding: 0 !important;
            }

            .Heading {
                margin: 0 0 15px !important;
            }
        }
    }

    .LeftPanel {
        width: 584px !important;
        max-width: 584px;

        float: left;

        .Block {
            max-width: 100%;
        }
    }

    .RightPanel {
        width: 320px !important;
        max-width: 320px;

        float: left;
        padding-left: 30px;

        .Block {
            max-width: 100%;
        }
    }

    .fa {
        font-size: 18px;
        padding-right: 5px;
    }
}
