@import 'utility';


// @mixin gridOverlay ($page: 874px, $column: 59px, $gutter: 15px, $baseline: 24px) {
//     position: fixed;
//     z-index: 10;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;

//     display: block;

//     width: $page;
//     margin: 0 0 0 104px;

//     content: '';

//     border: 1px solid rgba(#f00, .2);
//     border-top: 0;
//     border-bottom: 0;

//     background-image: linear-gradient(left, rgba(#f00, .15) 0, rgba(#f00, .15) $column, transparent $column);
//     background-size: ($column + $gutter) $baseline;
// }


// body::after {
//     display: none;

//     @include gridOverlay();
// }


.Wrapper {
    width: 964px;
    height: 100%;

    display: block;

    margin-top: 75px;
    margin-left: 60px;
    padding: 0 30px;
}


.Full {
    @extend %clear;

    width: 100%;

    padding: 15px 0 0;

    > [class*='Col-'] {
        &:last-child {
            margin: 0;
        }
    }
}

.Small,
.Medium,
.Large,
.Larger,
.Largest,
.ExtraLarge {
    float: left;
    margin: 0 15px 0 0;
}

@for $i from 1 through 12 {
    $base-width: $i * 59px;
    $gutter-width: $i * 15px;
    $width: $base-width + $gutter-width -15px;

    .Col-#{$i} {
        width: $width;

        float: left;
        margin: 0 15px 0 0;
    }
}
