table:not(.pika-table),
.TableBody  {
    width: calc(100% + 30px);

    margin: 0 0 0 -15px;

    .Full,
    td {
        border-bottom: $medium-gray 1px solid;

        line-height: 1;
        padding: 20px 15px;
    }

    ul {
        margin: 0;
        li {
            display: inline-block;

            padding-left: 0;
        }
    }
}

.Table {
    display: table;
    .Full {
        display: table-row;
    }
    .Cell {
        display: table-cell;
    }
}

thead,
.TableHead {
    border-bottom: #ccc 2px solid;

    th {
        padding: 15px;
    }

    ul {
        margin: 0;
        padding: 0;
        li {
            display: inline-block;

            font-weight: bold;
            list-style: none;
            &.SelectAll {
                padding-left: 10px;
            }
        }
    }

    span,
    .arrows {
        display: inline-block;

        float: left;
    }

    .arrows {
        position: relative;
        top: -4px;

        width: 20px;

        .fa {
            position: absolute;

            color: #ccc;
            cursor: pointer;

            &.fa-caret-up {
                top: 0;
                right: 0;
            }
            &.fa-caret-down {
                right: 0;
                bottom: -24px;
            }
        }
    }
}

.TableHead,
.TableHead.Full {
    width: calc(100% + 30px);

    margin: 0 0 0 -15px;
    padding: 15px;
}

.DataTable {
    width: 100%;
    max-width: 100%;

    background-color: $table-bg;
    color: $gray-dark;

    margin-bottom: $line-height-computed;

    .Cell {
        border-top: 1px solid $table-border-color;

        line-height: $line-height-base;
        padding: $table-cell-padding;
        vertical-align: top;
    }

    .Header {
        .Cell {
            border-bottom: 1px solid $table-border-color;

            vertical-align: bottom;

            .Table & {
                @include font-size(20px);
                //border: 0;

                font-family: $font-primary-700;
                font-weight: 700;
            }
        }
    }

    .Cell {
        .Table & {
            @include font-size(16px);
            //border: 0;

            font-family: $font-primary-300;
            font-weight: 300;
        }
    }
}
