<form [formGroup]="form" novalidate>
    <label for="EditReason"><strong>{{ 'REASON_FOR_UPDATE' | translate }}</strong></label>
    <div class="Dropdown" (click)="$event.preventDefault()">
        <div dropdown [keyboardNav]="true">
            <button [disabled]="disabled" id="EditReason" class="Input" dropdownToggle>
                {{ selectedReason ? selectedReason.get('name') : 'Select' }}
            </button>
            <ul class="dropdown-menu Menu" role="menu">
                <li role="menuitem" *ngFor="let reason of reasons; trackBy : trackByIndex">
                    <a
                        class="dropdown-item"
                        href="#"
                        (click)="onSelectReason(reason, reasonComment)">
                        {{ reason.get('name') }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="selectedReason">
        <br/>
        <input
            type="text"
            name="EditReasonComment"
            id="EditReasonComment"
            placeholder="{{ 'NOTES' | translate }}"
            [formControlName]="'comment'"
            [ngModel]="reasonComment">
    </div>
</form>
