@import 'utility';

.BeneficiaryConnectionsPanel {
    &.Block {
        ul {
            width: 100%;

            border-bottom: solid 1px #ccc;

            float: left;
            list-style: none;
            margin: 0;
            padding: 15px 0;

            li {
                float: left;
            }

            i.fa {
                color: $Orange;

                float: left;
                font-size: 1.3em;
                margin: 0 7px;
            }
        }

        .Sub {
            background-color: #f7f7f7;
            border-bottom: solid 1px #ccc;

            padding: 0 0 15px 15px !important;
        }

        .Link {
            cursor: pointer;
        }

        .Close {
            position: relative;
            top: 35px;

            cursor: pointer;
        }

        .Label {
            margin: 5px 0;
        }

        .Large {
            .Input {
                width: 263px;
                div {
                    float: left;
                    padding-right: 6px;
                    &::after {
                        content: '/';
                    }
                    &:last-child {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }

        .Medium {
            float: left;
            margin: 0 15px 0 0;

            .Input {
                width: 145px;
            }
        }
    }
}
