<!-- read only -->
<div class="BeneficiaryConnectionsPanel Block">
    <h2 class="Title">
        {{ 'CONNECTIONS' | translate }}
    </h2>

    <div *ngIf="connectionsState.get('connectionsStateDetail').size !== 0" class="Full TableHead">
        <div class="Medium">
            <div class="Input">
                <strong>{{ 'NAME' | translate }}</strong>
            </div>
        </div>
        <div class="Small">
            <div class="Input">
                <strong>{{ 'PHONE' | translate }}</strong>
            </div>
        </div>
        <div class="Large">
            <div class="Input">
                <strong>{{ 'CONNECTION_TYPE' | translate }}</strong>
            </div>
        </div>
        <div class="Small">
            <div class="Input">
                <strong>{{ 'ACTIVE_UNTIL' | translate }}</strong>
            </div>
        </div>
    </div>

    <div *ngFor="let result of beneficiaryConnectionsForm.controls.connections.controls; let i = index; trackBy : trackByIndex" class="List">
        <div *ngIf="connectionsState.get('addConnectionIndex') !== i" class="TableBody">
            <div class="Full Underline">
                <div class="Medium">
                    <div class="Input">
                        {{ connectionsState.getIn(['connectionsStateDetail', i, 'firstName']) }} {{ connectionsState.getIn(['connectionsStateDetail', i, 'lastName']) }}
                    </div>
                </div>
                <div class="Small">
                    <div class="Input">
                        {{ connectionsState.getIn(['connectionsStateDetail', i, 'phones', 0, 'phone']) !== '' ? connectionsState.getIn(['connectionsStateDetail', i, 'phones', 0, 'phone']) : 'NONE_SPECIFIED' | translate }}
                    </div>
                </div>
                <div class="Large">
                    <div class="Input">
                        <div *ngIf="connectionsState.getIn(['connectionsStateDetail', i, 'connectionTypes', 'parentFamily'])">
                            <connection-type-name
                                [connectionType]="connectionTypes.PARENT_FAMILY">
                            </connection-type-name>
                        </div>
                        <div *ngIf="connectionsState.getIn(['connectionsStateDetail', i, 'connectionTypes', 'socialWorker'])">
                            <connection-type-name
                                [connectionType]="connectionTypes.SOCIAL_WORKER">
                            </connection-type-name>
                        </div>
                        <div *ngIf="connectionsState.getIn(['connectionsStateDetail', i, 'connectionTypes', 'nurseDoctor'])">
                            <connection-type-name
                                [connectionType]="connectionTypes.NURSE_DOCTOR">
                            </connection-type-name>
                        </div>
                        <div *ngIf="connectionsState.getIn(['connectionsStateDetail', i, 'connectionTypes', 'planClient'])">
                            <connection-type-name
                                [connectionType]="connectionTypes.PLAN_CLIENT">
                            </connection-type-name>
                        </div>
                        <div *ngIf="connectionsState.getIn(['connectionsStateDetail', i, 'connectionTypes', 'emergencyContact'])">
                            <connection-type-name
                                [connectionType]="connectionTypes.EMERGENCY_CONTACT">
                            </connection-type-name>
                        </div>
                        <div *ngIf="connectionsState.getIn(['connectionsStateDetail', i, 'connectionTypes', 'driver'])">
                            <connection-type-name
                                [connectionType]="connectionTypes.DRIVER">
                            </connection-type-name>
                        </div>
                    </div>
                </div>
                <div class="Small">
                    <div class="Input">
                        {{ connectionsState.getIn(['connectionsStateDetail', i, 'thruDate']) | dateDisplayFormat }}
                    </div>
                </div>
                <div class="pull-right">
                    <div (click)="removeBeneficiaryConnection(i)" class="Small Link">
                        <i class="fa fa-trash fa-2x Orange"></i>
                        <a (keypress)="removeConnectionKeyPressHandler($event)" tabindex="0">{{ 'REMOVE' | translate }}</a>
                    </div>

                    <div (click)="editBeneficiaryConnection(i)" class="Small Link">
                        <i class="fa fa-pencil fa-2x Orange" aria-hidden="true"></i>
                        <a (keypress)="editConnectionKeyPressHandler($event, i)" tabindex="0">{{ 'EDIT' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- edit screen -->
        <div *ngIf="connectionsState.get('editConnectionIndex') === i && connectionsState.get('isEditConnectionActive')" [ngClass]="{ Popped : !isNewProfile }">
            <div *ngIf='!isNewProfile' class="pull-right Close">
                <div class="Small">
                    <i class="fa fa-times fa-2x Black" (click)="cancelEdit()" aria-hidden="true"></i>
                </div>
            </div>
            <beneficiary-connection
                [connection]="connectionsState.getIn(['connectionsStateDetail', connectionsState.get('editConnectionIndex')])"
                [isAddConnectionActive]="connectionsState.get('isAddConnectionActive')"
                [isAddConnectionExpanded]="connectionsState.get('isAddConnectionExpanded')"
                [isEditConnectionActive]="connectionsState.get('isEditConnectionActive')"
                [isAddPhoneActive]="connectionsState.get('isAddPhoneActive')"
                [isConnectionAddedManually]="connectionsState.get('isConnectionAddedManually')"
                [isConnectionAddedFromSearch]="connectionsState.get('isConnectionAddedFromSearch')"
                [dropdownTypes]="connectionsState.get('dropdownTypes')"
                (updateConnectionField)="onUpdateConnectionField($event, i)"
                (connectionFormValid)="onConnectionFormValid($event)">
            </beneficiary-connection>
        </div>
    </div>

    <!-- add a connection -->
    <div *ngIf="connectionsState.get('isAddConnectionActive')">
        <form [formGroup]="beneficiaryConnectionsForm" novalidate [ngClass]="{ Popped : !isNewProfile }">
            <div class="pull-right Close">
                <div class="Small">
                    <i class="fa fa-times fa-2x Black" (click)="cancelAdd()" aria-hidden="true"></i>
                </div>
            </div>

            <beneficiary-connection
                [connection]="connectionsState.getIn(['connectionsStateDetail', connectionsState.get('addConnectionIndex')])"
                [isAddConnectionActive]="connectionsState.get('isAddConnectionActive')"
                [isAddConnectionExpanded]="connectionsState.get('isAddConnectionExpanded')"
                [isAddPhoneActive]="connectionsState.get('isAddPhoneActive')"
                [isConnectionAddedManually]="connectionsState.get('isConnectionAddedManually')"
                [isConnectionAddedFromSearch]="connectionsState.get('isConnectionAddedFromSearch')"
                [dropdownTypes]="connectionsState.get('dropdownTypes')"
                (updateConnectionField)="onUpdateConnectionField($event, connectionsState.get('addConnectionIndex'))"
                (connectionFormValid)="onConnectionFormValid($event)">
            </beneficiary-connection>
        </form>
    </div>

    <div *ngIf="connectionsState.get('connectionsStateDetail').size === 0 && !isNewProfile && !connectionsState.get('isAddConnectionActive')" class="Full Space">
        <div class="pull-left">
            <div class="Largest">
                <div class="Input">
                    {{ 'NO_CONNECTIONS_ON_FILE' | translate }}
                    <br/>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!connectionsState.get('isAddConnectionActive')" class="Full">
        <i class="fa fa-plus fa-2x Blue"></i>
        <span><a (click)="addBeneficiaryConnection()" (keypress)="addConnectionKeyPressHandler($event)" tabindex="0">
			{{ 'ADD_A_CONNECTION' | translate }}</a>
		</span>
    </div>
</div>
