<div class="ReservationAdditionalPassenger">
    <div class="Full AdditionlPassengers">

        <!-- reservation details form -->
        <form [formGroup]="reservationAdditionalPassengersForm" novalidate>
            <label>
                <span *ngIf="!reservationAdditionalPassengersState.get('isFormValid') || disabled" class="Required">*</span>
                <span *ngIf="reservationAdditionalPassengersState.get('isFormValid') && !disabled" class="Valid">*</span>
                <strong>{{ 'ANY' | translate }} {{ 'ADDITIONAL' | translate }} {{ 'PASSENGERS' | translate }}?</strong>
            </label>

            <div class="Col-8">
                <label for="additionalPassengers_true" class="RadioButton" [ngClass]="{ 'disabled' : disabled }">
                    <input *ngIf="!disabled" type="radio"
                           class="Radio CheckCircle"
                           tabindex="0"
                           id="additionalPassengers_true"
                           [formControl]="additionalPassengers"
                           [value]=true
                           [checked]="reservationAdditionalPassengersState.get('additionalPassengers')"
                           [ngModel]="reservationAdditionalPassengersState.get('additionalPassengers')"
                           (click)="updateAdditionalPassengers(true)">
                    <input *ngIf="disabled" type="radio"
                           class="Radio CheckCircle"
                           tabindex="0"
                           id="additionalPassengers_true"
                           disabled
                           [formControl]="additionalPassengers"
                           [value]=true
                           [checked]="reservationAdditionalPassengersState.get('additionalPassengers')"
                           [ngModel]="reservationAdditionalPassengersState.get('additionalPassengers')">
                    {{ 'YES' | translate }}
                </label>
                <label for="additionalPassengers_false" class="RadioButton" [ngClass]="{ 'disabled' : disabled }">
                    <input *ngIf="!disabled" type="radio"
                           class="Radio CheckCircle"
                           tabindex="0"
                           id="additionalPassengers_false"
                           [formControl]="additionalPassengers"
                           [value]=false
                           [checked]="!reservationAdditionalPassengersState.get('additionalPassengers')"
                           [ngModel]="reservationAdditionalPassengersState.get('additionalPassengers')"
                           (click)="updateAdditionalPassengers(false)">
                    <input *ngIf="disabled" type="radio"
                           class="Radio CheckCircle"
                           tabindex="0"
                           id="additionalPassengers_false"
                           disabled
                           [formControl]="additionalPassengers"
                           [value]=false
                           [checked]="!reservationAdditionalPassengersState.get('additionalPassengers')"
                           [ngModel]="reservationAdditionalPassengersState.get('additionalPassengers')">
                    {{ 'NO' | translate }}
                </label>
            </div>

            <!-- additionl passenger accelerator -->
            <div *ngIf="reservationAdditionalPassengersState.get('additionalPassengers')">
                <label for=""><strong>{{ 'SELECT_PASSENGERS' | translate }}</strong></label>
                <div class="Excelerator"
                     [ngClass]="{ 'HasError' : reservationAdditionalPassengersState.getIn(['passenger', 'name'], '') === '' && reservationAdditionalPassengersForm.touched }">

                    <span class="fa fa-arrow-circle-right fa-2x Blue ReservationAdditionalPassenger__BlueArrow"></span>
                    <input autoComplete
                           minChars="0"
                           placeholder="{{ 'PASSENGER' | translate }}"
                           [formControl]="additionalPassenger"
                           [source]="reservationAdditionalPassengersState.get('additionalPassengersAccelerator')"
                           [listFormatter]="listFormatter"
                           [displayPropertyName]="'name'"
                           [displayFormatter]="displayFormatter"
                           [valuePropertyName]="'connectionType'"
                           (valueChanged)="additionalPassengerSelection($event)"/>
                </div>
            </div>

            <!-- additional passenger list -->
            <reservation-additional-passenger-list
                [passengerList]="reservationAdditionalPassengersState.get('passengers')"
                [specialRequirementsList]="specialRequirementsList">
            </reservation-additional-passenger-list>
        </form>
    </div>
</div>
