<div *ngIf="!isEditConnectionActive" class="BeneficiaryConnections Block BeneficiaryConnections__Search">
    <person-finder></person-finder>
</div>

<div class="BeneficiaryConnections Block BeneficiaryConnections__Add">
    <div *ngIf="!isEditConnectionActive">
        <div class="OR">-{{ 'OR_' | translate }}-</div>
        <div (click)="toggleAddExpanded()" class="Input Link">
            <i [ngClass]="isAddConnectionExpanded ? 'fa-angle-down' : 'fa-angle-right'" class="fa fa-2x Blue" aria-hidden="true"></i>
            <h5>{{ 'ADD_A_CONNECTION' | translate }}</h5>
        </div>
    </div>
    <div *ngIf="isEditConnectionActive">
        <div class="ClearFix">
            <h2 class="Title">{{ 'EDIT_CONNECTION' | translate }}</h2>
        </div>
        <div class="Required__Container">
            <span class="Required">*</span>Required
        </div>
    </div>

    <div *ngIf="isAddConnectionExpanded || isEditConnectionActive">
        <form [formGroup]="connectionForm" novalidate>
            <div class="BeneficiaryConnections__Name" *ngIf="isEditConnectionActive || isConnectionAddedFromSearch">
                {{connection.get('firstName')}} {{connection.get('lastName')}}
            </div>

            <div *ngIf="isConnectionAddedManually" class="Full">
                <div class="Full">
                    <span [class.Required]="!firstName.valid || !lastName.valid" [class.Valid]="firstName.valid && lastName.valid">*</span>
                    <strong>{{ 'NAME' | translate }}</strong>
                </div>
                <div class="pull-left">
                    <div class="Small">
                        <input type="hidden"
                               [ngModel]="connection.get('personalTitle')"
                               [formControl]="salutation">

                        <div class="Dropdown" (click)="$event.preventDefault()">
                            <div dropdown keyboardNav="true">

                                <button id="salutation" class="Input" dropdownToggle tabindex="0" *ngIf="isConnectionAddedManually">
                                    {{ connection.get('personalTitle') | translate }} <span class="Icon inline Dropdown ChevronDown"></span>
                                </button>
                                <ul class="dropdown-menu Dropdown__Menu" role="menu" aria-labelledby="salutation">
                                    <li role="menuitem" *ngFor="let choice of dropdownTypes.get('salutations'); trackBy : trackByIndex">
                                        <a class="dropdown-item" href="#" (click)="updateSalutation(choice, $event)">{{ choice.value | translate }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="Label">
                        <label for="firstName" class="">
                            <span class="">{{ 'SALUTATION' | translate }}</span>
                        </label>
                    </div>
                </div>

                <div class="pull-left">
                    <div class="Medium" [class.HasError]="!firstName.valid && firstName.touched">
                        <input type="name"
                               tabindex="0"
                               id="firstName"
                               class="Input"
                               autocomplete="off"
                               [ngModel]="connection.get('firstName')"
                               [formControl]="firstName">
                    </div>

                    <div class="Label">
                        <label for="firstName" class="">
                            <span class="">{{ 'FIRST_NAME' | translate }}</span>
                        </label>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="Medium">
                        <input type="name"
                               tabindex="0"
                               id="middleName"
                               class="Input"
                               autocomplete="off"
                               [ngModel]="connection.get('middleName')"
                               [formControl]="middleName">
                    </div>

                    <div class="Label">
                        <label for="middleName" class="">
                            <span class="">{{ 'MIDDLE_NAME' | translate }}</span>
                        </label>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="Medium" [class.HasError]="!lastName.valid && lastName.touched">
                        <input type="name"
                               tabindex="0"
                               id="lastName"
                               class="Input"
                               autocomplete="off"
                               [ngModel]="connection.get('lastName')"
                               [formControl]="lastName">
                    </div>

                    <div class="Label">
                        <label for="lastName" class="">
                            <span class="">{{ 'LAST_NAME' | translate }}</span>
                        </label>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="Small">
                        <input type="text"
                               tabindex="0"
                               id="suffix"
                               class="Input"
                               autocomplete="off"
                               [ngModel]="connection.get('suffix')"
                               [formControl]="suffix">
                    </div>

                    <div class="Label">
                        <label for="suffix" class="">
                            <span class="">{{ 'SUFFIX' | translate }}</span>
                        </label>
                    </div>
                </div>
            </div>

            <!--phones-->
            <div formArrayName="phones">
                <div *ngFor="let phones of connectionForm.controls.phones.controls; let i = index" class="panel panel-default">
                    <div class="panel-heading">
                        <i *ngIf="isAddPhoneActive"
                           (click)="removePhones(i)"
                           class="fa fa-times fa-2x Black"
                           aria-hidden="true">
                        </i>
                    </div>

                    <div class="panel-body" [formGroupName]="i">
                        <beneficiary-connection-phone
                            [connectionPhone]="connection.getIn(['phones', i])"
                            [isPhoneReadOnly]="isEditConnectionActive || isConnectionAddedFromSearch"
                            [solicitationIndicatorTypes]="dropdownTypes.get('solicitationIndicatorTypes')"
                            [phoneTypes]="dropdownTypes.get('phoneTypes')"
                            (updatePhoneField)="onUpdatePhoneField($event, i)"
                            (phoneFormValid)="onPhoneFormValid($event, i)">
                        </beneficiary-connection-phone>
                    </div>
                </div>
            </div>

            <div class="Full">
                <div class="ExtraLarge" *ngIf="isAddConnectionActive && !isConnectionAddedFromSearch">
                    <label class="Input Checkbox">
                        <input
                            type="checkbox"
                            (change)="updateBirthDateEnabled($event)"
                            [ngModel]="connection.get('birthDateEnabled')"
                            checked="connection.get('birthDateEnabled')"
                            [formControl]="birthDateEnabled">

                        {{ 'DATE_OF_BIRTH' | translate }} ({{ 'UNDER_18_YEARS_OF_AGE' | translate }})
                    </label>
                </div>
                <div class="Medium" [class.HasError]="!birthDate.valid && birthDate.touched">
                    <date-picker
                        *ngIf="isAddConnectionActive && !isConnectionAddedFromSearch"
                        [ngModel]="connection.get('birthDate')"
                        [formControl]="birthDate"
                        [dateFormat]="dateFormat"
                        [disabled]="!connection.get('birthDateEnabled')">
                    </date-picker>
                </div>
            </div>

            <div class="Full" *ngIf="isConnectionAddedManually">
                <strong><a (click)="addPhones()"><i class="fa fa-plus Icon--Add"></i>{{ 'ADD_ADDITIONAL_PHONE' | translate }}</a></strong>
            </div>
            <div class="Full">
                <span [class.Required]="!connectionForm.valid" [class.Valid]="connectionForm.valid">*</span>
                <strong>{{ 'SELECT_CONNECTION_TYPE' | translate }}</strong>
            </div>

            <div formGroupName="connectionTypesGroup">
                <div class="Full">
                    <div class="pull-left">
                        <div class="ExtraLarge">
                            <label class="Input Checkbox">
                                <input
                                    type="checkbox"
                                    id="parentFamily"
                                    (click)="updateParentFamily(connection.getIn(['connectionTypes', 'parentFamily']))"
                                    [ngModel]="connection.getIn(['connectionTypes', 'parentFamily'])"
                                    checked="connection.getIn(['connectionTypes', 'parentFamily'])"
                                    [formControl]="parentFamily">

                                <connection-type-name
                                    [connectionType]="connectionTypes.PARENT_FAMILY">
                                </connection-type-name>
                            </label>
                        </div>
                        <div class="ExtraLarge">
                            <label class="Input Checkbox">
                                <input
                                    type="checkbox"
                                    id="socialWorker"
                                    (click)="updateSocialWorker(connection.getIn(['connectionTypes', 'socialWorker']))"
                                    [ngModel]="connection.getIn(['connectionTypes', 'socialWorker'])"
                                    checked="connection.getIn(['connectionTypes', 'socialWorker'])"
                                    [formControl]="socialWorker">

                                <connection-type-name
                                    [connectionType]="connectionTypes.SOCIAL_WORKER">
                                </connection-type-name>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="Full">
                    <div class="pull-left">
                        <div class="ExtraLarge">
                            <label class="Input Checkbox">
                                <input
                                    type="checkbox"
                                    id="nurseDoctor"
                                    (click)="updateNurseDoctor(connection.getIn(['connectionTypes', 'nurseDoctor']))"
                                    [ngModel]="connection.getIn(['connectionTypes', 'nurseDoctor'])"
                                    checked="connection.getIn(['connectionTypes', 'nurseDoctor'])"
                                    [formControl]="nurseDoctor">

                                <connection-type-name
                                    [connectionType]="connectionTypes.NURSE_DOCTOR">
                                </connection-type-name>
                            </label>
                        </div>
                        <div class="ExtraLarge">
                            <label class="Input Checkbox">
                                <input
                                    type="checkbox"
                                    id="planClient"
                                    (click)="updateClientPlan(connection.getIn(['connectionTypes', 'planClient']))"
                                    [ngModel]="connection.getIn(['connectionTypes', 'planClient'])"
                                    checked="connection.getIn(['connectionTypes', 'planClient'])"
                                    [formControl]="planClient">

                                <connection-type-name
                                    [connectionType]="connectionTypes.PLAN_CLIENT">
                                </connection-type-name>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="Full">
                    <div class="pull-left">
                        <div class="ExtraLarge">
                            <label class="Input Checkbox">
                                <input
                                    type="checkbox"
                                    id="emergencyContact"
                                    (click)="updateEmergencyContact(connection.getIn(['connectionTypes', 'emergencyContact']))"
                                    [ngModel]="connection.getIn(['connectionTypes', 'emergencyContact'])"
                                    checked="connection.getIn(['connectionTypes', 'emergencyContact'])"
                                    [formControl]="emergencyContact">

                                <connection-type-name
                                    [connectionType]="connectionTypes.EMERGENCY_CONTACT">
                                </connection-type-name>
                            </label>
                        </div>
                        <div class="ExtraLarge">
                            <label class="Input Checkbox">
                                <input
                                    type="checkbox"
                                    id="driver"
                                    (click)="updateDriver(connection.getIn(['connectionTypes', 'driver']))"
                                    [ngModel]="connection.getIn(['connectionTypes', 'driver'])"
                                    checked="connection.getIn(['connectionTypes', 'driver'])"
                                    [formControl]="driver">

                                <connection-type-name
                                    [connectionType]="connectionTypes.DRIVER">
                                </connection-type-name>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Full">
                <div class="pull-left">
                    <button class="Button"
                            type="button"
                            (click)="isEditConnectionActive ? closeEditClick() : closeAddClick()"
                            [disabled]="!connectionForm.valid || !validPhoneForm">
                        {{ (!isEditConnectionActive ? 'ADD' : 'UPDATE') | translate }}
                    </button>
                </div>
                <div class="pull-left">
                    <button type="button"
                            class="Button Secondary"
                            tabindex="0"
                            (click)="isEditConnectionActive ? cancelEdit() : cancelAdd()">
                        {{ 'CANCEL' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
