@import 'utility';

.BeneficiaryConnections {
    &__Name {
        font-size: 1.75em;
    }

    &__Search {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    &__Add {
        margin-top: 0;
        padding-top: 0;
    }

    &.Block {
        i.Blue {
            float: left;
        }

        .OR {
            padding: 15px 0;
        }

        .Label {
            margin: 5px 0;
        }
    }

    .ExtraLarge {
        .Input {
            width: 306px;
        }
    }

    .Required__Container {
        margin: .5em 0 1em;
    }
}
