@import 'utility';

.TimePicker {
    position: relative;

    width: 100%;
    min-width: 275px;

    :host-context(.HasError) & {
        .TimePicker__InputContainer {
            background: $requiredRedBg;
            border: 1px solid $requiredRed;
        }
        .TimePicker__Time__Meridiem__Btn.active {
            background: $requiredRed;
            color: $white;
        }
    }

    &__Chevron {
        display: block;

        line-height: 0;

        &__Icon {
            font-size: 12px;
            padding: 1px 4px;
        }

        &.disabled {
            color: $gray;
            cursor: not-allowed;
        }
    }

    &__Input {
        width: 50px;
        height: auto;

        border: none;

        padding: 4.5px 0;
        text-align: center;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            margin: 0;

            -moz-appearance: none;
            -webkit-appearance: none;
        }
    }

    &__InputContainer {
        position: relative;

        border: 1px solid #ccc;
        border-radius: 0;
        display: inline-block;

        vertical-align: top;
    }

    &__Time {
        border-top: none;
        border-bottom: none;

        &__Hours,
        &__Minutes,
        &__Seconds {
            padding: 0;
        }

        &__Meridiem {
            border-radius: 0;

            margin-left: 1em;
            vertical-align: top;

            &__Btn {
                height: 30px;

                border: 1px solid #ccc;
                border-radius: 2px;

                font-weight: 200;
                padding: 0 15px;
            }
        }

        &__Section {
            border-top: none;
            border-bottom: none;
            display: inline-block;

            &--Spinners {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }

    &.ShowSpinners {
        .TimePicker__Time__Minutes {
            padding-right: 1.333em;
        }
    }

    // Disabled styles
    &.IsReadOnly {
        .TimePicker__InputContainer {
            // Target colon section
            background: $gray-lighter;
            cursor: not-allowed;

            // Target input sections
            .TimePicker__Input {
                background: $gray-lighter;

                pointer-events: none;
            }
        }

        .TimePicker__Time__Meridian__Btn {
            background: $gray-lighter;

            &:hover {
                border-color: #ccc;
                cursor: not-allowed;
            }
        }
    }
}
