<div class="TimePicker" [ngClass]="{ 'IsReadOnly' : isReadOnly, 'ShowSpinners' : showSpinners }" [ngClass]="{ 'HasError' : validateTime() }">
    <form [formGroup]="timePickerForm" novalidate>
        <div class="TimePicker__Time">
            <div class="TimePicker__InputContainer">
                <div class="TimePicker__Time__Hours TimePicker__Time__Section">
                    <input type="number"
                           placeholder="HH"
                           class="TimePicker__Input form-control text-center"
                           [min]="minTimeHour"
                           [max]="maxTimeHour"
                           [step]="hourStep"
                           [ngModel]="hours"
                           [formControl]="hoursField"
                           [disabled]="isReadOnly"
                           (mousewheel)="$event.preventDefault()"
                           (keypress)="keyPressAdjustHours($event)"
                           #hoursInput/>
                </div>
                <div class="TimePicker__Separator TimePicker__Time__Section">:</div>
                <div class="TimePicker__Time__Minutes TimePicker__Time__Section">
                    <input type="number"
                           placeholder="MM"
                           class="TimePicker__Input form-control text-center"
                           [min]="minTimeMinute"
                           [max]="maxTimeMinute"
                           [step]="minuteStep"
                           [ngModel]="minutes"
                           [formControl]="minutesField"
                           [disabled]="isReadOnly"
                           (mousewheel)="$event.preventDefault()"
                           (keypress)="keyPressAdjustMinutes($event)"
                           #minutesInput/>
                </div>
                <div class="TimePicker__Time__Section TimePicker__Time__Section--Spinners" *ngIf="showSpinners" #meridiemInput>
                    <a (click)="incrementMinutes()" class="TimePicker__Chevron TimePicker__Chevron--Up">
                        <i class="fa fa-chevron-up TimePicker__Chevron__Icon"></i>
                    </a>
                    <a (click)="decrementMinutes()" class="TimePicker__Chevron TimePicker__Chevron--Down">
                        <i class="fa fa-chevron-down TimePicker__Chevron__Icon"></i>
                    </a>
                </div>
            </div>
            <div *ngIf="showMeridiem" class="TimePicker__Time__Section TimePicker__Time__Meridiem am-pm btn-group">
                <button
                    type="button"
                    [disabled]="isReadOnly"
                    [ngClass]="{ 'active btn-primary' : selectedMeridiem === meridiems[0] && !isReadOnly }"
                    class="btn btn-default TimePicker__Time__Meridiem__Btn"
                    (click)="updateMeridiem(meridiems[0])">AM
                </button>
                <button
                    type="button"
                    [disabled]="isReadOnly"
                    [ngClass]="{ 'active btn-primary' : selectedMeridiem === meridiems[1] && !isReadOnly }"
                    class="btn btn-default TimePicker__Time__Meridiem__Btn"
                    (click)="updateMeridiem(meridiems[1])">PM
                </button>
            </div>
        </div>
    </form>
    <!-- <pre>time picker form valid: {{ timePickerForm.valid }}</pre>
    <pre>hours valid: {{ hoursField.valid }}</pre>
    <pre>minutes field: {{ minutesField.valid }}</pre> -->
</div>
