@import 'variables';
@import 'utility';

.CsrRequestsPanel{

	.Block{

		h2 {
			margin: 0;
			float: left;
		}

		.Body{
			width: 100%;
			float: left;

			.List{

				ul {
					list-style: none;
					padding: 0 0 8px 0;
					width: 525px;
					float: left;

					li{
						float: left;
					}
				}
				i {
					margin: 5px 5px 0 0;
					font-size: 0.8em;
				}
				.High{
					color: $Red;
					float: left;
				}

				.Medium{
					color: $Yellow;
					float: left;
				}

				.Priority{
					width: 15%;
				}
				.Beneficiary{
					width: 25%;
				}
				.Plan{
					width: 28%;
				}
				.Date{
					width: 18%;
					font-size: 14px;
				}
				.Status{
					// width: 15%;
				}
			}

			.Titles{

				ul {
					list-style: none;
					padding: 0 0 15px 0;
					width: 100%;
					float: left;
					border-bottom: solid 1px #777;

					li{
						float: left;
						font-weight: bold;
					}
				}

				.Priority{
					width: 15%;
				}
				.Beneficiary{
					width: 25%;
				}
				.Plan{
					width: 28%;
				}
				.Date{
					width: 18%;
				}
				.Status{
					// width: 15%;
				}
			}
		}

		.Heading{

			span, a{
				float: right;
				margin: 0 7px;
			}
		}
	}
}
