<div class="CsrRequestsPanel">
    <div class="Row Block">
        <div class="Heading">
            <h2>Your Eligibility Requests</h2>
            <a>View All</a>
            <span>Viewing: 5 of 12</span>
        </div>
        <div class="Body">
            <div class="Titles">
                <i></i>
                <ul>
                    <li class="Priority">Priority</li>
                    <li class="Beneficiary">Beneficiary</li>
                    <li class="Plan">Plan</li>
                    <li class="Date">Date</li>
                    <li class="Status">Open</li>
                </ul>
            </div>
            <div class="List">
                <i class="fa fa-square High" aria-hidden="true"></i>
                <ul>
                    <li class="Priority">High</li>
                    <li class="Beneficiary"><a [routerLink]="['/Beneficiary']">Jonathon Doe</a></li>
                    <li class="Plan"><a>UnitedHealthcare</a></li>
                    <li class="Date">08/01/2016</li>
                    <li class="Status"><a>In Review</a></li>
                </ul>
                <i class="fa fa-square Medium" aria-hidden="true"></i>
                <ul>
                    <li class="Priority">Medium</li>
                    <li class="Beneficiary"><a>Jane Thomas</a></li>
                    <li class="Plan"><a>Florida Blue</a></li>
                    <li class="Date">06/11/2016</li>
                    <li class="Status"><a>In Review</a></li>
                </ul>
                <i class="fa fa-square Medium" aria-hidden="true"></i>
                <ul>
                    <li class="Priority">Medium</li>
                    <li class="Beneficiary"><a>David Thomas</a></li>
                    <li class="Plan"><a>Aetna</a></li>
                    <li class="Date">05/01/2016</li>
                    <li class="Status"><a>In Review</a></li>
                </ul>
                <i class="fa fa-square Medium" aria-hidden="true"></i>
                <ul>
                    <li class="Priority">Medium</li>
                    <li class="Beneficiary"><a>Henery Williams</a></li>
                    <li class="Plan"><a>UnitedHealthcare</a></li>
                    <li class="Date">03/20/2016</li>
                    <li class="Status"><a>In Review</a></li>
                </ul>
                <i class="fa fa-square Medium" aria-hidden="true"></i>
                <ul>
                    <li class="Priority">Medium</li>
                    <li class="Beneficiary"><a>Rebecca Brown</a></li>
                    <li class="Plan"><a>UnitedHealthcare</a></li>
                    <li class="Date">   ---   </li>
                    <li class="Status"><a>In Review</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
