@import 'utility';

.fa-times {
    font-size: 24px;
}
.PreferredProvider {
    .fa-times {
        position: relative;
        top: 4px;
        left: 12px;
    }
}
.Col-2 {
    width: 83px;
    text-align: center;
    * {
        margin: 0;
    }
}
.ReadOnly {
    line-height: 24px;
}
