<div class="BeneficiarySpecialRequirements Block">
    <h2 class="Title">
        {{ 'SPECIAL_REQUIREMENTS' | translate }}
    </h2>

    <form *ngIf="specialRequirementsState.get('isAddSpecialRequirementActive')" [formGroup]="specialRequirementsForm" novalidate
          (ngSubmit)="onSubmit($event)">
        <div class="Full">
            <div class="pull-left">
                <div class="Large">
                    <div class="Input">
                        <div class="Dropdown" (click)="$event.preventDefault()">
                            <span [class.Required]="!specialRequirement.valid" [class.Valid]="specialRequirement.valid">*</span>
                            <strong>{{ 'SPECIAL' | translate }} {{ 'REQUIREMENT' | translate }}</strong>
                            <input type="hidden"
                                   [ngModel]="specialRequirementsState.getIn(['tempSpecialRequirement', 'type'])"
                                   [formControl]="specialRequirement">

                            <div class="Dropdown" [class.HasError]="!specialRequirement.valid && specialRequirementsForm.touched" (click)="$event.preventDefault()">
                                <div dropdown keyboardNav="true">
                                    <button id="specialRequirement" class="Input"
                                            [ngClass]="{ Error : !specialRequirementsState.get('isAddSpecialRequirementValid') }" dropdownToggle>
                                        {{ specialRequirementsState.getIn(['tempSpecialRequirement', 'type', 'value']) | translate }} <span
                                            class="Icon Inline ChevronDown"></span>
                                    </button>
                                    <ul class="dropdown-menu Dropdown Menu" role="menu"
                                        aria-labelledby="specialRequirement">
                                        <li role="menuitem"
                                            *ngFor="let choice of specialRequirementsState.get('specialRequirementTypes'); trackBy : trackByIndex">
                                            <a class="dropdown-item" href="#"
                                               (click)="updateTempSpecialRequirementType(choice)">{{ choice.value | translate }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Medium" [class.HasError]="!requirementStartDate.valid && requirementStartDate.touched">
                    <strong>{{ 'START_DATE' | translate }}</strong>
                    <date-picker
                            [ngModel]="specialRequirementsState.getIn(['tempSpecialRequirement', 'fromDate'])"
                            [formControl]="requirementStartDate"
                            [dateFormat]="dateFormat"
                            [disabled]="specialRequirementsState.getIn(['tempSpecialRequirement', 'permanentRequirement'])">
                    </date-picker>
                </div>

                <div class="Medium" [class.HasError]="!requirementThruDate.valid && requirementThruDate.touched">
                    <strong>{{ 'END_DATE' | translate }}</strong>
                    <date-picker
                            [ngModel]="specialRequirementsState.getIn(['tempSpecialRequirement', 'thruDate'])"
                            [formControl]="requirementThruDate"
                            [dateFormat]="dateFormat"
                            [disabled]="specialRequirementsState.getIn(['tempSpecialRequirement', 'permanentRequirement'])">
                    </date-picker>
                </div>

                <div class="Medium">
                    <label class="Input Checkbox NoLabel">
                        <input
                            type="checkbox"
                            id="permanentRequirement"
                            (click)="updatePermanentRequirement(specialRequirementsState.getIn(['tempSpecialRequirement', 'permanentRequirement']))"
                            [ngModel]="specialRequirementsState.getIn(['tempSpecialRequirement', 'permanentRequirement'])"
                            checked="specialRequirementsState.getIn(['tempSpecialRequirement', 'permanentRequirement'])"
                            [formControl]="permanentRequirement">
                        <span>{{ 'PERMANENT' | translate }}</span>
                    </label>
                </div>

                <div class="Small">
                    <div class="Input">
                        <br/>
                        <button type="submit" class="Button" [disabled]="!specialRequirementsForm.valid">{{ 'ADD' | translate }}</button>
                    </div>
                </div>
                <div class="Close Link">
                    <div (click)="cancelAddSpecialRequirement()" class="Input">
                        <i class="fa fa-close"></i>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div *ngFor="let requirement of specialRequirementsState.get('requirementsState'); trackBy : trackByIndex; let i = index" class="Full Space">
        <div class="pull-left">
            <div class="Large">
                <div class="Input">
                    <strong *ngIf="!isReadOnly">{{ 'SPECIAL_REQUIREMENTS' | translate }}</strong>
                    <br>{{ requirement.getIn(['type', 'value']) | translate }}
                </div>
            </div>

            <div *ngIf="requirement.get('fromDate')" class="Large">
                <strong>{{ 'ELIGIBILITY_START_DATE' | translate }}</strong>
                <br/>{{ requirement.get('fromDate') }}
            </div>

            <div *ngIf="requirement.get('thruDate')" class="Large">
                <strong>{{ 'ELIGIBILITY_END_DATE' | translate }}</strong>
                <br/>{{ requirement.get('thruDate') }}
            </div>

            <div *ngIf="!requirement.get('fromDate') && !requirement.get('thruDate')" class="Small">
                <br/>
                <strong>{{ 'PERMANENT' | translate }}</strong>
            </div>


            <div *ngIf="!isReadOnly" class="Small pull-left">
                <br />
                <div *ngIf="!requirement.get('fromDate')" class="Spacer">&nbsp;</div>
                <div *ngIf="!requirement.get('thruDate')" class="Spacer">&nbsp;</div>
                <div (click)="removeSpecialRequirement(i)" class="pull-left Link">
                    <i class="fa fa-trash Orange"></i>{{ 'REMOVE' | translate }}
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="specialRequirementsState.get('requirementsState').size === 0 && !isNewProfile && !specialRequirementsState.get('isAddSpecialRequirementActive')" class="Full Space">
        <div class="pull-left">
            <div class="Largest">
                <div class="Input">
                    {{ 'NO_SPECIAL_REQUIREMENTS_ON_FILE' | translate }}
                    <br/>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!specialRequirementsState.get('isAddSpecialRequirementActive') && !isReadOnly" class="Full">
        <div class="Link">
            <i class="fa fa-plus fa-2x Blue"></i>
            <span><a (click)="addBeneficiarySpecialRequirementActive()" tabindex="0">
                {{ 'ADD_A_SPECIAL_REQUIREMENT' | translate }}</a>
            </span>
        </div>
    </div>
</div>
