@import 'utility';

.BeneficiarySpecialRequirements {
    &.Block {
        .Close {
            display: inline-block;

            margin-top: 1.7em;
            vertical-align: middle;
        }

        .Spacer {
            width: 107px;

            float: left;
        }

        // These are way different than global scope Block classes so leaving in for now
        .Full {
            padding: 11px 0 0;
        }

        .Largest {
            .Input,
            .Label {
                width: 482px;
            }
        }

        .Large {
            .Input,
            .Label {
                width: 180px;
            }
        }

        .Medium {
            width: 152px;

            margin: 0 15px 0 0;
        }

        .Small {
            .Input,
            .Label {
                width: 82px;
            }
        }
    }
}
