<div class="Pagination">
    <ul *ngIf="paginationConfig.totalRecords !== 0" class="Main pagination pagination-sm">
    <li class="pull-left">{{ paginationConfig.getDisplayedRecords()}} {{ 'ITEMS' | translate }}</li>

        <!--decrement page index button-->
        <li *ngIf="paginationConfig.pageOffset === 0">
            <a class="fa fa-caret-left fa-3x Box Gray"></a>
        </li>
        <li *ngIf="paginationConfig.pageOffset !== 0" (click)="emitDecrementPageIndex()">
            <a class="fa fa-caret-left fa-3x Box Blue"></a>
        </li>

        <!--current page index display-->
        <li>
            <a class="Box Gray Numeric">{{ paginationConfig.pageOffset + 1 }}</a>
        </li>

        <li class="pull-left">{{ 'OF_' | translate }} {{ paginationConfig.getTotalNumberOfPages() }}</li>

        <!--increment page index button-->
        <li *ngIf="paginationConfig.pageOffset + 1 >= paginationConfig.getTotalNumberOfPages()">
            <a class="fa fa-caret-right fa-3x Box Gray"></a>
        </li>
        <li *ngIf="paginationConfig.pageOffset + 1 < paginationConfig.getTotalNumberOfPages()">
            <a (click)="emitIncrementPageIndex()" class="fa fa-caret-right fa-3x Box Blue"></a>
        </li>
    </ul>
</div>
