@import 'variables';
@import 'utility';

.Pagination{
	width: 100%;

    .Main{
        float: right;
        margin: 10px 0;

        li {
            line-height: 30px;


            .fa-3x {
                font-size: 1.6em;
            }

            .Gray {
                color: $medium-gray;
            }

            .Blue {
                color: $accent-blue;
            }

            .Box {
                line-height: 30px;
                text-align: center;
                padding: 0px;
                width: 30px;
                height: 30px;
                margin: 0 0 0 10px;
            }

            .Numeric {
                font-size: 1em;
                color: $color-black;
            }

            .Gray:hover {
                background-color: $color-white;
            }

            &.pull-left {
                padding: 0 5px 0 15px;
            }
        }

    }

}
