@import 'utility';

.FilterPanel {
    width: 100%;
    height: 52px;

    background-color: $utility-blue;
    border-radius: $border-radius-small $border-radius-small 0 0;
    color: $white;

    float: left;
    padding: $padding-large-vertical $padding-small-horizontal;

    &__ClearFilter {
        color: $utility-blue;

        font-size: 14px;
    }

    &__Dropdown {
        float: left;
    }

    &__FilterOption {
        background-color: $white;
        border: 0;
        color: $primary-blue;

        margin: 0 .2em;
        padding: .35em 1em;
    }

    &__FromDate {
        float: left;
        margin-right: 1em;
    }

    &__Input {
        width: 75px;

        border-radius: $border-radius-small;
        color: $dark-gray;

        font-weight: bold;
    }

    &__Label {
        height: 32px;

        color: $light-gray;

        float: left;
        font-weight: bold;
        line-height: 32px;
        margin-right: 10px;
    }

    &__Popover {
        color: $black;

        // No padding needed with popovers containing check lists
        &--NoPadding {
            /deep/ .popover-content {
                padding: 0;
            }
        }
    }

    &__SelectionList {
        max-height: 400px;

        list-style-type: none;
        margin: 0;
        overflow-y: auto;
        padding: 1em 0 0;
    }

    &__TextFilter {
        width: 25%;

        border-radius: $border-radius-small;
        color: $dark-gray;

        font-weight: bold;
        margin-right: 1em;
    }

    &__ToDate {
        float: right;
    }
}
