<div class="FilterPanel">
    <!-- text filter -->
    <input
        type="text"
        class="FilterPanel__TextFilter"
        placeholder="Filter..."
        [formControl]="textFilter"/>

    <!-- date filter -->
    <button class="FilterPanel__FilterOption" [popover]="dateFilterPopover">
        Date
        <i *ngIf="isFilteredByDate()" (click)="clearDateRangeFilter()" class="fa fa-times FilterPanel__ClearFilter"></i>
    </button>

    <!-- treatment type filter -->
    <button class="FilterPanel__FilterOption" [popover]="treatmentTypeFilterPopover">
        Treatment Type
        <i *ngIf="isFilteredByTreatmentType()" (click)="onClearTreatmentTypeFilter()" class="fa fa-times FilterPanel__ClearFilter"></i>
    </button>

    <!-- trip status filter -->
    <button *ngIf="isHistory" class="FilterPanel__FilterOption" [popover]="statusFilterPopover">
        Trip Status
        <i *ngIf="isFilteredByTripStatus()" (click)="onClearStatusFilter()" class="fa fa-times FilterPanel__ClearFilter"></i>
    </button>

    <!-- trip type filter -->
    <button *ngIf="!isHistory" class="FilterPanel__FilterOption" [popover]="tripTypeFilterPopover">
        Trip Type
        <i *ngIf="isFilteredByTripType()" (click)="onClearTripTypeFilter()" class="fa fa-times FilterPanel__ClearFilter"></i>
    </button>

    <!-- items per page dropdown -->
    <div class="pull-right">
        <span class="FilterPanel__Label">{{ 'VIEW' | translate }}:</span>

        <div class="FilterPanel__Dropdown" (click)="$event.preventDefault()">
            <div dropdown keyboardNav="true">
                <button id="searchViewCount" class="FilterPanel__Input" dropdownToggle>
                    {{ historyState.get('itemsPerPage') }} <i class="Icon Inline ChevronDown"></i>
                </button>
                <ul class="dropdown-menu Menu" role="menu" aria-labelledby="historyViewCount">
                    <li role="menuitem" *ngFor="let choice of historyState.get('itemsPerPageChoices'); trackBy : trackByValue">
                        <a class="dropdown-item" href="#" (click)="changePageSize(choice, $event)">{{ choice }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- date filter popover -->
    <popover-content
        class="FilterPanel__Popover"
        #dateFilterPopover
        [closeOnClickOutside]="!isDatePickerOpen">
        <div class="ClearFix">
            <div class="FilterPanel__FromDate">
                <strong>From</strong>
                <date-picker
                    [ngModel]="historyState.getIn(['filters', 'dateRange', 'fromDate'])"
                    [formControl]="fromDate"
                    [dateFormat]="dateFormat"
                    (onClose)="onSetDatePickerIsOpen(false)"
                    (onOpen)="onSetDatePickerIsOpen(true)">
                </date-picker>
            </div>
            <div class="FilterPanel__ToDate">
                <strong>To</strong>
                <date-picker
                    [ngModel]="historyState.getIn(['filters', 'dateRange', 'thruDate'])"
                    [formControl]="thruDate"
                    [dateFormat]="dateFormat"
                    (onClose)="onSetDatePickerIsOpen(false)"
                    (onOpen)="onSetDatePickerIsOpen(true)">
                </date-picker>
            </div>
        </div>
    </popover-content>

    <!-- treatment type filter popover -->
    <popover-content
        class="FilterPanel__Popover FilterPanel__Popover--NoPadding"
        #treatmentTypeFilterPopover
        [closeOnClickOutside]="true">
        <ul class="FilterPanel__SelectionList">
            <li *ngFor="let treatment of sortedTreatmentTypes">
                <label class="Checkbox">
                    <input
                        type="checkbox"
                        [checked]="historyState.getIn(['filters', 'treatmentType', treatment.get('uuid')])"
                        (click)="onTreatmentTypeClick(treatment)">
                    {{ treatment.get('name') }}
                </label>
            </li>
        </ul>
    </popover-content>

    <!-- trip status filter popover -->
    <popover-content
        class="FilterPanel__Popover FilterPanel__Popover--NoPadding"
        #statusFilterPopover
        [closeOnClickOutside]="true">
        <ul class="FilterPanel__SelectionList">
            <li *ngFor="let status of statuses.toList()">
                <label class="Checkbox">
                    <input
                        type="checkbox"
                        [checked]="historyState.getIn(['filters', 'tripStatus', status.get('id')])"
                        (click)="onStatusClick(status)">
                    {{ status.get('name') }}
                </label>
            </li>
        </ul>
    </popover-content>

    <!-- trip type filter popover -->
    <popover-content
        class="FilterPanel__Popover FilterPanel__Popover--NoPadding"
        #tripTypeFilterPopover
        [closeOnClickOutside]="true">
        <ul class="FilterPanel__SelectionList">
            <li *ngFor="let tripType of tripTypes">
                <label class="Checkbox">
                    <input
                        type="checkbox"
                        [checked]="historyState.getIn(['filters', 'tripType', tripType])"
                        (click)="onTripTypeClick(tripType)">
                    {{ tripType }}
                </label>
            </li>
        </ul>
    </popover-content>
</div>

