@import 'utility';

.BeneficiaryHeader {
    .Bottom {
        float: left;

        .Address,
        .Phone,
        .Email {
            float: left;

            margin-right: 30px;
        }

        .fa {
            font-size: 18px;
            line-height: .8;

            float: left;

            margin: 4px 10px 4px 0;

            color: $Orange;
        }
    }

    .Top {
        float: left;

        width: 720px;
        margin: 0 30px 5px 0;

        h1 {
            float: left;

            margin: 0;
            padding: 0;
        }

        span {
            padding: 0 5px;

            vertical-align: -8px;
        }
    }

    .Required {
        margin: 0 0 5px;

        text-align: right;

        span {
            color: $LiteRed;
        }
    }

    .Widget {
        float: right;

        margin: -15px 0 0;
    }
}
