<div *ngIf="headerConfig.get('headerType') === headerTypes.BENEFICIARY_PROFILE" class="BeneficiaryHeader Block">
    <h1>{{ headerConfig.get('title') | translate }}</h1>
</div>

<div *ngIf="headerConfig.get('headerType') === headerTypes.CREATE_NEW_PROFILE" class="BeneficiaryHeader">
    <h1>{{ headerConfig.get('title') | translate }}</h1>

    <div class="Required">
        <span>*</span> {{ 'REQUIRED' | translate }}
    </div>
</div>

<div *ngIf="headerConfig.get('headerType') === headerTypes.BENEFICIARY_MAIN && headerConfig.get('firstName')" class="BeneficiaryHeader Block">
    <div class="Top">
        <h1>{{ headerConfig.get('firstName') + ' ' + headerConfig.get('lastName') }}</h1>
        <span>({{ headerConfig.get('birthDate') | dateDisplayFormat }})</span>
    </div>

    <div class="Bottom">
        <div class="Address">
            <i class="fa fa-map-marker fa-2x"></i>{{ headerConfig.get('primaryAddress') }}
        </div>
        <div class="Email">
            <i class="fa fa-envelope-o fa-2x"></i><a>{{ headerConfig.get('primaryEmail') }}</a>
        </div>
        <div class="Phone">
            <i class="fa fa-phone fa-2x"></i><span>{{ headerConfig.get('primaryPhone') | phoneFormat }}</span>
        </div>
    </div>

    <div class="Widget">
        <button class="Button" (click)="goViewProfile()">{{ 'VIEW_PROFILE' | translate }}</button>
    </div>
</div>
