@import 'utility';

.ReservationListLeg {
    &__Header {
        background-color: $fadedGreen;
        color: $white;

        margin: 0 -25px 0 -10px;
        padding-left: 1.5em;

        &__Text {
            float: left;
            font-weight: bold;
            margin-top: 6px;
        }

        &__Button {
            width: 115px;

            background-color: $DarkGreen;
            cursor: pointer;

            float: right;
            padding: .5em;

            &__Icon {
                float: right;
                margin: .2em 0 0 0;
            }
        }
    }

    &__Body {
        padding: 1.2em 0;

        &__Column {
            display: inline-block;

            vertical-align: top;

            &:nth-of-type(n+2) {
                margin-left: 1%;
            }

            &--Third {
                width: 32%;
            }

            &--Half {
                width: 48%;
            }
        }

        &__Content {
            display: inline-block;

            line-height: 200%;
            padding-top: 1.2em;

            &--Half {
                width: 48%;
            }

            &--Full {
                width: 100%;
            }
        }
    }
}
