<div class="ReservationListLeg">
    <div class="ReservationListLeg__Header ClearFix">
        <span class="ReservationListLeg__Header__Text">{{label}}: {{getDisplayDate()}} @ {{getDisplayTime()}}</span>
        <span class="ReservationListLeg__Header__Button" (click)="toggleExpanded()">
            View {{ expanded ? 'Less' : 'More' }}<i class="ReservationListLeg__Header__Button__Icon fa" [ngClass]="expanded ? 'fa-minus' : 'fa-plus'"></i>
        </span>
    </div>
    <div class="ReservationListLeg__Body ClearFix" *ngIf="expanded">
        <div class="ReservationListLeg__Body__Column ReservationListLeg__Body__Column--Half">
            <strong>Pick Up</strong>
            <div>{{leg.getIn(['pickupLocation', 'address1'])}}</div>
            <div *ngIf="leg.getIn(['pickupLocation', 'address2'], '') !== ''">{{leg.getIn(['pickupLocation', 'address2'])}}</div>
            <div>{{leg.getIn(['pickupLocation', 'city'])}}, {{leg.getIn(['pickupLocation', 'state'])}} {{leg.getIn(['pickupLocation', 'zipCode'])}}</div>
            <div *ngIf="leg.getIn(['pickupLocation', 'address2'], '') === ''">&nbsp;</div>

            <div class="ReservationListLeg__Body__Content">
                <div *ngIf="!isHistory" class="ReservationListLeg__Body__Content ReservationListLeg__Body__Content--Full">
                    Requested By: {{ leg.getIn(['requestedBy', 'name']) }}
                    <span *ngIf="leg.getIn(['requestedBy', 'connectionType'])"> ({{ leg.getIn(['requestedBy', 'connectionType'])}})</span>
                </div>
                <div *ngIf="!isHistory" class="ReservationListLeg__Body__Content ReservationListLeg__Body__Content--Full">
                    Created By: {{ leg.get('createdBy') }}
                </div>
                <div *ngIf="!isHistory" class="ReservationListLeg__Body__Content ReservationListLeg__Body__Content--Full">
                    Created On: {{ leg.get('createdOn') | date:'short' }}
                </div>
                <div *ngIf="!isHistory" class="ReservationListLeg__Body__Content ReservationListLeg__Body__Content--Full">
                    Status: {{ leg.getIn(['status', 'name']) }}
                </div>
                <div class="ReservationListLeg__Body__Content ReservationListLeg__Body__Content--Full">
                    Special Requirement(s): {{ getSpecialRequirementsList(leg.get('transportationItemSpecialRequirements')) }}
                </div>
                <div class="ReservationListLeg__Body__Content ReservationListLeg__Body__Content--Full">
                    Mode of Transportation: {{ modeOfTransportationName }}
                </div>
                <div class="ReservationListLeg__Body__Content ReservationListLeg__Body__Content--Half">
                    Height: {{height}}
                </div>
                <div class="ReservationListLeg__Body__Content ReservationListLeg__Body__Content--Half">
                    Weight: {{weight}}
                </div>
            </div>
        </div>
        <div class="ReservationListLeg__Body__Column ReservationListLeg__Body__Column--Half">
            <strong>Drop Off</strong>
            <div>{{leg.getIn(['dropOffLocation', 'address1'])}}</div>
            <div *ngIf="leg.getIn(['dropOffLocation', 'address2'], '') !== ''">{{leg.getIn(['dropOffLocation', 'address2'])}}</div>
            <div>{{leg.getIn(['dropOffLocation', 'city'])}}, {{leg.getIn(['dropOffLocation', 'state'])}} {{leg.getIn(['dropOffLocation', 'zipCode'])}}</div>
            <div *ngIf="leg.getIn(['dropOffLocation', 'address2'], '') === ''">&nbsp;</div>

            <div class="ReservationListLeg__Body__Content">
                <div class="ReservationListLeg__Body__Content ReservationListLeg__Body__Content--Full" *ngIf="leg.get('transportationItemPassengers').count() > 0">
                    Additional Passenger(s): {{ getAdditionalPassengersList(leg.get('transportationItemPassengers')) }}
                </div>
            </div>
            <div class="ReservationListLeg__Body__Content">
                <div class="ReservationListLeg__Body__Content ReservationListLeg__Body__Content--Full" *ngIf="leg.get('transportationItemPassengers').count() > 0">
                    Additional Special Requirement(s): {{ getPassengerSpecialRequirementsList(leg.get('transportationItemPassengers')) }}
                </div>
            </div>
        </div>
    </div>
</div>
