<div class="ReservationHistory">
    <h1>{{ isHistory ? ('RESERVATIONS_HISTORY' | translate) : ('SCHEDULED_RESERVATIONS' | translate) }}</h1>

    <!-- top pagination controller -->
    <pagination-component
        class="Block"
        [paginationConfig]="paginationConfig"
        (decrementPageIndex)="onGoToPreviousPage($event)"
        (incrementPageIndex)="onGoToNextPage($event)">
    </pagination-component>

    <reservation-history-filter-panel
        [historyState]="historyState"
        [isHistory]="isHistory"
        [statuses]="statuses"
        [treatmentTypes]="treatmentTypes"
        [tripTypes]="tripTypes"
        (changeItemsPerPage)="onSetItemsPerPage($event)"
        (changeTextFilter)="onChangeTextFilter($event)"
        (changeDateFilter)="onChangeDateFilter($event)"
        (clearStatusFilter)="onClearStatusFilter($event)"
        (clearTreatmentTypeFilter)="onClearTreatmentTypeFilter($event)"
        (clearTripTypeFilter)="onClearTripTypeFilter($event)"
        (toggleStatusFilterValue)="onToggleStatusFilterValue($event)"
        (toggleTreatmentTypeFilterValue)="onToggleTreatmentTypeFilterValue($event)"
        (toggleTripTypeFilterValue)="onToggleTripTypeFilterValue($event)">
    </reservation-history-filter-panel>

    <reservation-list
        [beneficiary]="beneficiary"
        [isHistory]="isHistory"
        [historyState]="historyState"
        [reservations]="reservations"
        (setSortOptions)="onSetSortOptions($event)">
    </reservation-list>

    <!-- bottom pagination controller -->
    <pagination-component
        class="Block"
        [paginationConfig]="paginationConfig"
        (decrementPageIndex)="onGoToPreviousPage($event)"
        (incrementPageIndex)="onGoToNextPage($event)">
    </pagination-component>
</div>
