@import 'variables';
@import 'utility';

.Tooltip{
    position: relative;
    display: inline-block;
    border-bottom: 1px dashed $Blue;

	&.Text {
	    width: 234px;
	    background-color: #6B6B6B;
	    color: #fff;
	    text-align: left;
	    padding: 5px;
	    position: absolute;
	    z-index: 1;
	    left: -22px;

	    .fa{
	    	color: $color-white;
	    	float: right;
	    	cursor: pointer;
	    	font-size: 1.3em;
	    }
	}

    a:hover {
    	text-decoration: none;
    	color: $Blue;
    }
}

