<div *ngIf="plan" class="Tooltip">
    <div>
        <a (click)="toggleTooltip()">{{ plan.get('organization') }}</a>

        <div *ngIf="showTooltip" class="Tooltip Text">
            <i class="fa fa-times-circle-o" (click)="toggleTooltip()" aria-hidden="true"></i>

            <div *ngIf="plan.get('planIdLabel') !== 'N/A'">{{ plan.get('planIdLabel') }}: {{ plan.get('planIdValue') }}</div>

            <div *ngIf="dateRanges">{{ 'ELIGIBILITY_DATES' | translate }}: {{ dateRanges }}</div>
        </div>
    </div>
</div>
