<div class="BeneficiaryPhones Block">
    <form [formGroup]="phoneForm" novalidate>
        <div class="Full">
            <div class="pull-left">
                <div class="Medium">
                    <div class="Label">
                        <span [class.Required]="!phoneType.valid" [class.Valid]="phoneType.valid">*</span>
                        <strong>{{ 'PHONE' | translate }} {{ 'TYPE' | translate }}</strong>
                    </div>
                    <input type="hidden"
                           id="phoneType"
                           [ngModel]="beneficiaryPhone.getIn(['phoneType', 'value'])"
                           [formControl]="phoneType">

                    <div class="Dropdown" [class.HasError]="!phoneType.valid && phoneForm.touched" (click)="$event.preventDefault()">
                        <div dropdown keyboardNav="true">
                            <button id="phoneType" class="Input" dropdownToggle>
                                {{ beneficiaryPhone.getIn(['phoneType', 'value']) | translate }} <span
                                    class="Icon Inline ChevronDown"></span>
                            </button>
                            <ul class="dropdown-menu Dropdown Menu" role="menu" aria-labelledby="phoneType">
                                <li role="menuitem" *ngFor="let choice of phoneTypes; trackBy : trackByIndex">
                                    <a class="dropdown-item" href="#" (click)="updatePhoneTypes(choice)">{{ choice.value | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="ExtraLarge" [class.HasError]="!phone.valid && phone.touched">
                    <div class="Label">
                        <span [class.Required]="!phone.valid" [class.Valid]="phone.valid">*</span>
                        <strong>{{ 'PHONE' | translate }} {{ 'NUMBER' | translate }}</strong>
                    </div>
                    <input type="text"
                           id="phone"
                           class="Input"
                           autocomplete="off"
                           [ngModel]="beneficiaryPhone.get('phone')"
                           [formControl]="phone"
                           placeholder="( ___ ) ___-____"
                           [textMask]="{mask: phoneMaskRegex}">
                </div>

                <div class="Medium">
                    <div class="Label">
                        <strong>{{ 'RECEIVE_NOTIFICATIONS' | translate }}&#63;</strong>
                    </div>
                    <input type="hidden"
                           id="phoneNotifications"
                           [ngModel]="beneficiaryPhone.getIn(['phoneNotifications', 'value'])"
                           [formControl]="phoneNotifications">

                    <div class="Dropdown" (click)="$event.preventDefault()">
                        <div dropdown keyboardNav="true">
                            <button id="phoneNotifications" class="Input" dropdownToggle>
                                {{ beneficiaryPhone.getIn(['phoneNotifications', 'value']) | translate }} <span
                                    class="Icon Inline ChevronDown"></span>
                            </button>
                            <ul class="dropdown-menu Dropdown Menu" role="menu" aria-labelledby="phoneNotifications">
                                <li role="menuitem" *ngFor="let choice of solicitationIndicatorTypes; trackBy : trackByIndex">
                                    <a class="dropdown-item" href="#"
                                       (click)="updatePhoneNotifications(choice)">{{ choice.value | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
