@import 'utility';

.BeneficiaryPhones {
    &.Block {
        //background-color: #f7f7f7;
        margin: 0;
        padding: 0;

        .Label {
            margin: 0 0 10px;

            color: #000;
        }

        .Title {
            margin: 0;
            padding: 0;
        }
    }
}
