@import 'variables';
@import 'utility';

.DashboardHeader {
    width: $MaxWidth;
    display: inline-block;
    float: left;

    .Main{
        width: 610px;
        float: left;

        .CalendarBlock{

            .Text{
                float: left;
                width: 40px;
                margin: 0 8px;

                .Month{
                    position: relative;
                    top: -5px;
                }
            }

            .fa {
                float: left;
                color: $Orange;
            }

            .Number{
                float: left;
                margin: 5px 0px 0px -4px;

                h1{
                    margin: 0;
                }

            }
        }
    }
    .Panel{
        width: 155px;
        float: left;
        .TimeBlock{

            .Text{
                font-size: 12px;
                color: $Orange;
                float: left;
                padding: 0 5px;
            }

            .fa {
                float: left;
                color: $Orange;
                margin: 11px 0 0;
            }

            .Number{
                float: left;
                width: 100px;
                margin: 0 8px;

                h2, h5{
                    margin: 0;
                    float: left;
                }
                h5{
                    margin-top: 10px;
                    color: #999;
                }
            }
        }
    }
}
