@import 'utility';

.BeneficiaryForm {
    &__Table {
        margin: 1em 0 0 0;
        width: 100%;

        &__Head {
            border: none;
            margin-bottom: 1em;
        }
        &__Header {
            padding: .75em .75em .75em 0;
            font-size: 1.1em;
            min-width: 120px;
        }
        &__Cell {
            border: none;
            padding: .75em 0;
        }
    }

    &__Expiration {
        padding-top: 0;

        @media screen and (max-width: 653px) {
            padding-top: 15px;
        }

        &__None {
            margin-top: 1.8em;
            padding-bottom: 0;

            @media screen and (max-width: 473px) {
                margin-top: .8em;
            }
        }
    }
}

.ContactRow {
    position: relative;

    .panel-body,
    .remove-icon {
        float: left;
    }

    .remove-icon {
        position: relative;
        bottom: -50px;

        cursor: pointer;
    }
}

.BeneficiaryFormCard {
    width: 800px !important;
    h2 {
        margin: 0 0 10px 0;
    }
     strong {
         padding: 0 5px 0 0;
     }
     .Row {
         @extend %clear;
         margin: 0 0 10px 0;
     }
}
