<div class="BeneficiaryForm" *ngIf="!beneficiaryFormData.get('isFormVisible')">
    <div class="Block">
        <div class="Heading">
            <h2>{{ 'FORMS' | translate }}</h2>
            <div class="pull-right Link">
                <div class="Small">
                    <a (keypress)="editKeyPressHandler($event)" (click)="showAddBeneficiaryForm()" tabindex="0">{{ 'ADD' | translate }}</a>
                </div>
            </div>
        </div>

        <table class="BeneficiaryForm__Table" *ngIf="beneficiaryForms.count() > 0">
            <thead class="BeneficiaryForm__Table__Head">
                <tr>
                    <th class="BeneficiaryForm__Table__Header">{{ 'FORM' | translate }}</th>
                    <th class="BeneficiaryForm__Table__Header">{{ 'AUTHORIZED_BY' | translate }}</th>
                    <th class="BeneficiaryForm__Table__Header">{{ 'EFFECTIVE' | translate }}</th>
                    <th class="BeneficiaryForm__Table__Header">{{ 'EXPIRES' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let form of beneficiaryForms; let i = index; trackBy : trackByIndex">
                    <td class="BeneficiaryForm__Table__Cell"><a href="#">{{ form.getIn(['type', 'value']) }}</a> </td>
                    <td class="BeneficiaryForm__Table__Cell">{{ form.get('authorizedBy') }} </td>
                    <td class="BeneficiaryForm__Table__Cell">{{ form.get('fromDate') | dateDisplayFormat }}</td>
                    <td class="BeneficiaryForm__Table__Cell">{{ form.get('thruDate') | dateDisplayFormat }}</td>
                </tr>
            </tbody>
        </table>
        <table class="BeneficiaryForm__Table" *ngIf="beneficiaryForms.count() === 0">
            <thead class="BeneficiaryForm__Table__Head">
            <tr>
                <th class="BeneficiaryForm__Table__Header">{{ 'NO_FORMS_ON_FILE' | translate }}</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<div class="BeneficiaryFormCard Block Popped" *ngIf="SomeThingTrue">
    <h2>View Form Details</h2>
    <div class="pull-right Link">
        <div class="Small">
            <i class="fa fa-times fa-2x Black" (click)="cancelUpdate()" aria-hidden="true"></i>
        </div>
    </div>
    <div class="Full">
        <div class="Row">
            <div class="Col-5">
                <strong>{{ 'SELECTED_FORM_TYPE' | translate }}: </strong>Medical Necessity
            </div>
            <div class="Col-5">
                <strong>{{ 'FORM_REASON' | translate }}: </strong>Wheelchair van
            </div>
        </div>
        <div class="Row">
            <div class="Col-5">
                <strong>{{ 'EFFECTIVE_DATE' | translate }}: </strong>01/01/2017
            </div>
            <div class="Col-5">
                <strong>{{ 'EXPIRATION_DATE' | translate }}: </strong>12/31/2017
            </div>
        </div>
        <div class="Row">
            <div class="Col-5">
                <strong>{{ 'AUTHORIZATION_REASON' | translate }}: </strong>Authorization Reason
            </div>
            <div class="Col-5">
                <strong>{{ 'AUTHORIZATION_NOTE' | translate }}: </strong>Note will display here if it applies
            </div>
        </div>
        <div class="Row">
            <div class="Col-5">
                <strong>{{ 'AUTHORIZED_BY' | translate }}: </strong>Dr. John Doesomelongname
            </div>
            <div class="Col-5">
                <strong>{{ 'AUTHORIZATION_CODE' | translate }}: </strong>Auth code
            </div>
        </div>
        <div class="Row">
            <div class="Col-5">
                <strong>{{ 'PHONE_NUMBER_TYPE' | translate }}: </strong>Mobile
            </div>
            <div class="Col-5">
                <strong>{{ 'PHONE_NUMBER' | translate }}: </strong>(555)555-1234
            </div>
        </div>
    </div>
</div>

<div class="BeneficiaryFormComponent Block Popped" *ngIf="beneficiaryFormData.get('isFormVisible')">
    <form [formGroup]="beneficiaryForm" novalidate (ngSubmit)="onSubmit($event)">
        <div class="pull-right Link">
            <div class="Small">
                <i class="fa fa-times fa-2x Black" (click)="cancelUpdate()" aria-hidden="true"></i>
            </div>
        </div>
        <h2 class="Title">
            {{ 'ADD_A_FORM' | translate }}
        </h2>
        <div class="Full">
            <div class="Large">
                <div class="Label">
                    <span [ngClass]="{ 'Required' : !beneficiaryForm.controls['formType'].valid, 'Valid' : beneficiaryForm.controls['formType'].valid }">*</span> <strong>{{ 'SELECT_FORM_TYPE' | translate }}</strong>
                </div>
                <input type="hidden"
                       [ngModel]="beneficiaryFormData.getIn(['type', 'value'])"
                       [formControl]="formType">

                <div class="Dropdown" [ngClass]="{ 'HasError' : !beneficiaryForm.controls['formType'].valid && beneficiaryForm.controls['formType'].touched }" (click)="$event.preventDefault()">
                    <div dropdown keyboardNav="true">
                        <button dropdownToggle tabindex="0">
                            {{ beneficiaryFormData.getIn(['type', 'value']) | translate }}
                            <span class="Icon inline Dropdown ChevronDown"></span>
                        </button>
                        <ul class="dropdown-menu Dropdown Menu" role="menu" aria-labelledby="addressType">
                            <li role="menuitem" *ngFor="let choice of formTypes; trackBy : trackByIndex">
                                <a class="dropdown-item" href="#" (click)="updateSelectedFormType(choice, $event)">{{ choice.get('value') | translate }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="Large" *ngIf="beneficiaryFormData.getIn(['type', 'value']) !== 'SELECT' && beneficiaryFormData.getIn(['type', 'serviceOfferings'])">
                <div class="Label">
                    <span [ngClass]="{ 'Required' : !beneficiaryForm.controls['serviceOfferings'].valid, 'Valid' : beneficiaryForm.controls['serviceOfferings'].valid }">*</span> <strong>{{ 'SELECT_REASON' | translate }}</strong>
                </div>

                <div *ngIf="beneficiaryFormData.getIn(['type', 'value']) !== 'MNF - Additional Passenger'">
                    <input type="hidden"
                           [ngModel]="beneficiaryFormData.getIn(['serviceOfferings', 0, 'value'])"
                           [formControl]="serviceOfferings">

                    <div class="Dropdown" (click)="$event.preventDefault()">
                        <div dropdown keyboardNav="true">
                            <button class="Input" dropdownToggle>
                                {{ beneficiaryFormData.getIn(['serviceOfferings', 0, 'value']) | translate }}
                                     <span class="Icon Inline ChevronDown"></span>
                            </button>
                            <ul class="dropdown-menu Dropdown Menu" role="menu" aria-labelledby="serviceOfferings">
                                <li role="menuitem" *ngFor="let choice of beneficiaryFormData.getIn(['type', 'serviceOfferings']); trackBy : trackByIndex">
                                    <a class="dropdown-item" href="#" (click)="updateSelectedServiceOffering(choice, $event)">{{ choice.get('value') | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div *ngIf="beneficiaryFormData.getIn(['type', 'value']) === 'MNF - Additional Passenger'">
                    <input type="hidden"
                           [ngModel]="beneficiaryFormData.get('numPassengers')"
                           [formControl]="serviceOfferings">

                    <div class="Dropdown" (click)="$event.preventDefault()">
                        <div dropdown keyboardNav="true">
                            <button class="Input" dropdownToggle>
                                {{ beneficiaryFormData.get('numPassengers') }}
                                <span class="Icon Inline ChevronDown"></span>
                            </button>
                            <ul class="dropdown-menu Dropdown Menu" role="menu" aria-labelledby="serviceOfferings">
                                <li role="menuitem" *ngFor="let choice of beneficiaryFormData.getIn(['type', 'serviceOfferings']); trackBy : trackByIndex">
                                    <a class="dropdown-item" href="#" (click)="updateSelectedServiceOffering(choice, $event)">{{ choice.get('value') | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div>
            <div class="Full">
                <div class="Large" [ngClass]="{ 'HasError' : !beneficiaryForm.controls['effectiveDate'].valid && beneficiaryForm.controls['effectiveDate'].touched }">
                    <div class="Label">
                        <span [ngClass]="{ 'Required' : !beneficiaryForm.controls['effectiveDate'].valid, 'Valid' : beneficiaryForm.controls['effectiveDate'].valid }">*</span> <strong>{{ 'EFFECTIVE_DATE' | translate }}</strong>
                    </div>
                    <date-picker
                        [ngModel]="beneficiaryFormData.get('fromDate')"
                        [formControl]="effectiveDate"
                        [dateFormat]="dateFormat"
                        [disabled]="beneficiaryFormData.get('noExpiration')">
                    </date-picker>
                </div>

                <div class="Large">
                    <div class="BeneficiaryForm__Expiration">
                        <div class="Large">
                            <div class="Label">
                                <strong>{{ 'EXPIRATION_DATE' | translate }}</strong>
                            </div>
                            <date-picker
                                [ngModel]="beneficiaryFormData.get('thruDate')"
                                [formControl]="expirationDate"
                                [dateFormat]="dateFormat"
                                [disabled]="beneficiaryFormData.get('noExpiration')">
                            </date-picker>
                        </div>

                        <div class="Large">
                            <label class="Input Checkbox BeneficiaryForm__Expiration__None">
                                <input
                                    type="checkbox"
                                    (change)="updateNoExpiration($event)"
                                    [ngModel]="beneficiaryFormData.get('noExpiration')"
                                    [checked]="beneficiaryFormData.get('noExpiration')"
                                    [formControl]="noExpiration">
                                <span>{{ 'NO_EXPIRATION_DATE' | translate }}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="beneficiaryFormData.get('noExpiration')">
            <div class="Full">
                <div class="Large">
                    <div class="Label">
                        <span [ngClass]="{ 'Required' : !beneficiaryForm.controls['authorizationReason'].valid, 'Valid' : beneficiaryForm.controls['authorizationReason'].valid }">*</span> <strong>{{ 'AUTHORIZATION_REASON' | translate }}</strong>
                    </div>
                    <input type="hidden"
                           [ngModel]="beneficiaryFormData.getIn(['authorizationReason', 'value'])"
                           [formControl]="authorizationReason">

                    <div class="Dropdown" (click)="$event.preventDefault()">
                        <div dropdown keyboardNav="true">
                            <button id="authorizationReason" class="Input" dropdownToggle>
                                {{ beneficiaryFormData.getIn(['authorizationReason', 'value']) | translate }}
                                 <span class="Icon Inline ChevronDown"></span>
                            </button>
                            <ul class="dropdown-menu Dropdown Menu" role="menu" aria-labelledby="addressType">
                                <li role="menuitem" *ngFor="let choice of authReasons; trackBy : trackByIndex">
                                    <a class="dropdown-item" href="#" (click)="updateSelectedAuthReason(choice, $event)">{{ choice.get('value') | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="Large">
                    <div class="Label">
                        <strong>{{ 'AUTHORIZATION_NOTE' | translate }}</strong>
                    </div>
                    <input type="text"
                           id="note"
                           class="Input"
                           autocomplete="off"
                           [ngModel]="beneficiaryFormData.get('note')"
                           [formControl]="note">
                </div>
            </div>
        </div>

        <div>
            <div class="Full">
                <div class="Large">
                    <div class="Label">
                        <span [ngClass]="{ 'Required' : !beneficiaryForm.controls['authorizedBy'].valid, 'Valid' : beneficiaryForm.controls['authorizedBy'].valid }">*</span> <strong>{{ 'AUTHORIZED_BY' | translate }}</strong>
                    </div>
                    <input type="text"
                           class="Input"
                           autocomplete="off"
                           [ngModel]="beneficiaryFormData.get('authorizedBy')"
                           [formControl]="authorizedBy">
                </div>
                <div class="Large">
                    <div class="Label">
                        <strong>{{ 'AUTHORIZATION_CODE' | translate }}</strong>
                    </div>
                    <input type="text"
                           class="Input"
                           autocomplete="off"
                           [ngModel]="beneficiaryFormData.get('authorizationCode')"
                           [formControl]="authorizationCode">
                </div>
            </div>
        </div>

        <!--phones-->
        <div formArrayName="phones">
            <div *ngFor="let phones of beneficiaryForm.controls.phones.controls; let i = index; trackBy : trackByIndex" class="panel panel-default ContactRow">
                <div class="panel-body" [formGroupName]="i">
                    <beneficiary-form-phone
                        [beneficiaryPhone]="beneficiaryFormData.getIn(['telecommunicationsNumbers', i])"
                        [phoneTypes]="phoneTypes"
                        (updatePhoneField)="onUpdatePhoneField($event, i)"
                        (updatePhoneType)="onUpdatePhoneType($event, i)"
                        (phoneFormValid)="onPhoneFormValid($event, i)">
                    </beneficiary-form-phone>
                </div>

                <div *ngIf="beneficiaryForm.controls.phones.controls.length > 1"
                     (click)="removePhone(i)"
                     aria-hidden="true"
                     class="remove-icon">
                    <i class="fa fa-trash fa-2x Orange"></i>
                    <a class="Blue">{{ 'REMOVE' | translate }}</a>
                </div>
            </div>
        </div>

        <div class="Full Append">
            <strong class="Label"><a (click)="addPhone()"><i class="fa fa-plus fa-lg" aria-hidden="true"></i> {{ 'ADD_ADDITIONAL_PHONE' | translate }}</a></strong>
        </div>

        <div class="Medium SubmitBlock">
            <div class="pull-left">
                <button (click)="onSubmit()" tabindex="0" type="submit" class="Button" [disabled]="!isFormValid">
                    {{ 'SAVE' | translate }}
                </button>
            </div>
            <div class="pull-left">
                <button (click)="cancelUpdate()" tabindex="0" type="button" class="Button Secondary">
                    {{ 'CANCEL' | translate }}
                </button>
            </div>
        </div>
    </form>
</div>
