@import 'utility';

.BeneficiaryPlans {
    &__To {
        text-align: center;
        font-weight: bold;
        margin: 0;
        padding-left: 1em;
        padding-right: 1em;
    }

    .EligibilityBlock {
        display: inline-block;
        margin-left: 15px;

        .DatePicker {
            margin: 0;
        }
    }

    .DatesContainer {
        display: inline-flex;
    }

    &.Block {
        margin: 0;

        .SubPlanButton {
            margin: 30px 0 0 0;
        }
    }
}
