<div class="PersonFinder">
    <h4 class="Title">{{ 'ADD_A_CONNECTION' | translate }}</h4>
    <div class="Full">
        <div class="Full">
            <h4 *ngIf="searchResults.size > 0">{{ 'SEARCH_RESULTS_FOUND' | translate }}:
                {{ searchResults.size }} <br /></h4>
            {{ 'ENTER_NAME_OR_PHONE_NUMBER' | translate }}
        </div>
        <div class="pull-left">
           <form [formGroup]="personFinderForm" novalidate name="personFinderForm">
                <div class="ExtraLarge">
                    <input type="text"
                        tabindex="0"
                        id="searchText"
                        class="Input"
                        autocomplete="off"
                        [ngModel]="searchText"
                        [formControl]="searchBox">
                </div>
                <div class="Medium">
                    <div class="Input">
                        <button *ngIf="!isShowAllActive && searchResults.size > 0" (click)="toggleShowAll()"
                                tabindex="0"
                                type="button"
                                class="Button Secondary">{{ 'SEE_ALL' | translate }}</button>

                        <button *ngIf="isShowAllActive && searchResults.size > 0" (click)="clearSearchField()"
                                tabindex="0"
                                type="button"
                                class="Button Secondary">{{ 'CLEAR' | translate }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="searchResults.size > 0" class="Body">
        <div class="Titles">
            <ul>
                <li class="Name"><span class="Header">{{ 'NAME' | translate }}</span>
                    <div class="arrows">
                        <i (click)="changeOrderBy('lastName', 'asc')" [ngClass]="{ Active : resultsOrderByConfig.get('sortColumn') === 'lastName' && resultsOrderByConfig.get('sortOrder') === 'asc' }"
                           class="fa fa-caret-up fa-lg"></i>
                        <i (click)="changeOrderBy('lastName', 'desc')" [ngClass]="{ Active : resultsOrderByConfig.get('sortColumn') === 'lastName' && resultsOrderByConfig.get('sortOrder') === 'desc' }"
                           class="fa fa-caret-down fa-lg"></i>
                    </div>
                </li>
                <li class="Phone"><span class="Header">{{ 'PHONE' | translate }}</span>
                    <div class="arrows">
                        <i (click)="changeOrderBy('phone', 'asc')" [ngClass]="{ Active : resultsOrderByConfig.get('sortColumn') === 'phone' && resultsOrderByConfig.get('sortOrder') === 'asc' }"
                           class="fa fa-caret-up fa-lg"></i>
                        <i (click)="changeOrderBy('phone', 'desc')" [ngClass]="{ Active : resultsOrderByConfig.get('sortColumn') === 'phone' && resultsOrderByConfig.get('sortOrder') === 'desc' }"
                           class="fa fa-caret-down fa-lg"></i>
                    </div>
                </li>
            </ul>
        </div>
        <div *ngFor="let result of searchResults trackBy : trackByIndex;  let i = index" class="List">
            <div *ngIf="i < 3 && !isShowAllActive">
                <ul>
                    <li class="Name">{{ result.get('firstName') }} {{ result.get('lastName') }}</li>
                    <li class="Phone">{{ result.get('phone') }}</li>
                    <li class="Select">
                        <button (click)="onSelectConnectionFromPeople(result)"
                            tabindex="0"
                            type="button"
                            class="Button Secondary">{{ 'SELECT' | translate }}</button>
                    </li>
                </ul>
            </div>
            <div *ngIf="isShowAllActive">
                <ul>
                    <li class="Name">{{ result.get('firstName') }} {{ result.get('lastName') }}</li>
                    <li class="Phone">{{ result.get('phone') }}</li>
                    <li class="Select">
                        <button (click)="onSelectConnectionFromPeople(result)"
                            tabindex="0"
                            type="button"
                            class="Button Secondary">{{ 'SELECT' | translate }}</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
