@import 'utility';

.PersonFinder {
    .Body {
        width: 50% !important;

        .List {
            width: 100%;

            float: left;

            ul {
                width: 100%;

                border-bottom: solid 1px #ccc;

                float: left;
                list-style: none;
                margin: 0;
                padding: 20px 0;

                li {
                    float: left;
                }

                i.fa {
                    color: $Green;

                    float: left;
                    font-size: 1.3em;
                    margin: 0 7px;
                }
            }

            .Name {
                width: 50%;
            }

            .Phone {
                width: 30%;

                font-size: 14px;
            }

            .Select {
                width: 20%;
            }
        }
        .Titles {
            width: 100%;

            float: left;
            margin-top: 20px;

            ul {
                width: 100%;

                border-bottom: solid 1px $black;

                float: left;
                list-style: none;
                margin: 0;
                padding: 12px 0;

                li {
                    float: left;
                    font-size: 1em;
                    font-weight: bold;

                    .Header {
                        float: left;
                    }

                    .arrows {
                        position: relative;
                        top: -1px;

                        width: 10px;
                        height: 20px;

                        display: inline-block;

                        float: left;
                        padding-left: 5px;

                        i.fa {
                            position: relative;

                            height: 10px;

                            color: #ccc;
                            cursor: pointer;

                            float: left;
                        }

                        i.Active {
                            color: $Blue;
                        }
                    }
                }
            }

            .Name {
                width: 50%;
            }

            .Phone {
                width: 30%;

                font-size: 14px;
            }

            .Select {
                width: 20%;
            }
        }
    }

    .Full {
        width: 100%;

        float: left;
        padding: 15px 0 0 0;
    }

    .ExtraLarge {
        float: left;
        margin: 0 15px 0 0;

        .Input {
            width: 303px;
        }
    }

    .Large {
        float: left;
        margin: 0 15px 0 0;

        .Input {
            width: 234px;
        }
    }

    .Largest {
        float: left;
        margin: 0 15px 0 0;

        .Input {
            width: 483px;
        }
    }

    .Medium {
        float: left;
        margin: 0 15px 0 0;

        .Input {
            width: 175px;
        }
    }

    .Small {
        float: left;
        margin: 0 15px 0 0;

        .Input {
            width: 125px;
        }
    }
}
