@import 'utility';

.ReservationSpecialRequirements {
    .SpecialRequirements {
        :host-context(.Passenger) &,
        :host-context(.Passenger) ul {
            margin-top: 1em;
            padding-left: 1.5em;

            background-color: $gray-lightest;
        }
    }

    &__Icon {
        margin-left: 1em;
    }
}

