<div class="ReservationSpecialRequirements">
    <div class="Full SpecialRequirements">
        <strong>{{ headerText | translate }}</strong>
        <span *ngIf="!isEditActive">
            <a (keypress)="editKeyPressHandler($event)"
                (click)="editSpecialRequirements()">
                <i class="fa fa-pencil Orange ReservationSpecialRequirements__Icon"></i>
            </a>
            <i *ngIf="showRemoveIcon" (click)="onRemove()" class="Remove Red fa fa-times-circle fa-pull-right Link" aria-hidden="true"></i>
            <div *ngIf="specialRequirementsState.count() === 0">{{ 'NO_SPECIAL_REQUIREMENTS' | translate }}</div>
            <ul>
                <li *ngFor="let requirement of specialRequirementsState; trackBy : trackByIndex">
                    {{ requirement.getIn(['type', 'value']) }}
                    <span *ngIf="!requirement.get('permanentRequirement')">
                        <strong>Starting: </strong>{{ requirement.get('fromDate') | dateDisplayFormat }}
                    </span>
                    <span *ngIf="!requirement.get('permanentRequirement')">&nbsp;</span>
                    <span *ngIf="!requirement.get('permanentRequirement')">
                        <strong>Until: </strong>{{ requirement.get('thruDate') | dateDisplayFormat }}
                    </span>

                    <span *ngIf="requirement.get('permanentRequirement')" class="">
                        <strong>{{ 'PERMANENT' | translate }}</strong>
                    </span>
                </li>
            </ul>
        </span>
    </div>

    <!-- edit screen -->
    <reservation-special-requirements-checkbox-selection
        *ngIf="isEditActive"
        (addSpecialRequirement)="onAddSpecialRequirement($event)"
        (cancel)="cancelUpdate()"
        (removeSpecialRequirement)="onRemoveSpecialRequirement($event)"
        (save)="onSubmit($event)"
        (setPermanence)="onSetPermanence($event)"
        (updateFromDate)="onUpdateFromDate($event)"
        (updateThruDate)="onUpdateThruDate($event)"
        [specialRequirementsList]="specialRequirementsList"
        [specialRequirementsState]="tempSpecialRequirementsState">
    </reservation-special-requirements-checkbox-selection>
</div>
