@import 'utility';

ul {
    width: 100%;

    float: left;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        float: left;
        padding: 13px;
    }
}

.TableHead {
    ul {
        border-bottom: solid 4px #ccc;

        li {
            font-weight: bold;

            &.SelectAll {
                padding-left: 10px;
            }
        }
    }

    span,
    .arrows {
        display: inline-block;

        float: left;
    }

    .arrows {
        position: relative;
        top: 4px;

        height: 14px;

        padding: 0 0 0 6px;

        .fa {
            position: absolute;

            color: #ccc;
            cursor: pointer;

            &.fa-caret-up {
                top: -5px;
            }

            &.fa-caret-down {
                bottom: -5px;
            }
        }
    }
}

.TableBody,
.TableHead {
    width: calc(100% + 40px);

    margin: 0 0 0 -20px;

    @extend %clear;

    ul {
        li {
            width: 20%;

            display: inline-block;

            padding-left: 0;
        }
    }
}

.TableBody {
    ul {
        li {
            &:first-child {
                padding-left: 20px;
            }
        }
    }
}

.TableHead {
    font-weight: bold;
    padding: 15px 20px;

    ul {
        border: 0;
    }
}
