<div class="TableHead Full">
    <div class="Titles">
        <ul>
            <li class="Organization"><span>{{ 'ORGANIZATION' | translate }}</span>
                <div class="arrows">
                    <i class="fa fa-caret-up fa-lg"></i>
                    <i class="fa fa-caret-down fa-lg"></i>
                </div>
            </li>
            <li class="Beneficiary"><span>{{ 'BENEFICIARY_ID' | translate }}</span>
                <div class="arrows">
                    <i class="fa fa-caret-up fa-lg"></i>
                    <i class="fa fa-caret-down fa-lg"></i>
                </div>
            </li>
            <li class="Plan"><span>{{ 'PLAN_DESCRIPTION' | translate }}</span>
                <div class="arrows">
                    <i class="fa fa-caret-up fa-lg"></i>
                    <i class="fa fa-caret-down fa-lg"></i>
                </div>
            </li>
            <li class="Date"><span>{{ 'ELIGIBILITY_DATES' | translate }}</span>
                <div class="arrows">
                    <i class="fa fa-caret-up fa-lg"></i>
                    <i class="fa fa-caret-down fa-lg"></i>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="TableBody">
    <ul class="Full" *ngFor="let plan of plansState; trackBy : trackByIndex">
        <li class="Organization">
            {{plan.get('organization')}}
        </li>
        <li class="Beneficiary">
            {{plan.get('planIdValue')}}
        </li>
        <li class="Plan">
            {{plan.get('planDescription')}}
        </li>
        <li class="Date">
            {{formatDate(plan.get('fromDate'))}} - {{formatDate(plan.get('thruDate'))}}
        </li>
    </ul>
</div>
