<div class="BeneficiaryMedicalConditions Block">
    <h2 class="Title">
        {{ 'MEDICAL_CONDITIONS' | translate }}
    </h2>

    <form *ngIf="medicalConditionsState.get('isAddMedicalConditionActive')" [formGroup]="medicalConditionsForm" novalidate (ngSubmit)="onSubmit($event)">
        <div class="Full" [ngClass]="{spinner: isBusy}">
            <div class="pull-left">
                <div class="Large">
                    <div class="Input">
                        <div class="Dropdown" (click)="$event.preventDefault()">
                            <span [class.Required]="!medicalCondition.valid" [class.Valid]="medicalCondition.valid">*</span>
                            <strong>{{ 'MEDICAL_CONDITION' | translate }}</strong>
                            <input type="hidden"
                                   [ngModel]="medicalConditionsState.getIn(['tempMedicalCondition', 'type', 'value'])"
                                   [formControl]="medicalCondition">

                            <div class="Dropdown" [class.HasError]="!medicalCondition.valid && medicalConditionsForm.touched" (click)="$event.preventDefault()">
                                <div dropdown keyboardNav="true">
                                    <button id="medicalCondition" class="Input"
                                            [ngClass]="{ Error : !medicalConditionsState.get('isAddMedicalConditionValid') }" dropdownToggle>
                                        {{ medicalConditionsState.getIn(['tempMedicalCondition', 'type', 'value']) | translate }} <span
                                            class="Icon Inline ChevronDown"></span>
                                    </button>
                                    <ul class="dropdown-menu Dropdown Menu" role="menu"
                                        aria-labelledby="medicalCondition">
                                        <li role="menuitem"
                                            *ngFor="let choice of medicalConditionsState.get('medicalConditionTypes'); trackBy : trackByIndex">
                                            <a class="dropdown-item" href="#"
                                               (click)="updateTempMedicalConditionType(choice)">{{ choice.value | translate }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Large" [class.HasError]="!conditionReported.valid && conditionReported.touched">
                    <strong>{{ 'DATE_CONDITION_REPORTED' | translate }}</strong>
                    <date-picker
                            [ngModel]="medicalConditionsState.getIn(['tempMedicalCondition', 'fromDate'])"
                            [formControl]="conditionReported"
                            [dateFormat]="dateFormat">
                    </date-picker>
                </div>

                <div class="Large" [class.HasError]="!conditionReview.valid && conditionReview.touched">
                    <strong>{{ 'CONDITION_REVIEW_DATE' | translate }}</strong>
                    <date-picker
                            [ngModel]="medicalConditionsState.getIn(['tempMedicalCondition', 'thruDate'])"
                            [formControl]="conditionReview"
                            [dateFormat]="dateFormat">
                    </date-picker>
                </div>
                <div class="Small">
                    <div class="Input">
                        <br/>
                        <button type="submit" class="Button" [disabled]="!medicalConditionsForm.valid">{{ 'ADD' | translate }}</button>
                    </div>
                </div>
                <div class="Close Link">
                    <div (click)="cancelAddMedicalCondition()" class="Input">
                        <i class="fa fa-close"></i>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div *ngFor="let condition of medicalConditionsState.get('conditionsState'); trackBy : trackByIndex; let i = index" class="Full Space">
        <div class="pull-left">
            <div class="Large">
                <div class="Input">
                    <strong>{{ 'MEDICAL_CONDITION' | translate }}</strong>
                    <br/>{{ condition.getIn(['type', 'value']) | translate }}
                </div>
            </div>

            <div class="Large">
                <strong>{{ 'DATE_CONDITION_REPORTED' | translate }}</strong>
                <br/>{{ condition.get('fromDate') }}
            </div>

            <div class="Large">
                <strong>{{ 'CONDITION_REVIEW_DATE' | translate }}</strong>
                <br/>{{ condition.get('thruDate') }}
            </div>

            <div class="Small">
                <div (click)="removeMedicalCondition(i)" class="Link">
                    <i class="fa fa-trash Orange"></i>{{ 'REMOVE' | translate }}
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="medicalConditionsState.get('conditionsState').size === 0 && !isNewProfile && !medicalConditionsState.get('isAddMedicalConditionActive')" class="Full Space">
        <div class="pull-left">
            <div class="Large">
                <div class="Input">
                    {{ 'NO_MEDICAL_CONDITION_ON_FILE' | translate }}
                    <br/>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!medicalConditionsState.get('isAddMedicalConditionActive')" class="Full">
        <div class="Link">
            <i class="fa fa-plus fa-2x Blue"></i>
            <span><a (click)="addBeneficiaryMedicalConditionActive()" tabindex="0">
                {{ 'ADD_A_MEDICAL_CONDITION' | translate }}</a>
            </span>
        </div>
    </div>
</div>
