@import 'utility';

.BeneficiaryPlansDashboard {
    .Block {
        background-color: $color-white;

        .Body {
            a {
                margin: 0 7px;

                text-decoration: none;

                border-bottom: 1px dashed $Blue;
            }

            .fa {
                font-size: 1.2em;

                color: $Green;
            }
        }
    }
}
