<div class="BeneficiaryPlansDashboard">
    <div class="Block">
        <div class="Heading">
            <h2>{{ 'PLANS' | translate }}</h2>
        </div>
        <div class="Body">
            <div *ngFor="let plan of beneficiaryPlansState.get('plansStateSummary'); let i = index; trackBy : trackByIndex">
                {{ plan.get('organization')}} | {{ plan.get('planDescription') }} | {{ plan.get('planIdValue')}} | {{ plan.get('fromDate') | dateDisplayFormat }} - {{ plan.get('thruDate') | dateDisplayFormat }}
            </div>
        </div>
    </div>
</div>
