<div *ngIf="ruleType" class="ReservationBuinessRules">
    <div *ngIf="reservationBusinessRules">
        <div *ngFor="let rule of reservationBusinessRules.get(ruleType); let i = index; trackBy : trackByIndex">
            <div *ngIf="rule.get('status') !== 'APPROVED'">
                <div class="ReservationBuinessRules__Message">
                    <i class="fa fa-exclamation-triangle"></i>
                    {{rule.get('message')}}
                </div>

                <div *ngIf="rule.get('status') === 'PENDING'" class="OverrideReason Full">
                    <div class="Dropdown" (click)="$event.preventDefault()">
                        <label for="overrideReason">
                            <strong>{{ 'OVERRIDE_REASON' | translate }}</strong>
                        </label>
                        <div dropdown keyboardNav="true">
                            <button id="overrideReason" class="Input" dropdownToggle>
                                <span *ngIf="reservationBusinessRules.getIn([overrideReason, i, 'name'])">
                                    {{reservationBusinessRules.getIn([overrideReason, i, 'name'])}}
                                </span>
                                <span *ngIf="!reservationBusinessRules.getIn([overrideReason, i, 'name'])">
                                    {{ 'NO_OVERRIDE' | translate }}
                                </span>
                            </button>
                            <ul class="dropdown-menu Menu" role="menu" aria-labelledby="overrideReason">
                                <li role="menuitem">
                                    <a class="dropdown-item" href="#" (click)="updateOverrideReason(rule.get('queueTaskItemType'), i)">
                                        {{rule.getIn(['queueTaskItemType', 'name'])}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
