@import 'variables';
@import 'utility';

.ReservationBuinessRules {
    &__Message{
        margin: 5px 0;
        width: 100%;
        background-color: $gray-lightest;
        padding: 15px;
        display: inline-block;
        box-shadow: 0 0 0 1px $requiredRed;
    }
}
