@import 'variables';
@import 'utility';

.EligibilityHeader {
    width: 100%;
    display: inline-block;
    float: left;

    h1 {
        padding-bottom: 10px;
    }

    .Top{
        width: 100%;
        float: left;
        padding: 20px 12px 10px;
        margin-top: 20px;
        background: $white;

        h2 {
            height: 30px;
            margin: 10px 0;
            float: left;
        }

        span{
            vertical-align: -8px;
            padding: 0 5px;
        }
    }

    &__Bottom{
        float: left;
        margin: 0 0 0 23px;

        .Address{
            margin-right: 30px;
            float: left;
        }
        .Phone{
            float: left;
            margin-right: 30px;
        }
        .Email{
            float: left;
        }

        .fa {
            float: left;
            color: $Orange;
            font-size: 18px;
            margin: 4px 10px;
            line-height: .8;
        }
    }

    &__Main{
        float: right;
        margin: 30px;

    }
    &__Panel{
        width: 155px;
        float: right;
        margin: 13px 0 0 0;

        .Required{
            text-align: right;
            margin: 45px 30px 0;

            span {
                color: $LiteRed;
            }
        }
    }
    &__Widget{
        width: 155px;
        float: right;
        margin: -15px 30px 0 0;
    }

    .Pipe {
        border-right: 1px solid #ccc;
        height: 30px;
        padding: 0 14px;
    }

    .Pagination{
        width: 100%;

        .Main{
            float: right;
            margin: 10px 0;

            li {
                line-height: 30px;


                .fa-3x {
                    font-size: 1.6em;
                }

                .Gray {
                    color: $medium-gray;
                }

                .Blue {
                    color: $accent-blue;
                }

                .Box {
                    line-height: 30px;
                    text-align: center;
                    padding: 0px;
                    width: 30px;
                    height: 30px;
                    margin: 0 0 0 10px;
                }

                .Numeric {
                    font-size: 1em;
                    color: $color-black;
                }

                .Gray:hover {
                    background-color: $color-white;
                }

                &.pull-left {
                    padding: 0 5px 0 15px;
                }
            }
        }
    }
}
