<div *ngIf="info.type === 'EligibilityRequests'" class="EligibilityHeader">
	<div class="EligibilityHeader__Top">
		<h1>{{info.title}}</h1>
	</div>
	<div class="Pagination">
	    <ul class="Main pagination pagination-sm">
	        <li class="pull-left">{{ requestList.length }} {{ 'ITEMS' | translate }}</li>

	        <!--decrement page index button-->
	        <li><a class="fa fa-caret-left fa-3x Box Gray"></a></li>

	        <!--current page index display-->
	        <li><a class="Box Gray Numeric">1</a></li>

	        <li class="pull-left">{{ 'OF_' | translate }} 3</li>

	        <!--increment page index button-->
	        <li><a class="fa fa-caret-right fa-3x Box Blue"></a></li>
	    </ul>
	</div>
</div>
