<div class="BeneficiaryActivityLogPanel">
	<div class="Block">
		<div class="Heading">
			<h2>Activity Log</h2>
			<!-- <a>View All</a> -->
			<span>Viewing: 4 of 4</span>
		</div>
		<div class="Body">
			<div class="Titles">
				<i class="fa fa-calendar fa-2x"></i>
				<span>Reservation</span>
			</div>
			<div class="Info">
				<i class="fa fa-angle-right fa-2x"></i>
				<span>08/16/2016 | 10:55 AM</span>
				<div class="From">
					From: John Caseman, (555) 979-8000. Trip: <a>12345678</a>
				</div>
				<div class="To">
					Trip: 08/23/2016 at 10:30AM EST to Dialysis - Dr. Alexander Brown
				</div>
			</div>
			<div class="Titles">
				<i class="fa fa-ban fa-2x"></i>
				<span>Denial Letter</span>
			</div>
			<div class="Info">
				<i class="fa fa-angle-right fa-2x"></i>
				<span>08/16/2016 | 11:32 AM</span>
				<div class="From">
					Type: None-covered Service
				</div>
				<div class="To">
					Mailed to: 5321 First Street, Apt, 201 Townsville, GA 35160
				</div>
			</div>
			<div class="Titles">
				<i class="fa fa-usd fa-2x"></i>
				<span>Gas Reimbursement Submitted</span>
			</div>
			<div class="Info">
				<i class="fa fa-angle-right fa-2x"></i>
				<span>08/16/2016 | 2:21 PM</span>
				<div class="From">
					From: John Caseman, (555) 979-8000. Trip: <a>12345678</a>
				</div>
				<div class="To">
					Trip: 09/01/2016 at 10:30AM EST to Dialysis - Dr. Alexander Brown
				</div>
			</div>
			<div class="Titles">
				<i class="fa fa-file-text-o fa-2x"></i>
				<span>Medical Necessity Form Submitted</span>
			</div>
			<div class="Info">
				<i class="fa fa-angle-down fa-2x"></i>
				<span>08/16/2016 | 3:01 PM</span>
				<div class="From">
					Faxed to: (555) 555-1234 on 08/18/2016 at 9:45AM EST
				</div>
				<div class="To">
					Description: <a>Medical Necessity Form Janet Smith</a><br />
					<strong>Notes:</strong><br />
					Form was sent for the second time this month of August, office provided new number for use.<br />
					CSR: Angela Smith (PHX)
				</div>
			</div>
		</div>
	</div>
</div>
