@import 'utility';

.BeneficiaryActivityLogPanel {
    .Block {
        .Body {
            .Titles {
                ul {
                    float: left;

                    width: 100%;
                    padding: 0 0 15px 0;

                    list-style: none;

                    border-bottom: solid 1px #777;

                    li {
                        font-weight: bold;

                        float: left;
                    }
                }

                span {
                    font-weight: bold;
                }

                .fa {
                    font-size: 1.5em;

                    color: $Orange;
                }
            }

            .Info {
                padding: 0 0 30px 30px;

                .fa {
                    font-size: 1.5em;

                    color: $Blue;
                }

                .From {
                    font-weight: bold;
                }
            }
        }

        .Heading {
            float: left;

            width: 555px;
            margin: 30px 15px 15px;

            span,
            a {
                float: right;

                margin: 0 7px;
            }
        }
    }
}
