@import 'utility';

.Notes {
    position: fixed;
    bottom: -530px;
    left: 60px;
    z-index: 1000;

    width: 100%;

    transition: bottom .5s ease-in-out;
    &.Open {
        bottom: 0;
        .NotesToggle {
            .fa {
                top: 3px;

                transform: rotateX(0deg);
            }
        }
    }

    .NotesHead {
        border-bottom: 7px solid $accent-blue;
    }

    .NotesTitle {
        font-size: 24px;
        padding: 10px 0 5px 0;
        .fa {
            color: $Orange;

            padding: 0 10px 0 0;
        }
    }

    .ViewNote {
    }

    .NotesDateFilter {
        padding: 0 0 0 30px;
        .Col-1 {
            width: auto;

            font-weight: bold;
            padding: 6px 0 0 0;
        }
        strong {
            display: block;

            padding: 0 0 10px 0;
        }
        .DateResults {
            span {
                margin: 0 20px 0 0;
            }
        }
    }

    .NotesBody {
        @extend %clear;

        height: 530px;

        background: $color-white;

        padding: 0 0 30px 0;
    }

    .NotesToggle {
        position: relative;

        background: $accent-blue;
        border: 0;
        color: $color-white;

        margin-left: 30px;
        padding: 4px 40px 4px 30px;
        .fa {
            position: absolute;
            top: 5px;
            right: 19px;

            font-size: 23px;

            transform: rotateX(180deg);

            transition: all .4s ease-in-out;
        }
    }

    .NotesTable {
        width: 607px;

        background: $color-white;

        float: left;
    }

    .NoteRow {
        cursor: pointer;
        &.Active,
        &:hover {
            background: $accent-blue;
            * {
                color: $color-white !important;
            }
        }
    }

    .NotesArea {
        width: 300px;

        float: left;
        margin: 0 0 0 27px;
        .NoteText {
            position: relative;

            width: 100%;
            min-height: 210px;
            max-height: 340px;

            background: $input-bg;
            border: 1px solid $medium-gray;
            border-radius: 2px;

            margin: 0 0 10px 0;
            overflow-y: scroll;
            padding: 10px;
            text-align: left;

            resize: none;

            &:focus {
                border-color: $accent-blue !important;
                & + .fa-calendar {
                    border-color: $accent-blue !important;
                }
            }

            &.Disabled {
                background-color: $input-bg-disabled;
            }

            &.Off {
                background: rgba($color-black, .05);
            }

            .small {
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
        }
    }

    .TableHead,
    .TableBody {
        margin: 0;
        padding: 0;
        width: 100%;
        .Full {
            position: relative;
            padding: 20px 0 20px 30px;
        }
    }

    .TableHead {
        border-bottom: 0;
        .Full {
            border-bottom: $black 1px solid;

            line-height: 1;
            padding: 20px 0 15px 30px;
        }
    }

    .TableBody {
        margin-bottom: 15px;
    }

    .Date {
        width: 100px;
    }

    .Note {
        width: 270px;
    }

    .EnteredBy {
        width: 170px;
    }

    .fa-angle-right {
        position: absolute;
        top: 8px;
        right: 10px;

        color: $accent-blue;

        font-size: 40px;
        &:hover {
            text-decoration: none;
        }
    }
}
