<div class="Notes"><!-- ngClass toggle class 'Open' when the NotesToggle is pressed -->
    <header class="NotesHead">
        <button class="NotesToggle">{{ 'NOTES' | translate}}<span class="fa fa-angle-down"></span></button>
    </header>
    <div class="NotesBody">
        <div class="NotesDateFilter">
            <div class="Full DateFilter"><!-- ngIf no dates filtered -->
                <strong>{{ 'SEARCH_DATES' | translate }}</strong>
                <div class="Col-2">
                    <input type="hidden">
                    <date-picker
                        [ngModel]="selectedDate"
                        [dateFormat]="dateFormat"
                        (itemSelected)="onItemSelected($event)">
                    </date-picker>
                </div>
                <div class="Col-1">
                    To
                </div>
                <div class="Col-2">
                    <input type="hidden">
                    <date-picker
                        [ngModel]="selectedDate"
                        [dateFormat]="dateFormat"
                        (itemSelected)="onItemSelected($event)">
                    </date-picker>
                </div>
                <div class="Col-2">
                    <button type="submit" class="Button Secondary">Search</button>
                </div>
            </div>
            <div class="Full DateResults" *ngIf="DateFilterResults"><!-- ngIf readonly date range -->
                <strong>{{ 'SEARCH_DATES' | translate }}</strong>
                <span>{{ 'VIEWING' | translate }}: 1/22/2015 - 1/25/2015</span>
                <button class="Button Secondary">{{ 'RESET' | translate }}</button>
            </div>
        </div>
        <div class="NotesTable">
            <div class="Full TableHead">
                <ul class="Full">
                    <li class="Date">
                        <span class="Title">{{ 'DATE' | translate }}</span>
                        <div class="arrows">
                            <i class="fa fa-caret-up fa-lg"></i>
                            <i class="fa fa-caret-down fa-lg"></i>
                        </div>
                    </li>
                    <li class="Note">
                        <span class="Title">{{ 'NOTE' | translate }}</span>
                        <div class="arrows">
                            <i class="fa fa-caret-up fa-lg"></i>
                            <i class="fa fa-caret-down fa-lg"></i>
                        </div>
                    </li>
                    <li class="EnteredBy">
                        <span class="Title">{{ 'ENTERED_BY' | translate }}</span>
                        <div class="arrows">
                            <i class="fa fa-caret-up fa-lg"></i>
                            <i class="fa fa-caret-down fa-lg"></i>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="TableBody">
                <ul class="Full NoteRow"><!-- ngFor Only show up to 6 rows at a time -->
                    <li class="Date">
                        12/12/2016
                    </li>
                    <li class="Note">
                        This the first note about a ride...
                    </li>
                    <li class="EnteredBy">
                        Bob Dole
                    </li>
                    <li class="SeeNote">
                        <a class="fa fa-angle-right"></a>
                    </li>
                </ul>
            </div>
            <div class="pull-right SmallPager">
                478 {{ 'NOTES' | translate}} &nbsp;
                <a href="" class="LeftArrow Inactive fa fa-caret-left"></a>
                1 of 3
                <a href="" class="RightArrow fa fa-caret-right"></a>
            </div>
        </div>

        <div class="NotesArea">
            <div class="AddNoteBlock"><!--ngIf adding a note -->
                <header class="NotesTitle AddNote">
                    <span class="fa fa-plus"></span> {{ 'ADD_A_NOTE' | translate}}
                </header>
                <div contenteditable="true" class="NoteText"></div>
                <button type="submit" class="Button Primary AddNote">{{ 'SUBMIT_NOTE' | translate}}</button>
            </div>

            <div class="ReadNoteBlock" *ngIf="ReadingNote"><!--ngIf reading a note -->
                <header class="NotesTitle ViewNote">
                    <span class="fa fa-sticky-note-o"></span> {{ 'VIEW_NOTE' | translate}}
                </header>
                <div class="NoteText Disabled">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
                    <span class="small">12/12/2016 11:30pm</span>
                </div>
                <button type="submit" class="Button Secondary ViewNote">{{ 'CLOSE_NOTE' | translate}}</button>
            </div>
        </div>
    </div>
</div>
