@import 'variables';
@import 'utility';

.ReservationHeader {

    h1{
        margin: 0;
    }

    .Required{
        text-align: right;
        color: $black;

        span {
            color: $LiteRed;
        }
    }

    .Profile{

        background: $color-white;
        height: 100%;
        display: inline-block;
        padding: 30px;

        .Bottom{
            float: left;
            font-size: 14px;

            .Address{
                margin-right: 30px;
                float: left;
            }
            .Phone{
                float: left;
                margin-right: 30px;
            }
            .Email{
                float: left;
                margin-right: 30px;
            }

            .fa {
                float: left;
                color: $Orange;
                margin: 1px 6px 0 0;
                line-height: .8;
            }
            .fa-info-circle {
                color: $Blue;
            }
            .Full {
                .Full {
                    padding-left: 22px;
                }
            }
        }

        .Top{
            width: 750px;
            float: left;

            h4{
                margin: 0;
                float: left;
            }

            span{
                padding: 0 5px;
                font-size: 13px;
            }
        }
        .Widget{
            width: 155px;
            float: right;
            margin: -11px 0 0 0;
        }
    }
}
