<div class="ReservationHeader Block">
    <h1 *ngIf="!isEditing">{{ 'MAKE_A_RESERVATION' | translate }}</h1>
    <h1 *ngIf="isEditing">{{ 'EDIT_A_RESERVATION' | translate }}</h1>
    <div class="Required">
        <span>*</span> {{ 'REQUIRED' | translate }}
    </div>

    <div class="Profile">
        <div class="Top">
            <h4><a [routerLink]="['/Beneficiary/', beneficiaryUuid]">{{ headerConfig.get('firstName') + ' ' + headerConfig.get('lastName') }}</a></h4>
            <span>({{ headerConfig.get('birthDate') | dateDisplayFormat }})</span>
        </div>

        <div class="Bottom">
            <div class="Full">
                <div class="Address">
                    <i class="fa fa-map-marker fa-2x"></i>{{ headerConfig.get('primaryAddress') }}
                </div>
                <div class="Email">
                    <i class="fa fa-envelope-o fa-2x"></i>{{ headerConfig.get('primaryEmail') }}
                </div>
                <div class="Phone">
                    <i class="fa fa-phone fa-2x"></i>{{ headerConfig.get('primaryPhone') | phoneFormat }}
                </div>
            </div>

            <!-- if Special Requirement -->
            <div *ngFor="let requirement of specialRequirementsState.get('requirementsState'); trackBy : trackByIndex; let i = index" class="Full Space">
                <div class="pull-left">
                    <div class="Large">
                        <div class="Input">
                            <i class="fa fa-info-circle fa-2x"></i>
                            <strong>{{ 'SPECIAL_REQUIREMENTS' | translate }}:</strong> {{ requirement.getIn(['type', 'value']) }}
                        </div>
                    </div>

                    <div *ngIf="requirement.get('fromDate')" class="Large">
                        {{ requirement.get('fromDate') | dateDisplayFormat }}
                    </div>

                    <div *ngIf="requirement.get('thruDate')" class="Large">
                        {{ requirement.get('thruDate') | dateDisplayFormat }}
                    </div>

                    <div *ngIf="!requirement.get('fromDate') && !requirement.get('thruDate')" class="Small">
                        <strong>{{ 'PERMANENT' | translate }}</strong>
                    </div>
                </div>
            </div>
            <div class="Full">
                <div *ngFor="let plan of beneficiaryPlansState.get('plansStateSummary'); let i = index; trackBy : trackByIndex">
                    <strong>{{ 'PLAN' | translate }}:</strong>
                    <tooltip-component
                            [plan]="plan">
                    </tooltip-component>
                    - | {{ plan.get('planDescription') }} | {{ plan.get('fromDate') | dateDisplayFormat }} - {{ plan.get('thruDate') | dateDisplayFormat }}
                </div>
            </div>
        </div>
    </div>
</div>
