<nav class="LeftNavigation">
    <div class="Menu">
        <button type="button" tabindex="-1" class="Button" (click)="toggleNavigation()"><i class="Icon fa fa-navicon fa-2x" aria-hidden="true"></i>{{ 'MENU' | translate }}</button>
    </div>

    <ul class="List" [ngClass]="{ Extended: extendMenu }">
        <li class="Item" (click)="doMenuNavigation(navItem)" [ngClass]="{ Active : activeNavState === navItem.baseNavOption }" *ngFor="let navItem of navConfig; trackBy : trackByIndex">
            <i class="Icon fa-2x" ngClass="{{ navItem.get('style') }}" aria-hidden="true"></i>
            <span class="Title" *ngIf="extendMenu">{{ navItem.get('title') | translate }}</span>
        </li>
    </ul>

</nav>
