@import 'variables';

.LeftNavigation{
  height: 100%;
  width: 60px;
  position: fixed;
  top: 0;
  cursor: pointer;
  background-color: $backgroundDark;
  z-index: 9;

  .List{
    list-style: none;
    padding: 0;
    margin-top: 0;

    &.Extended {
      background-color: $backgroundDark;
      height: 100%;
      width: 160px;

      .Item {
        width: 160px;

        .Icon {
          width: 60px;
          float: left;
        }

        .Title {
          align-items: center;
          display: flex;
          float: left;
          height: 60px;
          width: 100px;
          font-weight: bold;
          font-size: 1.3em;
        }
      }
    }

    .Item{
      background-color: #42586f;
      color: white;
      height: 60px;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid $borderDarkColor;
      font: 11px sans-serif;
      padding: 0px;
      width: 60px;

      .Icon {
        position: relative;
        height: 60px;
        box-sizing: border-box;
        margin: 0px auto;
        display: block;
        vertical-align: middle;
        text-align: center;

        &:before {
          line-height: 60px;
          text-align: center;
          height: 60px;
          display: inline-block;
          vertical-align: middle;
          margin: 0px auto;
        }
      }

      .fa-2x {
        font-size: 28px;
      }

      &:hover{
        background-color: $backgroundDarkHover;
      }

      &.Active {
        background-color: $Blue;
      }

      .Link{
        color: $white;
        display: block;
        margin: 0px;

        &:hover{
          text-decoration: none;
        }

        .Title{
          position: absolute;
          top: 23px;
          left: 60px;
          font-size: 16px;
          font-family: $font-family-base;
        }
      }
    }
  }

  .Menu{
    background-color: $backgroundDark;
    width: 60px;
    height: 60px;
    color: white;
    border-bottom: 1px solid $borderDarkColor;

    .Button{
      background-color: $backgroundDark;
      color: white;
      width: 60px;
      height: 60px;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid $borderDarkColor;
      font:  10px sans-serif;
      padding: 0px;

      &:hover{
        background-color: $backgroundDarkHover;
      }

      .Icon {
        display: block;
        margin: 0px;
      }

      .fa-2x {
        font-size: 32px;
      }
    }
  }
}
