<div class="Full">
    <!-- reservation pickup location form -->
    <form [formGroup]="reservationLocationForm" novalidate>
    <label>
        <span *ngIf="!reservationLocationState.get('isFormValid')" class="Required">*</span>
        <span *ngIf="reservationLocationState.get('isFormValid')" class="Valid">*</span>
        <strong>{{ formDisplayName | translate }}</strong>
    </label>

        <!-- pickup location accelerator -->
        <div class="Excelerator"
              [ngClass]="{ 'HasError' : !reservationLocationState.get('isFormValid') && reservationLocationForm.touched }">

            <span class="fa fa-arrow-circle-right fa-2x Blue"></span>

            <div *ngIf="!disabled && reservationLocationState.get('name') === ''">
                <!-- receent locations accelerator -->
                <div *ngIf="!showGooglePlaces;else googlePlaces">
                    <input autoComplete
                            #previous
                            [minChars]="0"
                            [formControl]="previousLocations"
                            [source]="recentLocations"
                            [listFormatter]="listFormatter"
                            [displayFormatter]="displayFormatter"
                            placeholder="{{formDisplayName}}"
                            (ngModelChange)="previousChanged($event)"/>
                </div>
                <ng-template #googlePlaces>
                    <input googlePlaces
                            #googlePlace
                            placeholder="{{ formDisplayName | translate }}"
                            [formControl]="location"
                            (setAddress)="onUpdateLocation($event)"
                            (ngModelChange)="googleChanged($event)"/>
                </ng-template>
            </div>
            <div *ngIf="disabled || reservationLocationState.get('name') !== ''">
                <input googlePlaces
                        placeholder="{{ formDisplayName | translate }}"
                        disabled
                        [formControl]="location"/>
            </div>
        </div>

        <reservation-location-info
            *ngIf="reservationLocationState.get('name')"
            [reservationLocationState]="reservationLocationState"
            (onChange)="onLocationInfoChange($event)"
            (onClose)="removeAddress($event)">
        </reservation-location-info>
    </form>
</div>
