<div [ngClass]="{ PopUp : isPopped, 'isIE' : isIEBrowser, 'notIE' : !isIEBrowser, 'spinner' : isBusy }">
    <div class="MainContent">

        <top-navigation></top-navigation>

        <left-navigation></left-navigation>

        <div class="Wrapper">
            <router-outlet></router-outlet>

            <div id="testNotifications">
                <button type="button" (click)="createTestNotification()" class="Button">Test Notifications</button>
            </div>
        </div>
        <div id="PoppedBg"></div>
    </div>
</div>
