@import 'variables';
@import 'utility';

h2 {
    &.Title {
        margin: 0;
    }
}

.SelectPassengers,
.Passenger {
    padding: 10px 0 0;
}

.Remove {
    padding: 0 0 0 15px;
}

.Full {
    margin: 20px 0 0;

    .Submit {
        margin: 30px 0 0;
    }
}

.WillCall {
    position: relative;
    bottom: -35px;
}

.SpecialRequirements {
    margin-top: 30px;
}

.Items {
    margin: 10px 0 0;
}

.Address,
.OverrideReason,
.AdditionalInfo,
.ModeOfTransportationDetails {
  margin: 15px 0 0;
}

.Denied {
    margin: 0 0 15px;
}

.AppointmentDate {
    .Denied {
        margin: 15px 0;
    }
    .OverrideReason {
        margin: 0;
    }
    .Col-8 {
        margin-left: 15px;
    }
}

.AdditionalInfo {
    padding: 15px 0 0;
    clear: both;
}

.Address,
.AdditionlPassengerList,
.ModeOfTransportationDetails {
    margin-left: 15px;
}

.TripDistance {
    margin-bottom: 30px;
}
