<reservation-header
        [isEditing]="isEditing"
        [headerConfig]="headerConfig"
        [beneficiaryPlansState]="plansState"
        [beneficiaryUuid]="beneficiaryUuid"
        [specialRequirementsState]="specialRequirementsState">
</reservation-header>

<section class="Reservation">
    <div class="ReservationBody Block">
        <!-- reservation input -->
        <div class="LeftPanel">
            <div class="Container">
                <h2 class="Title">
                    {{ 'RESERVATION_DETAILS' | translate }}
                </h2>
                <br />
                <div *ngIf="reservationConfirmationNumber !== ''" class="Row Confirmation">
                    <h5>{{ 'RESERVATION_CONFIRMATION' | translate }}: {{ reservationConfirmationNumber }}</h5>
                </div>

                <reservation-edit-reason
                    *ngIf="reservationState.get('showReasonSelection')"
                    class="EditReason Block"
                    [reasons]="editReasons"
                    [selectedReasonUuid]="reservation.get('eventReasonUuid')"
                    [reasonComment]="reservation.get('eventComment')"
                    (selectReason)="onSelectEditReason($event)">
                </reservation-edit-reason>

                <!-- reservation leg -->
                <div *ngFor="let leg of reservationLegState; let i = index; trackBy : trackByIndex">
                    <div *ngIf="i !== editLeg && i !== deleteLeg">
                        <reservation-leg
                                [isEditing]="isEditing"
                                [reservationLeg]="i"
                                [reservationLegState]="reservationLegState">
                        </reservation-leg>
                    </div>
                </div>

                <div class="Row TripDistance" *ngIf="reservationLegState.size > 0 && editLeg === null && deleteLeg === null">
                    {{ 'TOTAL_TRIP_DISTANCE' | translate }}: {{tripDistance(reservationLegState).toFixed(1)}} {{ 'MILES_' | translate }}
                </div>

                <div class="Row TripDistance" *ngIf="deleteLeg !== null">
                    <button type="button"
                        [disabled]="!reservation.get('eventReasonUuid')"
                        (click)="deleteLeg()"
                        class="Button Secondary">{{ 'CONFIRM_LEG_DELETION' | translate }}
                    </button>
                </div>

                <div class="Block" *ngIf="!isEditing && !reservationSaveLegIndicator || editLeg !== null">
                    <div *ngIf="editLeg !== 0">
                        <!-- reservationTripIndicatorState -->
                        <reservation-trip-indicator
                                [reservationLeg]="reservationLegState.size"
                                [reservationTripIndicatorState]="reservationTripIndicatorState"
                                [reservationAppointmentDateState]="reservationAppointmentDateState"
                                [reservationPickupTimeState]="reservationPickupTimeState">
                        </reservation-trip-indicator>
                    </div>

                    <div *ngIf="reservationLegState.size === 0 || editLeg === 0">
                        <!-- requested by section -->
                        <reservation-requested-by
                                [isEditing]="isEditing"
                                [resetForm]="resetForm"
                                [beneficiaryConnectionsState]="beneficiaryConnectionsState"
                                [reservationRequestedByState]="reservationRequestedByState">
                        </reservation-requested-by>
                    </div>

                    <div *ngIf="reservationTripIndicatorState.get('roundTrip') === false || reservationLegState.size < 1 || editLeg === 0">
                        <!-- treatment type section -->
                        <reservation-treatment-type
                                [isEditing]="isEditing"
                                [resetForm]="resetForm"
                                [reservationTreatmentTypeState]="reservationTreatmentTypeState">
                        </reservation-treatment-type>

                        <!-- reservation appointment date section -->
                        <reservation-appointment-date
                        *ngIf="reservationLegState.size === 0 || !reservationTripIndicatorState.get('roundTrip')"
                                [isEditing]="isEditing"
                                [resetForm]="resetForm"
                                [disabled]="!validateRules() || !reservationTreatmentTypeState.get('isFormValid')"
                                [reservationAppointmentDateState]="reservationAppointmentDateState">
                        </reservation-appointment-date>

                        <!--
                         * Treatement Type business rule display
                         -->
                        <reservation-business-rules
                            [reservationBusinessRules]="reservationBusinessRules"
                            [ruleType]="'treatmentType'">
                        </reservation-business-rules>
                    </div>

                    <!-- special requirements section -->
                    <reservation-special-requirements
                            [headerText]="'SPECIAL_REQUIREMENTS'"
                            [specialRequirementsState]="reservationSpecialRequirementState"
                            [specialRequirementsList]="specialRequirementsList"
                            [tempSpecialRequirementsState]="tempSpecialRequirementsState"
                            (addSpecialRequirement)="onAddTempSpecialRequirement($event)"
                            (initEdit)="onInitSpecialRequirementsEdit($event)"
                            (removeSpecialRequirement)="onRemoveTempSpecialRequirement($event)"
                            (save)="onSaveTempSR($event)"
                            (setPermanence)="onSetTempSRPermanence($event)"
                            (updateFromDate)="onUpdateTempSRFromDate($event)"
                            (updateThruDate)="onUpdateTempSRThruDate($event)">
                    </reservation-special-requirements>

                    <!-- pickup location section -->
                    <reservation-location
                            [isEditing]="isEditing"
                            [resetForm]="resetForm"
                            [recentLocations]="recentPickupLocations"
                            [disabled]="!validateRules() || !reservationAppointmentDateState.get('appointmentDateValid') || !reservationAppointmentDateState.get('appointmentTimeValid')"
                            [formDisplayName]="'PICK_UP_LOCATION' | translate"
                            [reservationLocationState]="reservationPickupLocationState"
                            (updateLocation)="onUpdatePickupLocation($event)">
                    </reservation-location>

                    <!-- drop off location section -->
                    <reservation-location
                            [isEditing]="isEditing"
                            [resetForm]="resetForm"
                            [recentLocations]="recentDropoffLocations"
                            [disabled]="!validateRules() || !reservationAppointmentDateState.get('appointmentDateValid') || !reservationAppointmentDateState.get('appointmentTimeValid') || !reservationPickupLocationState.get('isFormValid')"
                            [formDisplayName]="'DROP_OFF_ADDRESS' | translate"
                            [reservationLocationState]="reservationDropOffLocationState"
                            (updateLocation)="onUpdateDropOffLocation($event)">
                    </reservation-location>

                    <!--
                     * location business rule display
                     -->
                    <reservation-business-rules
                            [reservationBusinessRules]="reservationBusinessRules"
                            [ruleType]="'location'">
                    </reservation-business-rules>

                    <!-- additional passenger list -->
                    <reservation-additional-passenger
                            [isEditing]="isEditing"
                            [disabled]="!validateRules()"
                            [beneficiaryConnectionsState]="beneficiaryConnectionsState"
                            [reservationAdditionalPassengersState]="reservationAdditionalPassengersState"
                            [specialRequirementsList]="specialRequirementsList">
                    </reservation-additional-passenger>

                    <!--
                     * additional passenger business rule display
                     -->
                    <reservation-business-rules
                            [reservationBusinessRules]="reservationBusinessRules"
                            [ruleType]="'escort'">
                    </reservation-business-rules>

                    <!-- mode of transportation -->
                    <reservation-mode-of-transportation
                            [isEditing]="isEditing"
                            [resetForm]="resetForm"
                            [disabled]="!validateRules() || !reservationAdditionalPassengersState.get('isFormValid') || !reservationDropOffLocationState.get('isFormValid')"
                            [reservationModeOfTransportationState]="reservationModeOfTransportationState">
                    </reservation-mode-of-transportation>

                    <reservation-mass-transit-routes
                        *ngIf="reservationModeOfTransportationState.getIn(['modeOfTransportation', 'name']) === 'Mass Transit'"
                        [pickupLocation]="reservationPickupLocationState"
                        [routes]="reservationModeOfTransportationState.get('massTransitRoutes')">
                    </reservation-mass-transit-routes>

                    <!--
                     * mode-of-transportation business rule display
                     -->
                    <reservation-business-rules
                            [reservationBusinessRules]="reservationBusinessRules"
                            [ruleType]="'modeOfTransportation'">
                    </reservation-business-rules>

                    <!-- preferred transportation providers -->
                    <!-- <reservation-preferred-transportation
                            [reservationPreferredTransportationState]="reservationPreferredTransportationState">
                    </reservation-preferred-transportation> -->

                    <!-- pickup time section -->
                    <reservation-pickup-time
                    *ngIf="reservationLegState.size === 0 || isEditing && reservationLegState.size === 0 || !reservationTripIndicatorState.get('roundTrip')"
                            [disabled]="!validateRules() || !reservationModeOfTransportationState.get('isFormValid')"
                            [resetForm]="resetForm"
                            [reservationPickupTimeState]="reservationPickupTimeState"
                            [reservationAppointmentDateState]="reservationAppointmentDateState">
                    </reservation-pickup-time>

                    <!-- new reservation submit -->
                    <div *ngIf="!isEditing" class="Full">
                        <button *ngIf="!denied && reservationTripIndicatorState.get('roundTrip') === false || !denied &&reservationLegState.size < 1" type="button"
                            [disabled]="!validateRules() || validateForm()"
                            (click)="addAdditionalLeg()"
                            class="Button">{{ 'ADD_ADDITIONAL_LEG' | translate }}
                        </button>

                        <button *ngIf="!denied" type="button"
                            [disabled]="!validateRules() || validateForm()"
                            (click)="saveLeg()"
                            class="Button Secondary">{{ 'SAVE_LEG' | translate }}
                        </button>
                        <!-- save denied reservation -->
                        <button *ngIf="denied" type="button"
                            (click)="saveDeniedReservation()"
                            class="Button Secondary">{{ 'SAVE_DENIED_RESERVATION' | translate }}
                        </button>
                        <button type="button"
                            (click)="onResetForm()"
                            class="Button Secondary pull-right">{{ 'RESET_FORM' | translate }}
                        </button>
                    </div>

                    <!-- edit reservation submit -->
                    <div *ngIf="isEditing" class="Full">
                        <button *ngIf="reservationTripIndicatorState.get('roundTrip') === false || reservationLegState.size < 1" type="button"
                            [disabled]="!validateRules() || validateForm()"
                            (click)="updateAddAdditionalLeg()"
                            class="Button">{{ 'ADD_ADDITIONAL_LEG' | translate }}
                        </button>

                        <button type="button"
                            [disabled]="!validateRules() || validateForm()"
                            (click)="updateLeg()"
                            class="Button Secondary">{{ 'UPDATE_LEG' | translate }}
                        </button>
                        <button type="button"
                            (click)="cancelEditLeg()"
                            class="Button Secondary pull-right">{{ 'CANCEL' | translate }}
                        </button>
                    </div>
                </div>

                <!-- new reservation review and submit -->
                <div class="Block" *ngIf="reservationSaveLegIndicator && reservationConfirmationNumber === ''">
                    <!-- submit -->
                    <div class="Full">
                        <button type="button"
                            (click)="submitReservation()"
                            class="Button">{{ 'SUBMIT_RESERVATION' | translate }}
                        </button>
                        <button type="button"
                            (click)="cancelSaveLeg()"
                            class="Button Secondary pull-right">{{ 'CANCEL' | translate }}
                        </button>
                    </div>
                </div>

                <!-- edit reservation review and submit -->
                <div class="Block" *ngIf="reservationSaveLegIndicator && isEditing">
                    <!-- submit -->
                    <div class="Full">
                        <button type="button"
                            (click)="editReservation()"
                            class="Button">{{ 'EDIT_RESERVATION' | translate }}
                        </button>
                        <button type="button"
                            (click)="cancelSaveLeg()"
                            class="Button Secondary pull-right">{{ 'CANCEL' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="RightPanel">
            <!-- ScheduledReservations -->
            <reservation-card
                    title="ScheduledReservations"
                    [beneficiaryUuid]="beneficiaryUuid"
                    [reservationCardState]="scheduledCardState"
                    [reservations]="scheduledReservations"
                    (onCloseDetails)="onScheduledCloseDetails($event)"
                    (onShowDetails)="onScheduledShowDetails($event)"
                    (onToggleLeg)="onScheduledToggleLeg($event)"
                    (viewEditReservation)="onViewEditReservation($event)">
            </reservation-card>

            <!-- ReservationHistory -->
            <reservation-card
                    title="ReservationHistory"
                    [beneficiaryUuid]="beneficiaryUuid"
                    [reservationCardState]="historyCardState"
                    [reservations]="historyReservations"
                    (onCloseDetails)="onHistoryCloseDetails($event)"
                    (onShowDetails)="onHistoryShowDetails($event)"
                    (onToggleLeg)="onHistoryToggleLeg($event)"
                    (viewEditReservation)="onViewEditReservation($event)">
            </reservation-card>
        </div>

        <!-- add a connection popup -->
        <div *ngIf="beneficiaryConnectionsState.get('isAddConnectionActive')" class="Popped">
            <div class="pull-right Close">
                <div class="Small">
                    <i class="fa fa-times fa-2x Black" (click)="cancelAdd()" aria-hidden="true"></i>
                </div>
            </div>

            <!-- add a connection -->
            <beneficiary-connection
                    [connection]="beneficiaryConnectionsState.getIn(['connectionsStateDetail', beneficiaryConnectionsState.get('addConnectionIndex')])"
                    [isAddConnectionActive]="beneficiaryConnectionsState.get('isAddConnectionActive')"
                    [isAddConnectionExpanded]="beneficiaryConnectionsState.get('isAddConnectionExpanded')"
                    [isAddPhoneActive]="beneficiaryConnectionsState.get('isAddPhoneActive')"
                    [isConnectionAddedManually]="beneficiaryConnectionsState.get('isConnectionAddedManually')"
                    [isConnectionAddedFromSearch]="beneficiaryConnectionsState.get('isConnectionAddedFromSearch')"
                    [dropdownTypes]="beneficiaryConnectionsState.get('dropdownTypes')"
                    (updateConnectionField)="onUpdateConnectionField($event, beneficiaryConnectionsState.get('addConnectionIndex'))"
                    (connectionFormValid)="onConnectionFormValid($event)">
            </beneficiary-connection>
        </div>
    </div>
</section>

<!-- runs async business rules -->
<reservation-business-rules
        [mileageDistance]="reservationMileageDistance"
        [escortHasValidated]="reservationAdditionalPassengersState.get('isFormValid')"
        [pickupTimeHasValidated]="reservationPickupTimeState.get('isFormValid')"
        [treatmentTypeHasValidated]="reservationTreatmentTypeState.get('isFormValid')"
        [modeOfTransportationHasValidated]="reservationModeOfTransportationState.get('isFormValid')"
        [apointmentDateTimeHasValidated]="reservationAppointmentDateState.get('appointmentDateValid') && reservationAppointmentDateState.get('appointmentTimeValid')">
</reservation-business-rules>
