<div class="BeneficiaryAddresses Block">
    <form [formGroup]="addressForm" novalidate>
        <div class="Full">
            <div class="pull-left">
                <div class="Medium">
                    <div class="Label">
                        <span [class.Required]="!addressType.valid" [class.Valid]="addressType.valid">*</span>
                        <strong>{{ 'ADDRESS' | translate }} {{ 'TYPE' | translate }}</strong>
                    </div>
                    <input type="hidden"
                           id="addressType"
                           [ngModel]="beneficiaryAddress.getIn(['addressType', 'value'])"
                           [formControl]="addressType">

                    <div class="Dropdown" [class.HasError]="!addressType.valid && addressForm.touched" (click)="$event.preventDefault()">
                        <div dropdown keyboardNav="true">
                            <button id="addressType" class="Input" dropdownToggle>
                                {{ beneficiaryAddress.getIn(['addressType', 'value']) | translate }} <span
                                    class="Icon Inline ChevronDown"></span>
                            </button>
                            <ul class="dropdown-menu Dropdown Menu" role="menu" aria-labelledby="addressType">
                                <li role="menuitem" *ngFor="let choice of addressTypes; trackBy : trackByIndex">
                                    <a class="dropdown-item" href="#" (click)="updateAddressTypes(choice)">{{ choice.value | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="Large" [class.HasError]="!street.valid && street.touched">
                    <div class="Label">
                        <span [class.Required]="!beneficiaryAddress.get('street')" [class.Valid]="beneficiaryAddress.get('street')">*</span>
                        <strong>{{ 'STREET_ADDRESS' | translate }}</strong>
                    </div>
                    <input type="text"
                           id="street"
                           *ngIf="!showGooglePlaces"
                           class="Input"
                           autocomplete="off"
                           [ngModel]="beneficiaryAddress.get('street')"
                           [formControl]="street">

                    <input googlePlaces
                           #googlePlace
                           *ngIf="showGooglePlaces"
                           [formControl]="street"
                           (setAddress)="onUpdateLocation($event)"
                           (ngModelChange)="onAddressTextEntered($event)"/>
                </div>

                <div class="Medium">
                    <div class="Label">
                        <strong>{{ 'APT_BLDG_SUITE' | translate }}</strong>
                    </div>
                    <input type="text"
                           id="apt"
                           class="Input"
                           autocomplete="off"
                           [ngModel]="beneficiaryAddress.get('apt')"
                           [formControl]="apt">
                </div>

                <div class="Medium">
                    <div class="Label">
                        <strong>{{ 'RECEIVE_NOTIFICATIONS' | translate }}&#63;</strong>
                    </div>
                    <input type="hidden"
                           id="addressNotifications"
                           [ngModel]="beneficiaryAddress.getIn(['addressNotifications', 'value'])"
                           [formControl]="addressNotifications">

                    <div class="Dropdown" (click)="$event.preventDefault()">
                        <div dropdown keyboardNav="true">
                            <button id="addressNotifications" class="Input" dropdownToggle>
                                {{ beneficiaryAddress.getIn(['addressNotifications', 'value']) | translate }} <span
                                    class="Icon Inline ChevronDown"></span>
                            </button>
                            <ul class="dropdown-menu Dropdown Menu" role="menu" aria-labelledby="addressNotifications">
                                <li role="menuitem" *ngFor="let choice of solicitationIndicatorTypes; trackBy : trackByIndex">
                                    <a class="dropdown-item" href="#"
                                       (click)="updateAddressNotifications(choice)">{{ choice.value | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div>
        <div class="Full">
            <div class="Label">
                <strong>{{ 'ADDITIONAL_GEOGRAPHICAL_DETAILS' | translate }}</strong>
            </div>
            <div class="Textarea">
				<textarea
                        rows="5"
                        id="geographicDetails"
                        class="Textarea Input"
                        [ngModel]="beneficiaryAddress.get('geographicDetails')"
                        [formControl]="geographicDetails">
                </textarea>
            </div>
        </div>
    </div>
</div>
