@import 'utility';

.BeneficiaryAddresses {
    &.Block {
        margin: 0;
        padding: 0;

        .Label {
            margin: 0 0 10px;

            color: $color-black;
        }
    }

    .Large {
        input {
            width: 329px;
        }
    }

    .Medium {
        #apt {
            width: 135px;
        }
    }

    .Textarea {
        .Input {
            width : 859px;
        }
    }
}
