
.Column {
    position: relative;

    display: inline-block;

    padding: 0 15px 0 0;

    &:nth-child(1) {
        top: -1.25em;

        width: 19%;
    }

    &:nth-child(2) {
        width: 18%;
    }

    &:nth-child(3) {
        width: 18%;
    }

    &:nth-child(4) {
        width: 15%;
    }

    &:nth-child(5) {
        width: 28%;

        .RadioButton {
            padding: 10px 0 10px 0;
        }
    }

    &:nth-child(6) {
        width: 23%;

        margin-left: 12.5em;
    }

    &:nth-child(7) {
        width: 28.5%;
    }

    &:nth-child(8) {
        width: 27%;
    }

    label {
        padding: 5px 0;
    }
}

// This, and Dropdown in general, needs to be moved to a global style
.Dropdown__Menu__Item {
    display: block;
}
