
<form class="Full" [formGroup]="reviewForm">
    <div class="Column">
        {{queueTaskItem.getIn(['queueTaskItemType','name'])}}
    </div>
    <div class="Column">
        <div  [ngClass]="{ 'HasError' : !reviewForm.controls['authorizationCode'].valid && reviewForm.controls['authorizationCode'].touched }">
            <input type="text" [formControl]="authorizationCode" placeholder="" [ngModel]="queueTaskItem.get('authorizationCode')">
            <label class="small">{{ 'AUTHORIZATION_CODE' | translate }}</label>
        </div>
    </div>
    <div class="Column">
        <input type="text" [formControl]="planFacilityName" placeholder="" [ngModel]="queueTaskItem.get('planFacilityName')">
        <label class="small">{{ 'PLAN_FACILITY_NAME' | translate }}</label>
    </div>
    <div class="Column">
        <input type="text" [formControl]="phoneNumber"  [ngModel]="queueTaskItem.get('phoneNumber')" placeholder="( ___ ) ___-____" [textMask]="{ mask : phoneMaskRegex }">
        <label class="small">{{ 'PHONE_NUMBER' | translate }}</label>
    </div>
    <div class="Column Approval">
        <div>
            <span class="Required">*</span> <strong>{{ 'APPROVAL_ACTION' | translate }}</strong>
        </div>
        <label class="RadioButton">
            <input type="radio"
                   name="isApprovedTrue_{{queueTaskItem.get('uuid')}}"
                   [formControl]="isApprovedTrue"
                   class="Radio CheckCircle"
                   [value]=true
                   [ngModel]="queueTaskItem.get('isApproved')"
                   >
            {{ 'APPROVED' | translate }}
        </label>
        <label class="RadioButton">
            <input type="radio"
                   name="isApprovedFalse_{{queueTaskItem.get('uuid')}}"
                   [formControl]="isApprovedFalse"
                   class="Radio CheckCircle"
                   [value]=false
                   [ngModel]="queueTaskItem.get('isApproved')"
                   >
            {{ 'NOT_APPROVED' | translate }}
        </label>
    </div>
    <div class="Column">
        <input type="text" [formControl]="verifiedWith" placeholder="" [ngModel]="queueTaskItem.get('verifiedWith')">
        <label class="small">{{ 'VERIFIED_WITH' | translate }}</label>
    </div>
    <div class="Column">
        <input type="text" [formControl]="note" placeholder="" [ngModel]="queueTaskItem.get('note')">
        <label class="small">{{ 'NOTES' | translate }}</label>
    </div>
    <div class="Column">
        <div class="Dropdown Approved" (click)="$event.preventDefault()" *ngIf="queueTaskItem.get('isApproved')">
            <label>
                <strong>{{ 'REASON_FOR_APPROVAL' | translate }}</strong>
            </label>
            <div class="Dropdown" (click)="$event.preventDefault()">
                <div dropdown keyboardNav="true">
                    <button id="overrideReason" class="Input" dropdownToggle>
                        {{queueTaskItem.get('overrideReasonName') || 'Choose...'}}
                    </button>
                    <ul class="dropdown-menu Menu Dropdown__Menu" role="menu">
                        <li class="Dropdown__Menu__Item" role="menuitem" *ngFor="let reason of decisionReasons.authorizedReasons; trackBy : trackByIndex">
                            <a class="dropdown-item" href="#" (click)="updateOverrideReason(reason)">{{reason.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="Dropdown NotApproved" (click)="$event.preventDefault()" *ngIf="!queueTaskItem.get('isApproved')">
            <label>
                <strong>{{ 'REASON_FOR_DENIAL' | translate }}</strong>
            </label>
            <div dropdown keyboardNav="true">
                <button id="overrideReason" class="Input" dropdownToggle >
                    {{queueTaskItem.get('overrideReasonName') || 'Choose...'}}
                </button>
                <ul class="dropdown-menu Menu Dropdown__Menu" role="menu">
                    <li class="Dropdown__Menu__Item" role="menuitem" *ngFor="let reason of decisionReasons.notAuthorizedReasons; trackBy : trackByIndex">
                        <a class="dropdown-item" href="#" (click)="updateOverrideReason(reason)">{{reason.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>
