@import 'utility';

.BeneficiaryContactInformation {
    &__AddressBlock {
        width: 610px;
    }

    strong {
        &.Label {
            padding: 0 7px 0 0;
        }
    }

    &.Block {
        .Label {
            margin: 0 0 10px;

            color: #000;
        }

        .Append {
            padding: 15px 0;

            a {
                font-weight: 500;
            }
        }
    }

    .addresses,
    .emails,
    .ContactRow {
        clear: both;

        @extend %clear;
    }

    .address {
        .panel-body {
            @extend %clear;
        }

        .remove-icon {
            margin: 20px 0 0 0;
        }
    }

    .ContactRow {
        position: relative;

        .panel-body,
        .remove-icon {
            float: left;
        }

        .remove-icon {
            position: relative;
            bottom: -50px;

            cursor: pointer;
        }
    }
}
