<div *ngIf="!isNewProfile" class="BeneficiaryContactInformation Block">
    <div (click)="editBeneficiaryContactInformation()" class="pull-right Link">
        <div class="Small">
            <i class="fa fa-pencil fa-2x Orange" aria-hidden="true"></i>
            <a (keypress)="editKeyPressHandler($event)" tabindex="0">{{ 'EDIT' | translate }}</a>
        </div>
    </div>
    <h2 class="Title">
        {{ 'ADDRESS' | translate }} {{ 'AND' | translate }} {{ 'CONTACT' | translate }} {{ 'INFORMATION' | translate }}
    </h2>

    <div *ngFor="let beneficiaryAddress of beneficiaryContactMechanismsState.getIn(['contactMechanismsState', 'addresses']); let i = index; trackBy : trackByIndex">
        <div class="Full">
            <div class="Medium" *ngIf="beneficiaryContactMechanismsState.getIn(['contactMechanismsState', 'addresses']).size > 1">
                <strong class="Label">{{ 'ADDRESS' | translate }} {{i+1}}</strong>
            </div>
            <div class="Large">
                <div class="Input">
                    <strong class="Label">{{ 'ADDRESS' | translate }} {{ 'TYPE' | translate }}:</strong> {{ beneficiaryAddress.getIn(['addressType', 'value']) | translate }}
                </div>
            </div>
        </div>
        <div class="Full">
            <div class="Col-9">
                <strong class="Label">{{ 'ADDRESS' | translate }}:</strong>
                {{ beneficiaryAddress.getIn(['street']) }},
                <span *ngIf="beneficiaryAddress.getIn(['apt'])">{{ beneficiaryAddress.getIn(['apt']) }},</span>
                {{ beneficiaryAddress.getIn(['city']) }},
                {{ beneficiaryAddress.getIn(['state']) }}
                {{ beneficiaryAddress.getIn(['postalCode']) }}
            </div>
            <div class="Col-3">
                <strong class="Label">{{ 'RECEIVE_NOTIFICATIONS' | translate }}:</strong>
                {{ beneficiaryAddress.getIn(['addressNotifications', 'value']) | translate }}
            </div>
        </div>
        <div class="Full">
            <div class="Large">
                <strong class="Label">{{ 'ADDITIONAL_GEOGRAPHICAL_DETAILS' | translate }}:</strong>
                {{ beneficiaryAddress.getIn(['geographicDetails']) | translate }}
            </div>
        </div>
        <br *ngIf="beneficiaryContactMechanismsState.getIn(['contactMechanismsState', 'addresses']).size > 1">
    </div>
    <div>
        <div class="Full" *ngFor="let beneficiaryEmail of beneficiaryContactMechanismsState.getIn(['contactMechanismsState', 'emails']); let i = index; trackBy : trackByIndex">
            <div class="Col-4">
                <strong class="Label">{{ 'EMAIL_TYPE' | translate }}:</strong> {{ beneficiaryEmail.getIn(['emailType', 'value']) | translate }}
            </div>
            <div class="Col-5">
                <strong class="Label">{{ 'EMAIL' | translate }}:</strong> {{ beneficiaryEmail.getIn(['email']) }}
            </div>
            <div class="Col-3">
                <strong class="Label">{{ 'RECEIVE_NOTIFICATIONS' | translate }}:</strong> {{ beneficiaryEmail.getIn(['emailNotifications', 'value']) | translate }}
            </div>
        </div>

        <div class="Full" *ngFor="let beneficiaryPhoneNumber of beneficiaryContactMechanismsState.getIn(['contactMechanismsState', 'phones']); trackBy : trackByIndex">
            <div class="Col-4">
                <strong class="Label">{{ 'PHONE_TYPE' | translate }}:</strong> {{ beneficiaryPhoneNumber.getIn(['phoneType', 'value']) | translate }}
            </div>
            <div class="Col-5">
                <strong class="Label">{{ 'PHONE_NUMBER' | translate }}:</strong> {{ beneficiaryPhoneNumber.getIn(['phone']) | phoneFormat }}
            </div>
            <div class="Col-3">
                <strong class="Label">{{ 'RECEIVE_NOTIFICATIONS' | translate }}:</strong> {{ beneficiaryPhoneNumber.getIn(['phoneNotifications', 'value']) | translate }}
            </div>
        </div>
    </div>
</div>

<!-- edit screen -->
<div *ngIf="beneficiaryContactMechanismsState.get('isContactMechanismsEditing') || isNewProfile" class="BeneficiaryContactInformation Block" [ngClass]="{ Popped : !isNewProfile }">
    <form [formGroup]="beneficiaryContactInfoForm" novalidate (ngSubmit)="onSubmit($event)">
        <div *ngIf='!isNewProfile' class="pull-right Link">
            <div class="Small">
                <i class="fa fa-times fa-2x Black" (click)="cancelUpdate()" aria-hidden="true"></i>
            </div>
        </div>
        <h2 class="Title">
            {{ 'ADDRESS' | translate }} {{ 'AND' | translate }} {{ 'CONTACT' | translate }} {{ 'INFORMATION' | translate }}
        </h2>

        <!--addresses-->
        <div formArrayName="addresses" class="addresses">
            <div *ngFor="let address of beneficiaryContactInfoForm.controls.addresses.controls; let i = index; trackBy : trackByIndex;" class="panel panel-default address">
                <div class="panel-body" [formGroupName]="i">
                    <beneficiary-address
                            [beneficiaryAddress]="beneficiaryContactMechanismsState.getIn(['contactMechanismsState', 'addresses', i])"
                            [solicitationIndicatorTypes]="beneficiaryContactMechanismsState.getIn(['dropdownTypes', 'solicitationIndicatorTypes'])"
                            [addressTypes]="beneficiaryContactMechanismsState.getIn(['dropdownTypes', 'addressTypes'])"
                            (updateAddressField)="onUpdateAddressField($event, i)"
                            (updateAddressType)="onUpdateAddressType($event, i)"
                            (updateAddressNotification)="onUpdateAddressNotificationType($event, i)"
                            (addressFormValid)="onAddressFormValid($event, i)">
                    </beneficiary-address>
                </div>
                <div *ngIf="beneficiaryContactInfoForm.controls.addresses.controls.length > 1"
                     (click)="removeAddress(i)"
                     aria-hidden="true"
                     class="remove-icon Small">
                    <i class="fa fa-trash fa-2x Orange"></i>
                    <a class="Blue">{{ 'REMOVE' | translate }}</a>
                </div>
            </div>
        </div>

        <div class="Full Append">
            <strong class="Label"><a (click)="addAddress()"><i class="fa fa-plus fa-lg" aria-hidden="true"></i> {{ 'ADD_ADDITIONAL_ADDRESS' | translate }}</a></strong>
        </div>
        <!--emails-->
        <div formArrayName="emails">
            <div *ngFor="let emails of beneficiaryContactInfoForm.controls.emails.controls; let i = index; trackBy : trackByIndex;"
                 class="panel panel-default ContactRow">
                <div class="panel-body" [formGroupName]="i">
                    <beneficiary-email
                            [beneficiaryEmail]="beneficiaryContactMechanismsState.getIn(['contactMechanismsState', 'emails', i])"
                            [solicitationIndicatorTypes]="beneficiaryContactMechanismsState.getIn(['dropdownTypes', 'solicitationIndicatorTypes'])"
                            [emailTypes]="beneficiaryContactMechanismsState.getIn(['dropdownTypes', 'emailTypes'])"
                            (updateEmailField)="onUpdateEmailField($event, i)"
                            (updateEmailType)="onUpdateEmailType($event, i)"
                            (updateEmailNotificationType)="onUpdateEmailNotificationType($event, i)"
                            (emailFormValid)="onEmailFormValid($event, i)">
                    </beneficiary-email>
                </div>

                <div *ngIf="beneficiaryContactInfoForm.controls.emails.controls.length > 1"
                     (click)="removeEmail(i)"
                     aria-hidden="true"
                     class="remove-icon Small">
                    <i class="fa fa-trash fa-2x Orange"></i>
                    <a class="Blue">{{ 'REMOVE' | translate }}</a>
                </div>
            </div>
        </div>

        <div class="Full Append">
            <strong class="Label"><a (click)="addEmail()"><i class="fa fa-plus fa-lg" aria-hidden="true"></i> {{ 'ADD_ADDITIONAL_EMAIL' | translate }}</a></strong>
        </div>

        <!--phones-->
        <div formArrayName="phones">
            <div *ngFor="let phones of beneficiaryContactInfoForm.controls.phones.controls; let i=index; trackBy : trackByIndex;"
                 class="panel panel-default ContactRow">
                <div class="panel-body" [formGroupName]="i">
                    <beneficiary-phone
                            [beneficiaryPhone]="beneficiaryContactMechanismsState.getIn(['contactMechanismsState', 'phones', i])"
                            [solicitationIndicatorTypes]="beneficiaryContactMechanismsState.getIn(['dropdownTypes', 'solicitationIndicatorTypes'])"
                            [phoneTypes]="beneficiaryContactMechanismsState.getIn(['dropdownTypes', 'phoneTypes'])"
                            (updatePhoneField)="onUpdatePhoneField($event, i)"
                            (updatePhoneType)="onUpdatePhoneType($event, i)"
                            (updatePhoneNotificationType)="onUpdatePhoneNotificationType($event, i)"
                            (phoneFormValid)="onPhoneFormValid($event, i)">
                    </beneficiary-phone>
                </div>

                <div *ngIf="beneficiaryContactInfoForm.controls.phones.controls.length > 1"
                     (click)="removePhone(i)"
                     aria-hidden="true"
                     class="remove-icon Small">
                    <i class="fa fa-trash fa-2x Orange"></i>
                    <a class="Blue">{{ 'REMOVE' | translate }}</a>
                </div>
            </div>
        </div>

        <div class="Full Append">
            <strong class="Label"><a (click)="addPhone()"><i class="fa fa-plus fa-lg" aria-hidden="true"></i> {{ 'ADD_ADDITIONAL_PHONE' | translate }}</a></strong>
        </div>
        <div *ngIf="!isNewProfile" class="Full">
            <div class="Medium">
                <div class="pull-left">
                    <button type="submit" [disabled]="!validAddressForm || !validEmailForm || !validPhoneForm"
                            class="Button Secondary">{{ 'UPDATE' | translate }}
                    </button>
                </div>
                <div class="pull-left">
                    <button (click)="cancelUpdate()" tabindex="0" type="button" class="Button">{{ 'CANCEL' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
