<div class="EligibilityRequests">
    <div *ngIf="requestList" class="EligibilityRequests__Block">
        <div class="EligibilityRequests__Block__Heading">
            <input class="Search" placeholder="Search..." type="search">
            <button>{{ 'DATE' | translate }}</button>
            <button>{{ 'PRIORITY' | translate }}</button>
            <button>{{ 'STATUS' | translate }}</button>
            <button>{{ 'PLAN' | translate }}</button>
            <button>{{ 'ASSIGNED_TO' | translate }}</button>
            <div class="pull-right ResultOptions">
                <span class="View">View</span>

                <div class="Dropdown" (click)="$event.preventDefault()">
                    <div dropdown keyboardNav="true">
                        <button id="resultsToDisplay" class="Medium__Input" dropdownToggle>
                            {{ resultsToDisplay }} <span class="Icon--inline Dropdown__ChevronDown"></span>
                        </button>
                        <ul class="dropdown-menu Dropdown__Menu" role="menu" aria-labelledby="resultsToDisplay">
                            <li role="menuitem" *ngFor="let choice of resultOptions; trackBy:trackByIndex">
                                <a class="dropdown-item" href="#" (click)="updateResultsToDisplay(choice, $event)">{{ choice.value }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="EligibilityRequests__Block__Body">
            <div class="EligibilityRequests__Block__Body__Titles">
                <ul>
                    <div class="Risk Clear"></div>
                    <li>
                        <div *ngIf="!toggleAllEligibilityRequests" (click)="toggleAllEligibilityRequests = !toggleAllEligibilityRequests" class="CheckBox"></div>
                        <div *ngIf="toggleAllEligibilityRequests" (click)="toggleAllEligibilityRequests = !toggleAllEligibilityRequests" class="CheckBox">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                    </li>
                    <li class="Name">{{ 'BENEFICIARY' | translate }}
                        <i (click)="changeOrderBy('NAME', 'up')" [ngClass]="{Active: orderStyle === 'LastName__ASC'}" class="fa fa-caret-up fa-2"></i>
                        <i (click)="changeOrderBy('NAME', 'dwn')" [ngClass]="{Active: orderStyle === 'LastName__DESC'}" class="fa fa-caret-down fa-2"></i>
                    </li>
                    <li class="Plan">{{ 'PLAN' | translate }}
                        <i (click)="changeOrderBy('PLAN', 'up')" [ngClass]="{Active: orderStyle === 'PLAN__ASC'}" class="fa fa-caret-up fa-2"></i>
                        <i (click)="changeOrderBy('PLAN', 'dwn')" [ngClass]="{Active: orderStyle === 'PLAN__DESC'}" class="fa fa-caret-down fa-2"></i>
                    </li>
                    <li class="State">{{ 'STATE' | translate }}
                        <i (click)="changeOrderBy('STATE', 'up')" [ngClass]="{Active: orderStyle === 'STATE__ASC'}" class="fa fa-caret-up fa-2"></i>
                        <i (click)="changeOrderBy('STATE', 'dwn')" [ngClass]="{Active: orderStyle === 'STATE__DESC'}" class="fa fa-caret-down fa-2"></i>
                    </li>
                    <li class="Date">{{ 'DATE' | translate }}
                        <i (click)="changeOrderBy('DATE', 'up')" [ngClass]="{Active: orderStyle === 'DATE__ASC'}" class="fa fa-caret-up fa-2"></i>
                        <i (click)="changeOrderBy('DATE', 'dwn')" [ngClass]="{Active: orderStyle === 'DATE__DESC'}" class="fa fa-caret-down fa-2"></i>
                    </li>
                    <li class="Assigned">{{ 'ASSIGNED_TO' | translate }}
                        <i (click)="changeOrderBy('ASSIGNED', 'up')" [ngClass]="{Active: orderStyle === 'ASSIGNED__ASC'}" class="fa fa-caret-up fa-2"></i>
                        <i (click)="changeOrderBy('ASSIGNED', 'dwn')" [ngClass]="{Active: orderStyle === 'ASSIGNED__DESC'}" class="fa fa-caret-down fa-2"></i>
                    </li>
                    <li class="Status">{{ 'STATUS' | translate }}
                        <i (click)="changeOrderBy('STATUS', 'up')" [ngClass]="{Active: orderStyle === 'STATUS__ASC'}" class="fa fa-caret-up fa-2"></i>
                        <i (click)="changeOrderBy('STATUS', 'dwn')" [ngClass]="{Active: orderStyle === 'STATUS__DESC'}" class="fa fa-caret-down fa-2"></i>
                    </li>
                </ul>
            </div>
            <div *ngFor="let result of requestList | slice:0:resultsToDisplay -1; let i=index" class="EligibilityRequests__Block__Body__List">
                <ul>
                    <div class="Risk {{result.risk.title}}"></div>
                    <li>
                        <div *ngIf="!toggleAllEligibilityRequests && !toggledEligibilityRequests[i]" (click)="toggleThisEligibilityRequest(i, true)" class="CheckBox"></div>
                        <div *ngIf="toggleAllEligibilityRequests || toggledEligibilityRequests[i]" (click)="toggleThisEligibilityRequest(i, false)" class="CheckBox">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                    </li>

                    <li class="Name">
                        <a [routerLink]="['/Beneficiary']">{{ result.beneficiary.firstName }} {{ result.beneficiary.lastName }}</a></li>

                    <li class="Plan">{{ result.plan.name}}</li>

                    <li class="State">{{ result.state}}</li>

                    <li class="Date">{{ result.date | dateDisplayFormat }}</li>

                    <li *ngIf="result.assignedTo.status === 'Assigned'" class="Assigned">
                        <a>{{ result.assignedTo.firstName + ' ' + result.assignedTo.lastName }}</a></li>

                    <li *ngIf="result.assignedTo.status !== 'Assigned'" class="Assigned">Unassigned</li>

                    <li class="Status">{{ result.status }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>


