@import 'variables';
@import 'utility';

.EligibilityRequests{
    float: left;
    width: 100%;

    h1, h2, h3, h4, h5{
    	margin: 0;
    }

	&__Block{
		background-color: $color-white;
		float: left;

		h2 {
			margin: 0;
			float: left;
		}

		&__Body{
			float: left;
			width: 905px;
			// padding: 15px;

			&__List{

				ul {
					list-style: none;
					margin: 0;
					width: 100%;
					padding:  0;
					float: left;
					border-bottom: solid 1px #ccc;

					li{
						padding: 13px;
						float: left;
					}

					i.fa {
						float: left;
						font-size: 1.3em;
						margin: 0 7px;
						color: $Green;
					}

					i.fa.fa-check {
						color: $Blue;
						font-size: 18px;
						margin: 0;
					}
				}

				.Name{
					width: 20%;
				}
				.Plan{
					width: 20%;
				}
				.State{
					width: 10%;
				}
				.Date{
					width: 12%;
				}
				.Assigned{
					width: 18%;
				}
				.Status{
					width: 13%;
				}
			}

			&__Titles{

				ul {
					list-style: none;
					padding: 0;
					margin: 0;
					width: 100%;
					float: left;
					border-bottom: solid 4px #CCC;

					li{
						padding: 13px;
						float: left;
						font-weight: bold;

						i.fa{
							position: relative;
							cursor: pointer;
							color: #ccc;
						}

						i.fa.fa-caret-up {
							top: -5px;
							left: 1.3px;
						}
						i.fa.fa-caret-down {
							bottom: -5px;
							left: -12px;
						}
						i.Active{
							color: $Blue;
						}

						i.fa.fa-check {
							color: $Blue;
							font-size: 18px;
							margin: 0;
						}
					}
				}

				.Name{
					width: 20%;
				}
				.Plan{
					width: 20%;
				}
				.State{
					width: 10%;
				}
				.Date{
					width: 12%;
				}
				.Assigned{
					width: 18%;
				}
				.Status{
					width: 13%;
				}
			}
		}

		&__Heading{
			padding: 9px;
			float: left;
			width: 905px;
			background-color: #777;
			color: $color-white;

			button {
				text-transform: uppercase;
				border : none;
				background-color: $color-white;
				height: 30px;
				margin: 0 2px;
				color: #777;
			}

			span, a{
				float: right;
				margin: 0 7px;
			}

			.Search{
				border: none;
				width: 260px;
				height: 30px;
				margin: 0 2px 0 0;
				text-indent: 5px;
			}

			.ResultOptions{
				width: 140px;
			}

			.Medium__Input{
				width: 75px;
			}

			.View{
				padding-top: 5px;
				float: left;
			}

			a.dropdown-item {
				float: none !important;
				margin: 0 !important;
				width: 100%;
			}

			ul.dropdown-menu.Dropdown__Menu{
				min-width: 77px;
				border-radius: 0px;
				margin-left: 50px;
				margin-top: -1px;
			}
		}
	}

	&__NoResults{
		float: left;
		width: 905px;

		&__Block {
			margin: 30px 0;
			background-color: $color-white;
			padding: 30px 15px 15px;

			&__Heading{
				padding-bottom: 15px;
			}

			&__Body{
				&__Titles div{
					margin-bottom: 15px;
				}
				&__List{

				}

				ul{
					padding: 0 15px;
				}
			}
		}
	}

	.CheckBox {
		width: 20px;
		height: 20px;
		box-sizing: border-box;
		box-shadow: none;
		background: inherit inherit inherit inherit inherit inherit inherit inherit inherit;
		border-width: 1px;
		border-style: solid;
		border-color: rgb(204, 204, 204);
		border-radius: 2px;
		cursor: pointer;
	}

	.Risk{
		height: 48px;
		width: 6px;
		float: left;
        margin: 0;
	}

	.High{
		background-color: #B6091A;
	}

	.Medium{
		background-color: #FFCC00;
	}

	.Low{
		background-color: #3CA749;
	}
}
