@import 'utility';

.Queues {
    float: left;

    width: 100%;
    .dropdown-toggle:before {
        content: '';
    }

    h1, h2, h3, h4, h5{
    	margin: 0;
    }
    label {
        &.Checkbox {
            padding: 0;
        }
    }
    .Dropdown {
        .open {
            box-shadow: none;
        }
    }
    .Row {
        border-top: solid 1px #ccc;
        background: $color-white;

        @extend %clear;
    }
    ul {
        float: left;

        width: 100%;
        margin: 0;
        padding:  0;

        list-style: none;

        li{
            padding: 13px;
        }

        i.fa {
            float: left;

            margin: 0 7px;

            color: $Green;

            font-size: 1.3em;
        }

        i.fa.fa-check {
            margin: 0;

            color: $Blue;

            font-size: 18px;
        }
    }
    .Queue {
        margin: 40px 0 0 0;
    }
    .QueueTabs {
        .Tab {
            display: inline-block;

            margin: 0 10px 0 0;
            padding: 10px 12px;

            cursor: pointer;

            color: $accent-blue;
            &:hover,
            &.Active {
                color: $white;
                background: $utility-blue;
            }
        }
        .Button {
            float: right;

            margin: 0 0 5px 0;
        }
    }
    .QueueFilter {
        float: left;

        width: 905px;
        padding: 9px;

        color: $color-white;
        background: $utility-blue;

        @extend %clear;

        .Filters {
            float: left;
            .SearchBox {
                float: left;

                margin: 0 15px 0 1em;

                color: #777;
            }
            .Dropdown {
                display: inline-block;

                height: 30px;
                margin: 0 2px;

                text-transform: uppercase;

                color: #777;
                border : none;
                background-color: $color-white;
                ul {
                    width: auto;
                }
            }
        }

        span,
        a{
            float: right;

            margin: 0 7px;
        }

        .Search {
            float: left;

            width: 260px;
            height: 30px;
            margin: 0 2px 0 0;

            text-indent: 5px;

            color: $color-black;
            border: none;
        }

        .ResultOptions{
            width: 140px;
            .Dropdown {
                color: $color-black;
            }
        }

        .Medium__Input{
            width: 75px;
        }

        .View{
            float: left;

            padding-top: 5px;
        }

        a.dropdown-item {
            float: none !important;

            width: 100%;
            margin: 0 !important;
            &.treatmentTypes {
                width: 430px !important;
            }
        }

        .Dropdown__Menu{
            top: 30px;
            left: 47px;

            min-width: 77px;

            border: none;
            border-radius: 0px;
        }
    }
    .QueueHeader,
    .QueueBody {
        ul {
            float: left;

            width: 100%;
            margin: 0;
            padding: 0;

            list-style: none;
            li{
                position: relative;

                display: inline-block;
                float: left;

                padding: 13px 0;
                &.SelectAll {
                    padding: 13px 13px 13px 4px;
                }
                i.Active{
                    color: $Blue;
                }

                i.fa.fa-check {
                    margin: 0;

                    color: $Blue;

                    font-size: 18px;
                }
            }
        }
    }
    .QueueHeader,
    .TableHead {
        ul {
            border-bottom: solid 4px #CCC;
            li {
                font-weight: bold;
                &.SelectAll {
                    padding-left: 10px;
                }
            }
        }

        span {
            display: inline-block;
            float: left;
        }
    }

	.Risk {
		float: left;

		width: 6px;
		height: 48px;
        margin: 0;
	}

	.High{
		background-color: #B6091A;
	}

	.Medium{
		background-color: #FFCC00;
	}

	.Low{
		background-color: #3CA749;
	}

    .Beneficiary {
        width: 16%;
    }
    .ReservationId {
        width: 15%;
    }
    .Plan {
        width: 23%;
    }
    .Date {
        width: 10%;
    }
    .State {
        width: 11%;
    }
    .TreatmentType {
        width: 18%
    }
}


.FilterPanel {
    float: left;

    padding: $padding-large-vertical $padding-small-horizontal;

    color: $white;
    border-radius: $border-radius-small $border-radius-small 0 0;
    background-color: $utility-blue;

    &__Popover {
        color: $black;

        // No padding needed with popovers containing check lists
        &--NoPadding {
            /deep/ .popover-content {
                padding: 0;
            }
        }
    }

    &__ClearFilter {
        position: relative;

        float:right;

        margin: -1.5em 0.5em auto auto;

        color: $utility-blue;

        font-size: 14px;
    }

    &__Dropdown {
        float: left;
    }

    &__FilterOption {
        margin: 0 .2em;
        padding: .35em 1em;

        color: $primary-blue;
        border: 0;
        background-color: $white;
    }

    &__FromDate {
        float: left;

        margin: auto 1em 1em auto;
    }

    &__ToDate {
        float: right;
    }

    &__Label {
        float: left;

        height: 32px;
        margin-right: 10px;

        color: $light-gray;

        font-weight: bold;
        line-height: 32px;
    }

    &__SelectionList {
        overflow-y: auto;

        max-height: 400px;
        margin: 0;
        padding: 1em 0 0;

        list-style-type: none;
    }


    &__Popover {
        color: $black;
    }
}
