<page-loading-overlay *ngIf="isFetching"></page-loading-overlay>

<section class="Queues">
    <h2>{{ 'EXCEPTIONS' | translate }}</h2>
    <div class="Queue">
        <div class="QueueTabs">
            <div class="Tab" [ngClass]="{ 'Active' : currentTab === queueTabTypes.UNASSIGNED}" (click)="changeCurrentTab(queueTabTypes.UNASSIGNED)">{{ 'UNASSIGNED' | translate }}</div>
            <div class="Tab Active" [ngClass]="{ 'Active' : currentTab === queueTabTypes.ASSIGNED_TO_ME}" (click)="changeCurrentTab(queueTabTypes.ASSIGNED_TO_ME)">{{ 'ASSIGNED_TO_ME' | translate }}</div>
            <div class="Tab" [ngClass]="{ 'Active' : currentTab === queueTabTypes.ASSIGNED_TO_OTHERS}" (click)="changeCurrentTab(queueTabTypes.ASSIGNED_TO_OTHERS)">{{ 'ASSIGNED_TO_OTHERS' | translate }}</div>
            <div class="Tab" [ngClass]="{ 'Active' : currentTab === queueTabTypes.COMPLETED}" (click)="changeCurrentTab(queueTabTypes.COMPLETED)">{{ 'COMPLETED' | translate }}</div>
            <button class="Button" *ngIf="currentTab === queueTabTypes.ASSIGNED_TO_ME" [disabled]="!selectedExceptions.size" (click)="openReviewPanel()">{{ 'OPEN' | translate }}</button>
            <button class="Button" *ngIf="currentTab === queueTabTypes.ASSIGNED_TO_OTHERS" (click)="assignExceptions(callTypes.UNASSIGN)" [disabled]="!selectedExceptions.size">{{ 'UNASSIGN' | translate }}</button>
            <button class="Button" *ngIf="currentTab === queueTabTypes.UNASSIGNED" (click)="assignExceptions(callTypes.CLAIM)" [disabled]="!selectedExceptions.size">{{ 'CLAIM' | translate }}</button>
        </div>

        <!-- get filtered data from service in exception-queue-filter-component  -->
        <div class="QueueFilter">
            <div class="Filters row">
                <div class="SearchBox Col-3">
                    <input
                        placeholder="Filter..."
                        type="text"
                        id="search"
                        class="Input"
                        autocomplete="off"
                        [ngModel]="searchString"
                        [formControl]="search">
                </div>
                <div  class="Dropdown Col-1" (click)="$event.preventDefault()">
                    <button class="dropdown-toggle" [popover]="dateFilterPopover">
                        {{ 'DATE' | translate }}
                    </button>
                    <i *ngIf="isFilteredByDate()" (click)="clearDateRangeFilter()" class="fa fa-times FilterPanel__ClearFilter"></i>
                </div>
                <div  class="Dropdown Col-2" (click)="$event.preventDefault()">
                    <button class="dropdown-toggle" [popover]="priorityFilterPopover">
                        {{ 'PRIORITY' | translate }}
                    </button>
                    <i *ngIf="isFilteredByPriority()" (click)="clearPriorityFilter()" class="fa fa-times FilterPanel__ClearFilter"></i>
                </div>
                <div class="Dropdown Col-1" (click)="$event.preventDefault()">
                        <button class="dropdown-toggle" [popover]="planFilterPopover">
                            {{ 'PLAN' | translate }}
                        </button>
                        <i *ngIf="isFilteredByPlanType()" (click)="clearPlanTypeFilter()" class="fa fa-times FilterPanel__ClearFilter"></i>
                </div>
                <div class="Dropdown Col-3" (click)="$event.preventDefault()">
                    <button  class="dropdown-toggle" [popover]="exceptionTypeFilterPopover">
                    {{ 'EXCEPTION_TYPE' | translate }}
                    </button>
                    <i *ngIf="isFilteredByTaskItemType()" (click)="clearTaskItemTypeFilter()" class="fa fa-times FilterPanel__ClearFilter"></i>
                </div>
            </div>
            <div class="pull-right ResultOptions">
                <span class="View">{{ 'VIEW' | translate }}</span>

                <div class="Dropdown" (click)="$event.preventDefault()">
                    <div dropdown keyboardNav="true">
                        <button id="resultsToDisplay" class="Medium__Input" dropdownToggle>
                            {{ pagingInfo.get('pageSize') }}<span class="Icon--inline Dropdown__ChevronDown"></span>
                        </button>
                        <ul class="dropdown-menu Dropdown__Menu" role="menu" aria-labelledby="resultsToDisplay">
                            <li role="menuitem">
                                <a class="dropdown-item" href="#" (click)="changePageSize('10')">10</a>
                                <a class="dropdown-item" href="#" (click)="changePageSize('25')">25</a>
                                <a class="dropdown-item" href="#" (click)="changePageSize('50')">50</a>
                                <a class="dropdown-item" href="#" (click)="changePageSize('100')">100</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <exception-queue-table
            [currentTab]="currentTab"
            [exceptionQueue]="exceptionQueue"
            [isSelectAll]="isSelectAll"
            [pagingInfo]="pagingInfo"
            [queryParams]="params">
        </exception-queue-table>
    </div>
    <div *ngIf="isReviewExceptionsActive" >
        <exception-review
            [exceptions]="selectedExceptions"
            [currentExceptionIndex]="currentExceptionIndex">
        </exception-review>
    </div>
</section>

<popover-content
    class="FilterPanel__Popover FilterPanel__Popover--NoPadding"
    #exceptionTypeFilterPopover
    [closeOnClickOutside]="true">
    <ul class="FilterPanel__SelectionList">
        <li *ngFor="let taskItemType of queueTaskTypes; trackBy : trackByIndex">
            <label class="Checkbox">
                <input
                    type="checkbox"
                    (click)="selectTaskItemType(taskItemType)"
                    [checked]="taskItemTypeFilter.get(taskItemType.get('uuid'))">
                    {{ taskItemType.get('name') }}
            </label>
        </li>
    </ul>
</popover-content>
<popover-content
    class="FilterPanel__Popover FilterPanel__Popover--NoPadding"
    #planFilterPopover
    [closeOnClickOutside]="true">
    <ul class="FilterPanel__SelectionList">
        <li *ngFor="let planType of planTypes.get(0); trackBy : trackByIndex">
            <label class="Checkbox">
                <input
                    type="checkbox"
                    (click)="selectPlanType(planType)"
                    [checked]="planTypeFilter.get(planType.get('id'))">
                {{ planType.get('value') }}
            </label>
        </li>
    </ul>
</popover-content>
<popover-content
    class="FilterPanel__Popover"
    #dateFilterPopover
    [closeOnClickOutside]="!isOpen">
    <div class="FilterPanel__FromDate">
        <strong>{{ 'FROM' | translate }}</strong>
        <date-picker
            [ngModel]="startDate"
            [formControl]="startDateControl"
            [dateFormat]="dateFormat"
            (onClose)="onSetDatePickerIsOpen(false)"
            (onOpen)="onSetDatePickerIsOpen(true)">
        </date-picker>
    </div>
    <div class="FilterPanel__ToDate">
        <strong>{{ 'TO' | translate }}</strong>
        <date-picker
            [ngModel]="endDate"
            [formControl]="endDateControl"
            [dateFormat]="dateFormat"
            (onClose)="onSetDatePickerIsOpen(false)"
            (onOpen)="onSetDatePickerIsOpen(true)">
        </date-picker>
    </div>
</popover-content>

<popover-content
    class="FilterPanel__Popover"
    #priorityFilterPopover
    [closeOnClickOutside]="!isOpen">
    <ul class="FilterPanel__SelectionList">
        <li *ngFor="let priority of priorities; trackBy : trackByIndex">
            <label class="Checkbox">
                <input
                    type="checkbox"
                    (click)="selectPriority(priority)"
                    [checked]="prioritiesFilter.get(priority.get('id'))">
                {{ priority.get('value') }}
            </label>
        </li>
    </ul>
</popover-content>
