@import 'variables';
@import 'utility';

.ReservationLeg {
    margin-top: 7px;
    .Confirmation {
        margin-bottom: 7px;
    }
    .Block {
        margin-bottom: 5px;
    }
    .LegCard {
        position: relative;
        //border: solid 1px $cardBorder;
        border-left: 60px solid $fadedGreen;

        .fa-car {
            position: absolute;
            left: -60px;
            height: calc(100% + 2px);
            //border: solid 1px $cardBorder;
            width: 60px;
            top: -1px;

            &::before {
                position: absolute;
                top: 50%;
                width: 60px;
                text-align: center;
                color: $white;
                transform: translateY(-50%);
                font-size: 24px;
            }
        }

        .EditBlock {
            position: absolute;
            right: 15px;

            div {
                float: right;
                margin: 0 0 0 15px;
                a {
                    color: transparent;
                    display: block;
                    width: 0;
                    overflow: hidden;
                }
            }
        }

        .CardBody {
            float: left;

            .Row {
                margin: 0 0 15px;

                @extend %clear;

                small {
                    span {
                        font-weight: bold;
                    }
                }

                &:first-child {
                    font-size: 16px;
                    padding: 0;
                }
            }
        }
    }
}
