<div class="ReservationLeg">
    <div class="LegCard Block">
        <div class="fa fa-car"></div>
        <div *ngIf="isEditing" class="EditBlock">
            <div>
                <i (click)="updateEditLeg(reservationLeg)" class="fa fa-2x fa-pencil Orange Link"></i>
                <a>{{ 'EDIT' | translate  }}</a>
            </div>
            <div *ngIf="reservationLegState.count() === reservationLeg + 1">
                <i (click)="updateDeleteLeg(reservationLeg)" class="fa fa-2x fa-trash Orange Link"></i>
                <a>{{ 'REMOVE' | translate }}</a>
            </div>
        </div>

        <div class="CardBody">
            <!-- leg number -->
            <div class="Row">
                <h5><strong>{{ 'LEG' | translate }}: {{ reservationLeg + 1 }}</strong></h5>
            </div>

            <!-- treatment type -->
            <div *ngIf="!isEditing" class="Row">
                <span><strong>{{ 'TREATMENT_TYPE' | translate }}</strong>:</span> {{reservationLegState.getIn([reservationLeg, 'treatmentType', 'name'])}} - {{reservationLegState.getIn([reservationLeg, 'reservationDateTime', 'date']) | dateTimeFormat : dateFormat }} @ {{reservationLegState.getIn([reservationLeg, 'reservationDateTime', 'time']) | dateTimeFormat : timeFormat }}
            </div>
            <div *ngIf="isEditing" class="Row">
                <span><strong>{{ 'TREATMENT_TYPE' | translate }}</strong>:</span> {{reservationLegState.getIn([reservationLeg, 'treatmentType', 'name'])}} - {{reservationLegState.getIn([reservationLeg, 'reservationDateTime', 'date']).replace('[UTC]', '') | dateTimeFormat : dateFormat }} @ {{reservationLegState.getIn([reservationLeg, 'reservationDateTime', 'time']).replace('[UTC]', '') | dateTimeFormat : timeFormat }}
            </div>

            <!-- from address -->
            <div class="Row">
                {{ 'FROM' | translate }}: {{reservationLegState.getIn([reservationLeg, 'pickupLocation', 'address1'])}} {{reservationLegState.getIn([reservationLeg, 'pickupLocation', 'city'])}}, {{reservationLegState.getIn([reservationLeg, 'pickupLocation', 'state'])}}  {{reservationLegState.getIn([reservationLeg, 'pickupLocation', 'zipCode'])}}
                <small *ngIf="reservationLegState.getIn([reservationLeg, 'pickupLocation', 'additionalInfo']) !== ''">
                    <br />
                    <span>{{'ADDITIONAL_INFO' | translate}}:</span> {{reservationLegState.getIn([reservationLeg, 'pickupLocation', 'additionalInfo'])}}
                </small>
            </div>

            <!-- to address -->
            <div class="Row">
                {{ 'TO' | translate }}: {{reservationLegState.getIn([reservationLeg, 'dropOffLocation', 'address1'])}} {{reservationLegState.getIn([reservationLeg, 'dropOffLocation', 'city'])}}, {{reservationLegState.getIn([reservationLeg, 'dropOffLocation', 'state'])}} {{reservationLegState.getIn([reservationLeg, 'dropOffLocation', 'zipCode'])}} <span *ngIf="reservationLegState.getIn([reservationLeg, 'legDistance']) !== 0">({{reservationLegState.getIn([reservationLeg, 'legDistance'])}} {{'MILES_' | translate}})</span>
                <small *ngIf="reservationLegState.getIn([reservationLeg, 'dropOffLocation', 'additionalInfo']) !== ''">
                    <br />
                    <span>{{'ADDITIONAL_INFO' | translate}}:</span> {{reservationLegState.getIn([reservationLeg, 'dropOffLocation', 'additionalInfo'])}}
                </small>
            </div>

            <!-- mode of transportation -->
            <div class="Row">
                {{ 'MODE_OF_TRANSPORTATION' | translate }}: {{modeOfTransportationName}}
            </div>

            <!-- special requirements -->
            <div class="Row">
                {{ 'SPECIAL_REQUIREMENTS' | translate }}:
                <ul *ngIf="reservationLegState.getIn([reservationLeg, 'specialRequirements']).size > 0">
                    <li *ngFor="let requirement of reservationLegState.getIn([reservationLeg, 'specialRequirements']); trackBy : trackByIndex">
                        {{ requirement.getIn(['type', 'value']) }}
                        <span *ngIf="!requirement.get('permanentRequirement')">
                            <strong>{{ 'STARTING' | translate }}: </strong>{{ requirement.get('fromDate') | dateDisplayFormat }}
                        </span>
                        <span *ngIf="!requirement.get('permanentRequirement')">&nbsp;</span>
                        <span *ngIf="!requirement.get('permanentRequirement')">
                            <strong>{{ 'UNTIL' | translate }}: </strong>{{ requirement.get('thruDate') | dateDisplayFormat }}
                        </span>
                    </li>
                </ul>
                <span *ngIf="reservationLegState.getIn([reservationLeg, 'specialRequirements']).size === 0">{{'NONE' | translate}}</span>
            </div>

            <!-- additional passengers -->
            <div class="Row" *ngIf="reservationLegState.getIn([reservationLeg, 'additionalPassengers']).size > 0">
                {{ 'ADDITIONAL_PASSENGERS' | translate }}:
                <ul>
                    <li *ngFor="let passenger of  reservationLegState.getIn([reservationLeg, 'additionalPassengers']); trackBy : trackByIndex">
                        {{ 'PASSENGERS' | translate }}: {{ passenger.get('name') }}
                    </li>
                </ul>
            </div>

            <!-- pickup time -->
            <div class="Row">
               {{ 'PICK_UP_TIME' | translate }}: {{reservationLegState.getIn([reservationLeg, 'pickupTime']) | dateTimeFormat : timeFormat }}
            </div>
        </div>
    </div>
</div>
