@import 'utility';

.BeneficiaryInformation {
    strong {
        &.label {
            padding: 0 7px 0 0;
        }
    }

    .SubmitBlock {
        clear: both;

        margin-top: 25px !important;
    }

    &.Block {
        .DeceasedDate {
            margin-top: -2em !important;
        }

        .CheckCircle {
            height: 21px;
        }

        .Label {
            color: $color-black;

            margin: 0 10px 10px 0;
        }

        .Title {
            margin: 0;
            padding: 0 0 22px 0;
        }
    }
    h2 {
        + .Full {
            padding: 0;
        }
    }
    .Full {
        .Row {
            @extend %clear;

            margin: 0 0 10px 0;

            &:last-child {
                margin: 0;
            }
        }
    }
}
