<div *ngIf="!isNewProfile" class="BeneficiaryInformation Block">
    <div (click)="editBeneficiaryInformation()" class="pull-right Link">
        <div class="Small">
            <i class="fa fa-pencil fa-2x Orange" aria-hidden="true"></i> <a (keypress)="editKeyPressHandler($event)"
            tabindex="0">{{ 'EDIT' | translate  }}</a>
        </div>
    </div>
    <h2 class="Title">
        {{ 'BENEFICIARY' | translate  }} {{ 'INFORMATION' | translate  }}
    </h2>
    <div class="Full">
        <div class="Row">
            <div class="Col-4">
                <strong>{{ 'NAME' | translate }}:</strong> <a tabindex="0" [routerLink]="['/Beneficiary/', beneficiaryInfoState.getIn(['beneficiaryInfo', 'uuid'])]">{{ beneficiaryInfoState.getIn(['beneficiaryInfo', 'firstName']) + ' ' + beneficiaryInfoState.getIn(['beneficiaryInfo', 'lastName']) }}</a>
            </div>
            <div class="Col-5">
                <strong>{{ 'DATE_OF_BIRTH' | translate }}:</strong> ({{ beneficiaryInfoState.getIn(['beneficiaryInfo', 'birthDate']) | dateDisplayFormat }}) {{ beneficiaryInfoState.getIn(['beneficiaryInfo', 'birthDate']) | calculateYearsFromToday }} {{ 'YEARS_OLD' | translate }}
            </div>
            <div class="Col-2">
                <div *ngIf="beneficiaryInfoState.getIn(['beneficiaryInfo', 'isDeceased'])">
                    <strong class="label">{{ 'DECEASED' | translate }}:</strong> {{ 'YES' | translate }}
                </div>
                <div *ngIf="!beneficiaryInfoState.getIn(['beneficiaryInfo', 'isDeceased'])">
                    <strong class="label">{{ 'DECEASED' | translate }}:</strong> {{ 'NO' | translate }}
                </div>
            </div>
        </div>
        <div class="Row">
            <div class="Col-4">
                <strong class="label">{{ 'GENDER_' | translate }}:</strong> {{ beneficiaryInfoState.getIn(['beneficiaryInfo', 'gender']) }}
            </div>
            <div class="Col-5">
                <div class="Col-2">
                    <strong class="label">{{ 'WEIGHT_' | translate }}:</strong> {{ beneficiaryInfoState.getIn(['beneficiaryInfo', 'weight']) }} {{ 'LBS_' | translate }}
                </div>
                <div class="Col-2">
                    <strong class="label">{{ 'HEIGHT_' | translate }}:</strong> {{ beneficiaryInfoState.getIn(['beneficiaryInfo', 'heightFeet']) | translate }}{{ 'FT_' | translate }} {{ beneficiaryInfoState.getIn(['beneficiaryInfo', 'heightInches']) | translate }}{{ 'IN_' | translate }}
                </div>
            </div>
        </div>
        <div class="Row">
            <div class="Col-12">
                <strong class="label">{{ 'PRIMARY_LANGUAGE' | translate }}:</strong> {{ beneficiaryInfoState.getIn(['beneficiaryInfo', 'language']) }}
            </div>
        </div>
    </div>
</div>

<!-- edit screen -->
<div *ngIf="beneficiaryInfoState.get('isBeneficiaryInfoEditing') || isNewProfile" class="BeneficiaryInformation Block" [ngClass]="{ Popped : !isNewProfile }">
    <!--<pre>FORM VALID: {{ beneficiaryInfoForm.valid }}</pre>-->
    <form [formGroup]="beneficiaryInfoForm" novalidate (ngSubmit)="onSubmit($event)">
        <div *ngIf="!isNewProfile" class="pull-right Link">
            <div class="Small">
                <i class="fa fa-times fa-2x Black" (click)="cancelUpdate()" aria-hidden="true"></i>
            </div>
        </div>
        <h2 class="Title">
            {{ 'BENEFICIARY' | translate }} {{ 'INFORMATION' | translate }}
        </h2>

        <div>
            <div class="Full">
                <span [class.Required]="!firstName.valid || !lastName.valid" [class.Valid]="firstName.valid && lastName.valid">*</span>
                <strong>{{ 'NAME' | translate }}</strong>
            </div>
            <div class="Full">
                <div class="pull-left">
                    <div class="Small">
                        <input type="hidden"
                               [ngModel]="beneficiaryInfoState.getIn(['beneficiaryInfo', 'personalTitle'])"
                               [formControl]="personalTitle">

                        <div class="Dropdown" (click)="$event.preventDefault()">
                            <div dropdown keyboardNav="true">
                                <button id="personalTitle" class="Input" dropdownToggle tabindex="0">
                                    {{ beneficiaryInfoState.getIn(['beneficiaryInfo', 'personalTitle']) | translate }} <span class="Icon inline Dropdown ChevronDown"></span>
                                </button>
                                <ul class="dropdown-menu Dropdown__Menu" role="menu" aria-labelledby="personalTitle">
                                    <li role="menuitem" *ngFor="let choice of beneficiaryInfoState.getIn(['dropdownTypes', 'salutationTypes']); trackBy : trackByIndex">
                                        <a class="dropdown-item" href="#" (click)="updatePersonalTitle(choice, $event)">{{ choice.value | translate }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="Label">
                        <label for="firstName" class="">
                            <span class="">{{ 'SALUTATION' | translate  }}</span>
                        </label>
                    </div>
                </div>

                <div class="pull-left">
                    <div class="Medium" [class.HasError]="!firstName.valid && firstName.touched">
                        <input type="name"
                               tabindex="0"
                               id="firstName"
                               class="Input"
                               autocomplete="off"
                               [ngModel]="beneficiaryInfoState.getIn(['beneficiaryInfo', 'firstName'])"
                               [formControl]="firstName">
                    </div>

                    <div class="Label">
                        <label for="firstName" class="">
                            <span class="Required">*</span> <span class="">{{ 'FIRST_NAME' | translate  }}</span>
                        </label>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="Medium">
                        <input type="name"
                               tabindex="0"
                               id="middleName"
                               class="Input"
                               autocomplete="off"
                               [ngModel]="beneficiaryInfoState.getIn(['beneficiaryInfo', 'middleName'])"
                               [formControl]="middleName">
                    </div>

                    <div class="Label">
                        <label for="middleName" class="">
                            <span class="">{{ 'MIDDLE_NAME' | translate  }}</span>
                        </label>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="Medium" [class.HasError]="!lastName.valid && lastName.touched">
                        <input type="name"
                               tabindex="0"
                               id="lastName"
                               class="Input"
                               autocomplete="off"
                               [ngModel]="beneficiaryInfoState.getIn(['beneficiaryInfo', 'lastName'])"
                               [formControl]="lastName">
                    </div>

                    <div class="Label">
                        <label for="lastName" class="">
                            <span class="Required">*</span> <span class="">{{ 'LAST_NAME' | translate  }}</span>
                        </label>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="Small">
                        <input type="text"
                               tabindex="0"
                               id="suffix"
                               class="Input"
                               autocomplete="off"
                               [ngModel]="beneficiaryInfoState.getIn(['beneficiaryInfo', 'suffix'])"
                               [formControl]="suffix">
                    </div>

                    <div class="Label">
                        <label for="suffix" class="">
                            <span class="">{{ 'SUFFIX' | translate  }}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="Full">
                <span [class.Required]="!birthDate.valid" [class.Valid]="birthDate.valid">*</span>
                <strong>{{ 'DATE_OF_BIRTH' | translate }}</strong>
            </div>

            <div>
                <div class="Full">
                    <div class="Medium" [class.HasError]="!birthDate.valid && birthDate.touched">
                        <!--<pre>Datepicker Valid: {{ birthDate.valid }}</pre>
                        <pre>Datepicker Touched: {{ birthDate.touched }}</pre>-->
                        <date-picker
                            [ngModel]="beneficiaryInfoState.getIn(['beneficiaryInfo', 'birthDate'])"
                            [maxDate]="setMaxBirthDate()"
                            [formControl]="birthDate"
                            [dateFormat]="dateFormat">
                        </date-picker>
                    </div>
                    ({{ beneficiaryInfoState.getIn(['beneficiaryInfo', 'birthDate']) | calculateYearsFromToday }} {{ 'YEARS_OLD' | translate }})
                </div>
            </div>
        </div>



        <div class="Full">
            <strong>{{ 'DECEASED' | translate }}</strong>
        </div>

        <div>
            <div class="Full">
                <div [class.HasError]="!isDeceasedYesButton.valid && isDeceasedYesButton.touched">
                    <div class="Label pull-left">
                        <label for="deceased_true" class="RadioButton">
                            <input type="radio"
                                   tabindex="0"
                                   id="deceased_true"
                                   class="Radio CheckCircle"
                                   [value]=true
                                   [checked]="beneficiaryInfoState.getIn(['beneficiaryInfo', 'isDeceased'])"
                                   (click)="updateDeceased(true)"
                                   [ngModel]="beneficiaryInfoState.getIn(['beneficiaryInfo', 'isDeceased'])"
                                   [formControl]="isDeceasedYesButton">
                            <span class="">{{ 'YES' | translate }}</span>
                        </label>
                    </div>
                </div>
                <div>
                    <div class="Label pull-left">
                        <label for="deceased_false" class="RadioButton">
                            <input type="radio"
                                   tabindex="0"
                                   id="deceased_false"
                                   class="Radio CheckCircle"
                                   [value]=false
                                   [checked]="!beneficiaryInfoState.getIn(['beneficiaryInfo', 'isDeceased'])"
                                   (click)="updateDeceased(false)"
                                   [ngModel]="beneficiaryInfoState.getIn(['beneficiaryInfo', 'isDeceased'])"
                                   [formControl]="isDeceasedNoButton">
                            <span class="">{{ 'NO' | translate }}</span>
                        </label>
                    </div>
                </div>

                <div *ngIf="beneficiaryInfoState.getIn(['beneficiaryInfo', 'isDeceased'])" class="Small DeceasedDate">
                    <div>
                        <span [class.Required]="!deathDate.valid" [class.Valid]="deathDate.valid">*</span>
                        <strong>{{ 'DECEASED_DATE' | translate }}</strong>
                    </div>
                    <div>
                        <div>
                            <div class="Medium" [class.HasError]="!deathDate.valid && deathDate.touched">
                                <date-picker
                                    [ngModel]="beneficiaryInfoState.getIn(['beneficiaryInfo', 'deathDate'])"
                                    [minDate]="setMinDeceasedDate()"
                                    [formControl]="deathDate"
                                    [dateFormat]="dateFormat">
                                </date-picker>

                            </div>
                            ({{ beneficiaryInfoState.getIn(['beneficiaryInfo', 'deathDate']) | calculateAgeAtDeath : beneficiaryInfoState.getIn(['beneficiaryInfo', 'birthDate']) }} {{ 'YEARS_OLD' | translate }})
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="Full">
            <div class="Medium">
                <div class="Input">
                    <span [class.Required]="!gender.valid" [class.Valid]="gender.valid">*</span>
                    <strong>{{ 'GENDER_' | translate }}</strong>
                </div>
            </div>
            <div class="Medium">
                <div class="Input">
                    <strong>{{ 'WEIGHT_' | translate }}</strong>
                </div>
            </div>
            <div class="Medium">
                <div class="Input">
                    <strong>{{ 'HEIGHT_' | translate }}</strong>
                </div>
            </div>
        </div>

        <div>
            <div class="Full">
                <div class="Medium">
                    <input type="hidden"
                           [ngModel]="beneficiaryInfoState.getIn(['beneficiaryInfo', 'gender'])"
                           [formControl]="gender">

                    <div class="Dropdown" [class.HasError]="!gender.valid && beneficiaryInfoForm.touched" (click)="$event.preventDefault()">
                        <div dropdown keyboardNav="true">
                            <button id="gender" class="Input" dropdownToggle tabindex="0">
                                {{ beneficiaryInfoState.getIn(['beneficiaryInfo', 'gender']) | translate }} <span class="Icon inline Dropdown ChevronDown"></span>
                            </button>
                            <ul class="dropdown-menu Dropdown__Menu" role="menu" aria-labelledby="gender">
                                <li role="menuitem" *ngFor="let choice of beneficiaryInfoState.getIn(['dropdownTypes', 'genderTypes']); trackBy : trackByIndex">
                                    <a class="dropdown-item" href="#" (click)="updateGender(choice, $event)">{{ choice.value | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="Medium">
                    <input type="number"
                           max="1500"
                           min="0"
                           tabindex="0"
                           id="weight"
                           class="Input"
                           autocomplete="off"
                           [ngModel]="beneficiaryInfoState.getIn(['beneficiaryInfo', 'weight'])"
                           [formControl]="weight">
                </div>
                <div class="Medium">
                    <input type="hidden"
                           [ngModel]="beneficiaryInfoState.getIn(['beneficiaryInfo', 'heightFeet'])"
                           [formControl]="heightFeet">

                    <div class="Dropdown" (click)="$event.preventDefault()">
                        <div dropdown keyboardNav="true">
                            <button id="height" class="Input" dropdownToggle tabindex="0">
                                {{ beneficiaryInfoState.getIn(['beneficiaryInfo', 'heightFeet']) | translate }} <span class="Icon inline Dropdown ChevronDown"></span>
                            </button>
                            <ul class="dropdown-menu Dropdown__Menu" role="menu" aria-labelledby="height">
                                <li role="menuitem" *ngFor="let choice of beneficiaryInfoState.getIn(['dropdownTypes', 'heightInFeetTypes']); trackBy : trackByIndex">
                                    <a class="dropdown-item" href="#" (click)="updateHeight(choice, $event)">{{ choice.value | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <label for="height" class="">
                        <span class="">{{ 'FEET' | translate  }}</span>
                    </label>
                </div>
                <div class="Medium">
                    <input type="hidden"
                           [ngModel]="beneficiaryInfoState.getIn(['beneficiaryInfo', 'heightInches'])"
                           [formControl]="heightInches">

                    <div class="Dropdown" (click)="$event.preventDefault()">
                        <div dropdown keyboardNav="true">
                            <button id="inches" class="Input" dropdownToggle tabindex="0">
                                {{ beneficiaryInfoState.getIn(['beneficiaryInfo', 'heightInches']) | translate }} <span class="Icon inline Dropdown ChevronDown"></span>
                            </button>
                            <ul class="dropdown-menu Dropdown__Menu" role="menu" aria-labelledby="inches">
                                <li role="menuitem" *ngFor="let choice of beneficiaryInfoState.getIn(['dropdownTypes', 'heightInInchesTypes']); trackBy : trackByIndex">
                                    <a class="dropdown-item" href="#" (click)="updateInches(choice, $event)">{{ choice.value | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <label for="inches" class="">
                        <span class="">{{ 'INCHES' | translate  }}</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="Full">
            <div class="Medium">
                <div class="Input">
                    <strong>{{ 'PRIMARY_LANGUAGE' | translate }}</strong>
                </div>
            </div>
        </div>

        <div>
            <div class="Full">
                <div class="Medium">
                    <input autoComplete
                           [minChars]="0"
                           placeholder="{{ 'SELECT' | translate }}"
                           [formControl]="language"
                           [ngModel]="beneficiaryInfoState.getIn(['beneficiaryInfo', 'language'])"
                           [source]="beneficiaryInfoState.getIn(['dropdownTypes', 'languageTypes'])"
                           [listFormatter]="listFormatter"
                           [displayPropertyName]="'value'"
                           [valuePropertyName]="'id'"
                           (valueChanged)="updateLanguage($event)"/>
                </div>
            </div>
        </div>

        <!-- only display when NOT creating new beneficiary profile -->
        <div *ngIf="!isNewProfile">
            <div class="Medium SubmitBlock">
                <div class="pull-left">
                    <button tabindex="0" type="submit" [disabled]="!beneficiaryInfoForm.valid" class="Button Secondary">
                        {{ 'SAVE' | translate }}
                    </button>
                </div>
                <div class="pull-left">
                    <button (click)="cancelUpdate()" tabindex="0" type="button" class="Button">
                        {{ 'CANCEL' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
