@import 'variables';
@import 'utility';

.ActivityLogPanel{
	float: left;

	.Block{

		h2 {
			margin: 0;
			float: left;
		}

		.Body{
			float: left;
			width: 555px;
			padding: 0 0 15px 15px;

			.Titles{

				ul {
					list-style: none;
					padding: 0 0 15px 0;
					width: 100%;
					float: left;
					border-bottom: solid 1px #777;

					li{
						float: left;
						font-weight: bold;
					}
				}

				span{
					font-weight: bold;
				}
				.fa {
					font-size: 1.5em;
					color: $Orange;
				}
			}

			.Info{
				padding: 0 0 30px 30px;

				.fa {
					font-size: 1.5em;
					color: $Blue;
				}

				.From{
					font-weight: bold;
				}
			}
		}

		.Heading{

			span, a{
				float: right;
				margin: 0 7px;
			}
		}

	}
}
