<div class="ActivityLogPanel">
    <div class="Block">
        <div class="Heading">
            <h2>Your Activity Log</h2>
            <!-- <a>View All</a> -->
            <span>Viewing: 4 of 4</span>
        </div>
        <div class="Body">
            <div class="Titles">
                <i class="fa fa-calendar fa-2x"></i>
                <span>Reservation</span>
            </div>
            <div class="Info">
                <i class="fa fa-angle-right fa-2x"></i>
                <span>09/10/2016 | 7:15 AM</span>
                <div class="From">
                    From: John Caseman, (555) 979-8000. Trip: <a>12345678</a>
                </div>
                <div class="To">
                    Trip: 09/01/2016 at 10:30AM EST to Dialysis - Dr. Alexander Brown
                </div>
            </div>
            <div class="Titles">
                <i class="fa fa-calendar fa-2x"></i>
                <span>Reservation</span>
            </div>
            <div class="Info">
                <i class="fa fa-angle-right fa-2x"></i>
                <span>09/10/2016 | 7:15 AM</span>
                <div class="From">
                    From: John Caseman, (555) 979-8000. Trip: <a>12345678</a>
                </div>
                <div class="To">
                    Trip: 09/01/2016 at 10:30AM EST to Dialysis - Dr. Alexander Brown
                </div>
            </div>
            <div class="Titles">
                <i class="fa fa-calendar fa-2x"></i>
                <span>Reservation</span>
            </div>
            <div class="Info">
                <i class="fa fa-angle-right fa-2x"></i>
                <span>09/10/2016 | 7:15 AM</span>
                <div class="From">
                    From: John Caseman, (555) 979-8000. Trip: <a>12345678</a>
                </div>
                <div class="To">
                    Trip: 09/01/2016 at 10:30AM EST to Dialysis - Dr. Alexander Brown
                </div>
            </div>
            <div class="Titles">
                <i class="fa fa-calendar fa-2x"></i>
                <span>Reservation</span>
            </div>
            <div class="Info">
                <i class="fa fa-angle-right fa-2x"></i>
                <span>09/10/2016 | 7:15 AM</span>
                <div class="From">
                    From: John Caseman, (555) 979-8000. Trip: <a>12345678</a>
                </div>
                <div class="To">
                    Trip: 09/01/2016 at 10:30AM EST to Dialysis - Dr. Alexander Brown
                </div>
            </div>
        </div>
    </div>
</div>
