@import 'variables';
@import 'utility';

.ReservationTripIndicator {
    .ReturnPickupTime{
        margin-bottom: 15px;
    }

    .WillCall {
        padding: 53px 0 0 25px;
        display: block;
    }
}
