<div *ngIf="reservationLeg > 0" class="ReservationTripIndicator">
    <div class="LegType">
        <label for="roundTrip" class="RadioButton">
            <input type="radio"
                    id="roundTrip"
                    [value]=true
                    (click)="updateRoundTrip(true)"
                    [ngModel]="reservationTripIndicatorState.get('roundTrip')"
                    [checked]="reservationTripIndicatorState.get('roundTrip')"
                    [formControl]="roundTrip">
            {{ 'ROUND_TRIP' | translate }}
        </label>
        <label for="addAnotherLeg" class="RadioButton">
            <input type="radio"
                    id="addAnotherLeg"
                    [value]=false
                    (click)="updateRoundTrip(false)"
                    [ngModel]="reservationTripIndicatorState.get('roundTrip')"
                    [checked]="!reservationTripIndicatorState.get('roundTrip')"
                    [formControl]="roundTrip">
            {{ 'ADD_ANOTHER_LEG' | translate }}
        </label>
    </div>

    <div *ngIf="reservationTripIndicatorState.get('roundTrip')" class="ReturnPickupTime">
        <div class="Col-3">
            <reservation-pickup-time
                    [disabled]="reservationTripIndicatorState.get('willCall')"
                    [reservationPickupTimeState]="reservationPickupTimeState"
                    [reservationAppointmentDateState]="reservationAppointmentDateState">
            </reservation-pickup-time>
        </div>
        <div class="Col-2 WillCall">
            <label for="willCall" class="Checkbox">
                <input type="checkbox"
                        [ngModel]="reservationTripIndicatorState.get('willCall')"
                        checked="reservationTripIndicatorState.get('willCall')"
                        (click)="updateWillCall(reservationTripIndicatorState.get('willCall'))"
                        [formControl]="willCall">
                {{ 'WILL_CALL' | translate }}
            </label>
        </div>
    </div>
</div>
