<div class="SearchResultsPanel">
    <div *ngIf="searchResults.size > 0" class="Row">
        <div class="Heading">
            <!--
            comment this until services has a change to implement server-side filtering
            <input class="Filter" placeholder="{{ 'FILTER' | translate }}..." type="search">
            -->
            <div class="pull-right ResultOptions">
                <span class="View">{{ 'VIEW' | translate }}:</span>

                <div class="Dropdown" (click)="$event.preventDefault()">
                    <div dropdown keyboardNav="true">
                        <button id="searchViewCount" class="Input" dropdownToggle>
                        {{ selectedPageSize.get('value') | translate }} <i class="Icon Inline ChevronDown"></i>
                        </button>
                        <ul class="dropdown-menu Menu" role="menu" aria-labelledby="searchViewCount">
                            <li role="menuitem" *ngFor="let choice of paginationConfig.get('pageSizeOptions'); trackBy : trackByIndex">
                                <a class="dropdown-item" href="#" (click)="changePageSize(choice, $event)">{{ choice.get('value') | translate }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="Body">
            <div class="Titles">
                <ul>
                    <li class="Name"><span class="Title">{{ 'BENEFICIARY' | translate }}</span>
                        <div class="arrows">
                            <i (click)="changeOrderBy('lastName', 'asc')" [ngClass]="{ Active : resultsOrderByConfig.get('sortColumn') === 'lastName' && resultsOrderByConfig.get('sortOrder') === 'asc' }"
                               class="fa fa-caret-up fa-lg"></i>
                            <i (click)="changeOrderBy('lastName', 'desc')" [ngClass]="{ Active : resultsOrderByConfig.get('sortColumn') === 'lastName' && resultsOrderByConfig.get('sortOrder') === 'desc' }"
                               class="fa fa-caret-down fa-lg"></i>
                        </div>
                    </li>
                    <li class="DOB"><span class="Title">{{ 'DOB' | translate }}</span>
                        <div class="arrows">
                            <i (click)="changeOrderBy('birthDate', 'asc')" [ngClass]="{ Active : resultsOrderByConfig.get('sortColumn') === 'birthDate' && resultsOrderByConfig.get('sortOrder') === 'asc' }"
                               class="fa fa-caret-up fa-lg"></i>
                            <i (click)="changeOrderBy('birthDate', 'desc')" [ngClass]="{ Active : resultsOrderByConfig.get('sortColumn') === 'birthDate' && resultsOrderByConfig.get('sortOrder') === 'desc' }"
                               class="fa fa-caret-down fa-lg"></i>
                        </div>
                    </li>
                    <li class="Address"><span class="Title">{{ 'ADDRESS' | translate }}</span>
                        <div class="arrows">
                            <i (click)="changeOrderBy('contactMechanisms.contactMechanism.address1', 'asc')" [ngClass]="{ Active : resultsOrderByConfig.get('sortColumn') === 'contactMechanisms.contactMechanism.address1' && resultsOrderByConfig.get('sortOrder') === 'asc' }"
                               class="fa fa-caret-up fa-lg"></i>
                            <i (click)="changeOrderBy('contactMechanisms.contactMechanism.address1', 'desc')" [ngClass]="{ Active : resultsOrderByConfig.get('sortColumn') === 'contactMechanisms.contactMechanism.address1' && resultsOrderByConfig.get('sortOrder') === 'desc' }"
                               class="fa fa-caret-down fa-lg"></i>
                        </div>
                    </li>
                    <li class="Phone"><span class="Title">{{ 'PHONE' | translate }}</span>
                        <div class="arrows">
                            <i (click)="changeOrderBy('contactMechanisms.contactMechanism.contactNumber', 'asc')" [ngClass]="{ Active : resultsOrderByConfig.get('sortColumn') === 'contactMechanisms.contactMechanism.contactNumber' && resultsOrderByConfig.get('sortOrder') === 'asc' }"
                               class="fa fa-caret-up fa-lg"></i>
                            <i (click)="changeOrderBy('contactMechanisms.contactMechanism.contactNumber', 'desc')" [ngClass]="{ Active : resultsOrderByConfig.get('sortColumn') === 'contactMechanisms.contactMechanism.contactNumber' && resultsOrderByConfig.get('sortOrder') === 'desc' }"
                               class="fa fa-caret-down fa-lg"></i>
                        </div>
                    </li>
                    <li class="Plan"><span class="Title">{{ 'PLAN' | translate }}</span>
                        <div class="arrows">
                            <i (click)="changeOrderBy('serviceCoverages.serviceCoveragePlan.name', 'asc')" [ngClass]="{ Active : resultsOrderByConfig.get('sortColumn') === 'serviceCoverages.serviceCoveragePlan.name' && resultsOrderByConfig.get('sortOrder') === 'asc' }"
                               class="fa fa-caret-up fa-lg"></i>
                            <i (click)="changeOrderBy('serviceCoverages.serviceCoveragePlan.name', 'desc')" [ngClass]="{ Active : resultsOrderByConfig.get('sortColumn') === 'serviceCoverages.serviceCoveragePlan.name' && resultsOrderByConfig.get('sortOrder') === 'desc' }"
                               class="fa fa-caret-down fa-lg"></i>
                        </div>
                    </li>
                </ul>
            </div>
            <div *ngFor="let result of searchResults; trackBy : trackByIndex" class="List">
                <ul>
                    <li class="Name">
                        <a (click)="goViewBeneficiary(result.get('beneficiaryUUID'))">{{ result.get('beneficiaryName') }}</a>
                    </li>
                    <li class="DOB">{{ result.get('beneficiaryDOB') | dateDisplayFormat }}</li>
                    <li class="Address" *ngIf="result.get('beneficiaryAddress') !== 'N/A'">{{ result.get('beneficiaryAddress') }}, {{ result.get('beneficiaryCity') }}  {{ result.get('beneficiaryState') }} {{ result.get('beneficiaryPostalCode') }}</li>
                    <li class="Address" *ngIf="result.get('beneficiaryAddress') == 'N/A'">{{ result.get('beneficiaryAddress') }}</li>
                    <li class="Phone">{{ result.get('beneficiaryPhone') | phoneFormat }}</li>
                    <li class="Plan">
                        <div *ngFor="let plan of result.get('beneficiaryPlans'); trackBy : trackByIndex" class="List">
                            <tooltip-component
                                    [plan]="plan">
                            </tooltip-component>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- footer button and pagination -->
    <div *ngIf="searchResults.size > 0" class="Footer">
        <div class="pull-left">
            <button (click)="goToAddBeneficiary()" type="button" class="Button">{{ 'ADD_NEW_BENEFICIARY' | translate }}</button>
        </div>
        <div class="pull-right">
            <pagination-component
                    [paginationConfig]="paginationConfig"
                    (incrementPageIndex)="onIncrementPageIndex()"
                    (decrementPageIndex)="onDecrementPageIndex()">
            </pagination-component>
        </div>
    </div>

    <!-- show no search results available -->
    <div *ngIf="searchResults.size === 0" class="NoResults Alert Block">
        <div class="Container Red">
            <div class="Box">
                <div class="Image">
                    <i class="fa fa-exclamation-circle fa-3"></i>
                </div>
                <div class="Info">
                    {{ 'NO' | translate }} {{ 'RESULTS' | translate }} {{ 'FOUND' | translate }}.
                </div>
            </div>
        </div>

        <!--
        // TODO: Refactor or remove
        <div class="Block">
            <h3>{{ 'DID_YOU_MEAN' | translate }}</h3>
            <div class="Body">
                <div class="Titles">
                    <div><a [routerLink]="['/Beneficiary']">Jonathon Doe</a></div>
                    <div><a [routerLink]="['/Beneficiary']">Jack Dough</a></div>
                </div>
            </div>
        </div>
        -->

        <div class="Block">
            <h3>{{ 'OTHER_SUGGESTIONS' | translate }}</h3>
            <div class="Body">
                <ul class="List">
                    <li>{{ 'CHECK_YOUR_SPELLING' | translate }}</li>
                    <li>{{ 'TRY_DIFFERENT_KEYWORDS' | translate }}</li>
                    <li><a (click)="goToAddBeneficiary()">{{ 'CREATE_A_NEW_PROFILE' | translate }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
