@import '../../../../../styles/variables';
@import '../../../../../styles/utility';

.SearchResultsPanel {
    float: left;
    width: 100%;

    h1, h2, h3, h4, h5 {
        margin: 0;
    }

    .Name,
    .DOB,
    .Address,
    .Phone,
    .Plan {
        padding: 0 0 0 0px;
    }

    .Row {
        width: 100%;
        background-color: $white;

        h2 {
            margin: 0;
            float: left;
        }

        .Body {

            .List {
                float: left;
                background: $white;
                width: 100%;
                ul {
                    list-style: none;
                    padding: 20px 0;
                    margin: 0;
                    width: 100%;
                    float: left;
                    border-bottom: solid 1px #ccc;

                    li {
                        float: left;
                    }

                    i.fa {
                        float: left;
                        font-size: 1.3em;
                        margin: 0 7px;
                        color: $Green;
                    }
                }

                .Name {
                    width: 15%;
                    min-width: 15%;
                    margin-left: 3%;
                }
                .DOB {
                    width: 11%;
                    min-width: 11%;
                }
                .Address {
                    width: 34%;
                    min-width: 34%;
                }
                .Phone {
                    width: 14%;
                    min-width: 14%;
                }
                .Plan {
                    width: 23%;
                }
            }

            .Titles {
                float: left;
                background: $white;
                width: 100%;

                ul {
                    list-style: none;
                    padding: 12px 0;
                    margin: 0;
                    width: 100%;
                    float: left;
                    border-bottom: solid 1px $black;

                    li {
                        float: left;
                        font-weight: bold;
                        font-size: 1em;

                        .Title {
                            float: left;
                        }

                        .arrows {
                            float: left;
                            position: relative;
                            display: inline-block;

                            padding-left: 5px;
                            top: -1px;
                            height: 20px;
                            width: 10px;

                            i.fa {
                                float: left;
                                height: 10px;
                                position: relative;
                                cursor: pointer;
                                color: #ccc;
                            }

                            i.fa.fa-caret-up {

                            }
                            i.fa.fa-caret-down {

                            }
                            i.Active {
                                color: $Blue;
                            }
                        }

                    }
                }

                .Name {
                    width: 15%;
                    min-width: 15%;
                    margin-left: 3%;
                }
                .DOB {
                    width: 11%;
                    min-width: 11%;
                }
                .Address {
                    width: 34%;
                    min-width: 34%;
                }
                .Phone {
                    width: 14%;
                    min-width: 14%;
                }
                .Plan {
                    // width: 15%;
                }
            }
        }

        .Heading {
            height: 52px;
            padding: 10px 15px;
            width: 100%;
            background-color: $utility-blue;
            color: $color-white;

            button {
                text-transform: uppercase;
                border: none;
                background-color: $color-white;
                height: 32px;
                margin: 0 2px;
                color: $dimGray;
            }

            .Input {
                width: 75px;
                color: $dark-gray;
                font-weight: bold;
                border-radius: 2px;
            }

            a.dropdown-item {
                float: none !important;
                margin: 0 !important;
                width: 100%;
            }

            ul.dropdown-menu.Menu {
                min-width: 77px;
                border-radius: 0px;
                margin-left: 0px;
                margin-top: -1px;
            }

            .Filter {
                border: none;
                width: 260px;
                height: 30px;
                margin: 0 2px 0 0;
                text-indent: 5px;
            }

            .ResultOptions {

                .View {
                    font-weight: bold;
                    color: $light-gray;
                    margin-right: 10px;
                    line-height: 32px;
                    height: 32px;
                    float: left;
                }

                .Dropdown {
                    float: left;
                }
            }

        }
    }

    .Footer {
        width: 100%;
        display: block;
        float: left;
        padding: 5px 12px 20px;
        background: $white;

        .Button {
            margin: 10px 0;
        }
    }

    .NoResults {
        float: left;
        width: 100%;

        .Block {
            margin: 30px 0 0;
            background-color: $color-white;
            padding: 30px 15px 15px;
            float: left;

            h3 {
                margin-bottom: 10px;
            }

            .Heading {
                padding-bottom: 15px;
            }

            .Body {
                .Titles div {
                    margin-bottom: 15px;
                }
                .List {

                }

                ul {
                    padding: 0 15px;

                    li {
                        margin: 10px 0 10px;
                    }
                }
            }
        }
    }
}
