<div class="CallActivityPanel">
    <div class="Block">
        <div class="Heading">
            <h2>{{ 'CALL_ACTIVITY' | translate }}</h2>
        </div>
        <div class="Body">
            <div class="Segment">
                <div class="Icon">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="Label">
                    <strong>{{ 'RECEIVED_CALLS' | translate }}</strong>
                    <div class="Value">{{ callDetails.get('callsReceived') }}</div>
                </div>
            </div>

            <div class="Segment">
                <div class="Icon">
                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                </div>
                <div class="Label">
                    <strong>{{ 'PLACED_CALLS' | translate }}</strong>
                    <div class="Value">{{ callDetails.get('callsPlaced') }}</div>

                </div>
            </div>
            <div class="Segment">
                <div class="Icon">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                </div>
                <div class="Label">
                    <strong>{{ 'AVERAGE_CALL_TIME' | translate }}</strong>
                    <div class="Value">{{ callDetails.get('avgCallTime') }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
