@import '../../../styles/variables';
@import '../../../styles/colors';
.UserNotificationContainer {
    background-color: $color-white;
    padding-left: $padding-base-horizontal;
    padding-bottom: $padding-base-vertical;
    padding-top: $padding-base-vertical;
    padding-right: $padding-base-horizontal;
    color: $gray-darker;
    -moz-border-radius: $border-radius-small;
    -webkit-border-radius: $border-radius-small;
    border-radius: $border-radius-small;
}
