<div class="ng2-auto-complete">

    <!-- keyword input -->
    <input *ngIf="showInputTag"
           #autoCompleteInput class="keyword"
           placeholder="{{placeholder}}"
           (focus)="showDropdownList($event)"
           (blur)="hideDropdownList()"
           (keydown)="inputElKeyHandler($event)"
           (input)="reloadListInDelay($event)"
           [(ngModel)]="keyword"/>

    <!-- dropdown that user can select -->
    <ul *ngIf="dropdownVisible" [class.empty]="emptyList">
        <li *ngIf="isLoading"><span class="Loading"></span> {{loadingText}}</li>
        <li *ngIf="minCharsEntered && !isLoading && getListLength() === 0 && noMatchFoundText === 'PLUS_ADD_A_CONNECTION'"
            (mousedown)="selectOne('PLUS_ADD_A_CONNECTION')"
            class="AddConnection">{{ noMatchFoundText | translate }}
        </li>

        <li *ngIf="minCharsEntered && !isLoading && getListLength() === 0 && noMatchFoundText !== 'PLUS_ADD_A_CONNECTION'"
            (mousedown)="selectOne('')"
            class="BlankItem">{{'NO_RESULT_FOUND' | translate}}
        </li>

        <li *ngIf="blankOptionText && filteredList.length"
            (mousedown)="selectOne('')"
            class="BlankItem">{{blankOptionText}}
        </li>
        <li class="item"
            *ngFor="let item of filteredList; let i=index"
            (mousedown)="selectOne(item)"
            [ngClass]="{selected: i === itemIndex, 'AddConnection' : item.name === 'PLUS_ADD_A_CONNECTION'}"
            [innerHtml]="getFormattedList(item)">
        </li>
    </ul>
</div>
