@keyframes slideDown {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.ng2-auto-complete {
    background-color: transparent;

    .AddConnection{
        color: green;
    }
}

.ng2-auto-complete > input {
    outline: none;
    border: 0;
    padding: 2px;
    box-sizing: border-box;
    background-clip: content-box;
}

.ng2-auto-complete > ul {
    background-color: #fff;
    margin: 0;
    width: 100%;
    // height: 100px;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    animation: slideDown 0.1s;
}

.ng2-auto-complete > ul.empty {
    display: none;
}

.ng2-auto-complete > ul li {
    padding: 2px 5px;
    border-bottom: 1px solid #eee;
}

.ng2-auto-complete > ul li.selected {
    background-color: #ccc;
}

.ng2-auto-complete > ul li:last-child {
    border-bottom: none;
}

.ng2-auto-complete > ul li:hover {
    background-color: #ccc;
}
