<div class="ReservationTreatmentType">
    <div class="Full TreatmentType">
        <!-- reservation details form -->
        <form [formGroup]="reservationTreatmentTypeForm" novalidate>
            <label for="treatmentType">
                <span *ngIf="!reservationTreatmentTypeState.get('isFormValid')" class="Required">*</span>
                <span *ngIf="reservationTreatmentTypeState.get('isFormValid')" class="Valid">*</span>
                <strong>{{ 'TREATMENT_TYPE' | translate }}</strong>
            </label>

            <!-- treatment type accelerator -->
            <div class="Excelerator"
              [ngClass]="{ 'HasError' : reservationTreatmentTypeState.getIn(['treatmentType', 'name']) === '' && reservationTreatmentTypeForm.touched }">

                <span class="fa fa-arrow-circle-right fa-2x Blue"></span>
                <input autoComplete
                    placeholder="{{ 'TREATMENT_TYPE' | translate }}"
                    minChars="3"
                    [formControl]="treatmentType"
                    [ngModel]="reservationTreatmentTypeState.getIn(['treatmentType', 'name'])"
                    [source]="reservationTreatmentTypeState.get('treatmentTypesAccelerator').toJS()"
                    [listFormatter]="listFormatter"
                    [displayPropertyName]="'name'"
                    [valuePropertyName]="'uuid'"
                    (valueChanged)="updateTreatmentType($event)"/>
            </div>
        </form>
    </div>
</div>
