<div class="BeneficiaryPhones Block">
    <form [formGroup]="phoneForm" novalidate>
        <div class="Full">
            <div class="pull-left">
                <div class="Medium">
                    <div class="Label">
                        <span [ngClass]="{ 'Required' : !phoneForm.controls['phoneType'].valid, 'Valid' : phoneForm.controls['phoneType'].valid }">*</span> <strong>{{ 'PHONE' | translate }} {{ 'TYPE' | translate }}</strong>
                    </div>
                    <input type="hidden"
                           id="phoneType"
                           [ngModel]="beneficiaryPhone.getIn(['purposeType', 'value'])"
                           [formControl]="phoneType">

                    <div class="Dropdown" [ngClass]="{ 'HasError' : beneficiaryPhone.getIn(['purposeType', 'value']) === 'SELECT' && phoneForm.touched }">
                        <div dropdown keyboardNav="true">
                            <button class="Input" dropdownToggle>
                                {{ beneficiaryPhone.getIn(['purposeType', 'value']) | translate }} <span
                                class="Icon Inline ChevronDown"></span>
                            </button>
                            <ul class="dropdown-menu Dropdown Menu" role="menu" aria-labelledby="phoneType">
                                <li role="menuitem" *ngFor="let choice of phoneTypes; trackBy : trackByIndex">
                                    <a class="dropdown-item" href="#" (click)="updatePhonePurposeType(choice, $event)">{{ choice.value | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="ExtraLarge" [ngClass]="{ 'HasError' : !phoneForm.controls['phoneNumber'].valid && phoneForm.controls['phoneNumber'].touched}">
                    <div class="Label">
                        <span [ngClass]="{ 'Required' : !phoneForm.controls['phoneNumber'].valid, 'Valid' : phoneForm.controls['phoneNumber'].valid }">*</span> <strong>{{ 'PHONE' | translate }} {{ 'NUMBER' | translate }}</strong>
                    </div>
                    <input type="text"
                           class="Input"
                           autocomplete="off"
                           [ngModel]="beneficiaryPhone.get('phone')"
                           [formControl]="phoneNumber"
                           placeholder="( ___ ) ___-____"
                           [textMask]="{ mask : phoneMaskRegex }">
                </div>
            </div>
        </div>
    </form>
</div>
