@import 'utility';

.BeneficiaryTransportationProvider {
    h2 {
        padding: 0 0 22px;
    }

    &.Block {
        @extend %clear;
    }

    .fa-trash {
        font-size: 18px;
    }

    .Field {
        float: left;

        width: 25%;

        button {
            width: 80%;
        }
    }

    .Submit {
        margin: 0 0 20px 0;

        input {
            margin: 18px 0 0;
        }
    }
}
