<div class="BeneficiaryTransportationProvider Block">
	<h2>Transportation Provider Preferences</h2>
	<div class="PreferredProvider">
		<form class="Full"><!-- ngIf doesn't have a Preferred provider -->
			<div class="Col-4">
				<label for="PreferredProvider">
					<strong>{{ 'PREFERRED_PROVIDER' | translate }}</strong>
				</label>
				<div class="Excelerator">
					<span class="fa fa-arrow-circle-right fa-2x Blue"></span>
					<input type="text" />
				</div>
			</div>
		</form>
		<div class="ReadOnly Full"><!-- ngIf has a Preferred provider -->
			<strong>{{ 'COMPANY' | translate }}:</strong> ABC Cab Company<span class="fa fa-times Orange"></span>
		</div>
	</div>
	<div class="ExcludedProvider Full">
		<form class="Full">
			<div>
				<label for="ExcludedProvider">
					<strong>{{ 'EXCLUDED_PROVIDERS' | translate }}</strong>
				</label>
			</div>
			<div class="Col-4">
				<div class="Excelerator">
					<span class="fa fa-arrow-circle-right fa-2x Blue"></span>
					<input type="text" />
				</div>
			</div>
			<div class="Col-3">
				<div class="Dropdown" (click)="$event.preventDefault()">
					<div dropdown keyboardNav="true">
					<button id="ExcludedProviderReason" class="Input" dropdownToggle>
							Choose...
						</button>
						<ul class="dropdown-menu Menu" role="menu" aria-labelledby="transportationMode">
							<li role="menuitem">
								<a class="dropdown-item" href="#">Reason Item</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="Col-2">
				<button class="Button Secondary">Add</button>
			</div>
		</form>
		<div class="ReadOnly">
			<div class="Full"><!-- ngFor exclude reasons -->
				<div class="Col-4">
					<strong>{{ 'COMPANY' | translate }}:</strong> ABC Cab Company
				</div>
				<div class="Col-3">
					<strong>{{ 'REASON' | translate }}:</strong> Some reason
				</div>
				<div class="Col-2 Center">
					<span class="fa fa-times Orange"></span>
				</div>
			</div>
			<div class="Full"><!-- ngFor exclude reasons -->
				<div class="Col-4">
					<strong>{{ 'COMPANY' | translate }}:</strong> ABC Cab Company
				</div>
				<div class="Col-3">
					<strong>{{ 'REASON' | translate }}:</strong> Some reason
				</div>
				<div class="Col-2 Center">
					<span class="fa fa-times Orange"></span>
				</div>
			</div>
		</div>
	</div>
</div>
