@import 'variables';
@import 'utility';

.Widget{
	width: 300px;
    position: absolute;
    right: 0;
    background: $color-white;
	top: 60px;

	.Block{

		h2 {
			margin: 0;
			float: left;
		}

		.Body{
			float: left;
			width: 100%;
			padding: 15px 15px 0;

			.GreenTitle{
				color: $Green;
				padding: 15px 0 10px 0;
			}

			.fa {
				color: $Blue;
				font-size: 28px;
				padding: 0 15px;
			}

			.Indent{
				margin: 0 0 20px 40px;
			}

			.Smoke{
				color: #999;
				font-size: 13px;
			}

			.Actions{
				border-bottom: 2px solid $Blue;
				padding: 0 0 5px;

				.Button {
					background: transparent;
					padding: 0px;
					margin: 0px;
					border: 0px;
					float: right;
				}

				.fa {
					float: left;
					color: $Blue;
					font-size: 1.5em;
				}
			}

			input[type=text] {
				display: inline-block;
				vertical-align: middle;
				cursor: pointer;
				background: #fff;
				border: 0px;
				padding: 1px;
				height: 30px;
				width: 220px;
			}

			.Tasks{
				padding: 15px 0;

				input {
					display: none;
				}
				label {
					padding: 8px 0;
					font-weight: bold;
					display: block;

					span {
						margin-right: 10px;
					}
				}

				label input[type=checkbox] ~ span {
					display: inline-block;
					vertical-align: middle;
					cursor: pointer;
					background: #fff;
					border: 1px solid #888;
					padding: 1px;
					height: 20px;
					width: 20px;
				}

				label input[type=checkbox]:checked ~ span {
					background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path d="M14 18L26 6l4 4-16 16L4 16l4-4z"/></svg>');
					background-size: 100%;
				}
			}

			.Button {
				margin: 0px auto;
				display: block;
			}
		}

		.Links{
			float: left;
			padding: 0 0 15px 15px;
		}

		.Heading{
			margin: 30px 15px 15px;

			span, a{
				float: right;
				margin: 0 7px;
			}
		}
	}

}
