<div class="Widget">
    <!-- Task List -->
    <div>
        <div class="Block">
            <div class="Heading">
                <h2>{{ 'TASK' | translate }} {{ 'LIST' | translate}}</h2>
            </div>
            <div class="Body">
                <div class="Actions">
                    <button class="Button" [disabled]="!task" (click)="addTaskItem(task)"><i
                            class="fa fa-plus fa-2x"></i></button>
                    <input type="text" name="taskItem" [(ngModel)]="task"
                           placeholder="{{ 'ADD' | translate }} {{ 'TASK' | translate }}">
                </div>
                <div class="Tasks">
                    <label *ngFor="let taskItem of taskList trackBy : trackByIndex; let i = index"
                           [ngClass]="{'hidden': toggleTasks && taskItem.get('status')}">
                        <input type="checkbox" id="checkbox_{{i}}" name="checkbox_{{i}}"
                               [ngModel]="taskItem.get('status')" (change)="updateTaskList($event, i)"/>
                        <span></span>
                        {{ taskItem.get('task') }}
                    </label>
                </div>
                <button class="Button" (click)="toggleTasks=!toggleTasks;">
                    <span *ngIf="toggleTasks">{{ 'SHOW' | translate}}</span>
                    <span *ngIf="!toggleTasks">{{ 'HIDE' | translate}}</span>
                    {{ 'COMPLETED' | translate }}
                    {{ 'TASKS' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
