<div class="BeneficiaryConnectionsPhones Block">
    <div class="Full">
        <div class="Medium">
            <div class="Input">
                <span [class.Required]="!phoneType.valid" [class.Valid]="phoneType.valid">*</span>
                <strong>{{ 'PHONE' | translate }} {{ 'TYPE' | translate }}</strong>
            </div>
        </div>
        <div class="ExtraLarge">
            <div class="Input">
                <span *ngIf="!isPhoneReadOnly" [class.Required]="!phone.valid" [class.Valid]="phone.valid">*</span>
                <span *ngIf="isPhoneReadOnly" class="Valid">*</span>
                <strong>{{ 'PHONE' | translate }} {{ 'NUMBER' | translate }}</strong>
            </div>
        </div>
        <div class="Medium">
            <div class="Input">
                <strong>{{ 'RECEIVE_SMS' | translate }}&#63;</strong>
            </div>
        </div>
    </div>

    <div>
        <div class="Full">
            <div class="pull-left">
                <div class="Medium">
                    <input type="hidden"
                           [ngModel]="connectionPhone.getIn(['phoneType', 'value'])"
                           [formControl]="phoneType">

                    <div class="Dropdown" [class.HasError]="!phoneType.valid && phoneForm.touched" (click)="$event.preventDefault()">
                        <div dropdown keyboardNav="true">
                            <button id="phoneType" class="Input" dropdownToggle [disabled]="isPhoneReadOnly">
                                {{ connectionPhone.getIn(['phoneType', 'value']) | translate}}
                                <span class="Icon inline Dropdown ChevronDown"></span>
                            </button>
                            <ul class="dropdown-menu Dropdown Menu" role="menu" aria-labelledby="phoneType">
                                <li role="menuitem" *ngFor="let choice of phoneTypes; trackBy : trackByIndex">
                                    <a class="dropdown-item" href="#" (click)="updatePhoneType(choice, $event)">{{ choice.value | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ExtraLarge" [class.HasError]="!phone.valid && phone.touched">
                    <input type="text"
                           id="phone"
                           class="Input"
                           autocomplete="off"
                           [ngModel]="connectionPhone.get('phone')"
                           [formControl]="phone"
                           placeholder="( ___ ) ___-____"
                           [textMask]="{mask: phoneMaskRegex}">
                </div>

                <div class="Medium">
                    <input type="hidden"
                           id="phoneNotifications"
                           [ngModel]="connectionPhone.getIn(['phoneNotifications', 'value'])"
                           [formControl]="phoneNotifications">

                    <div class="Dropdown" (click)="$event.preventDefault()">
                        <div dropdown keyboardNav="true">
                            <button id="phoneNotifications" class="Input" dropdownToggle [disabled]="isPhoneReadOnly">
                                {{ connectionPhone.getIn(['phoneNotifications', 'value'])| translate }}
                                <span class="Icon inline Dropdown ChevronDown"></span>
                            </button>
                            <ul class="dropdown-menu Dropdown Menu" role="menu" aria-labelledby="phoneNotifications">
                                <li role="menuitem"
                                    *ngFor="let choice of solicitationIndicatorTypes; trackBy : trackByIndex">
                                    <a class="dropdown-item" href="#"
                                       (click)="updatePhoneNotifications(choice, $event)">{{ choice.value | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
