@import 'utility';

.BeneficiaryConnectionsPhones {
    &.Block {
        margin: 0;
        padding: 0;

        .fa {
            font-size: 18px;

            padding-right: 5px;
        }

        input,
        button.Input {
            border-radius: 3px;
        }

        .Textarea {
            width: 800px;
        }

        .CheckCircle {
            margin: 0 5px;
        }

        .Label {
            margin: 5px 0;
        }

        .Required {
            color: $LiteRed;
        }

        .Title {
            margin: 0;
            padding: 0;
        }

        .Full {
            float: left;

            width: 100%;
            padding: 15px 0 0 0;
        }

        .ExtraLarge {
            float: left;

            margin: 0 15px 0 0;

            .Input {
                width: 303px;
            }
        }

        .Large {
            float: left;

            margin: 0 15px 0 0;

            .Input {
                width: 234px;
            }
        }

        .Largest {
            float: left;

            margin: 0 15px 0 0;

            .Input {
                width: 483px;
            }
        }

        .Medium {
            float: left;

            margin: 0 15px 0 0;

            .Input {
                width: 175px;
            }
        }

        .Small {
            float: left;

            margin: 0 15px 0 0;

            .Input {
                width: 125px;
            }

            .Radio {
                float: left;

                width: 45px;
            }
        }
    }
}
