<form [formGroup]="userProfileForm" novalidate>
    <div class="UserInfo Topic" (click)="toggleExpandedState()" [ngClass]="{Active: isExpanded, Collapsible: isCollapsible}">
        {{ 'PERSONAL_INFORMATION' | translate }}
        <i class="Icon inline Profile" (click)="enableEdit(true, $event, isExpanded)" [ngClass]="{HiddenElement: isEditing}">
            <svg-icon svgClass="Edit" [svgPath]="icons.edit"></svg-icon>
        </i>
        <div class="Buttons" [ngClass]="{HiddenElement: !isEditing}">
            <button class="Button" (click)="saveUserProfile($event)">{{ 'SAVE' | translate }}</button>
            <button class="Button Secondary" (click)="enableEdit(false, $event)">{{ 'CANCEL' | translate }}</button>
        </div>
        <i class="Icon Minus Toggle">
            <svg-icon svgClass="Minus" [svgPath]="icons.minus"></svg-icon>
        </i>
        <i class="Icon Plus Toggle">
            <svg-icon svgClass="Plus" [svgPath]="icons.plus"></svg-icon>
        </i>
    </div>
    <div class="row Detail" [ngClass]="{Edit: isEditing}">
        <div class="col-md-6 ColumnLeft">
            <div class="Block">
                <i class="Icon">
                    <svg-icon svgClass="profile EmployeeId" [svgPath]="icons.employeeId"></svg-icon>
                </i>
                <div class="Caption">{{ 'EMPLOYEE_ID' | translate }}</div>
                <label class="Label">{{ profileDetails.get('employeeId') }}</label>
                <div class="Input">
                    <input type="text"
                           id="employeeId"
                           class="form-control"
                           placeholder="XXXXXXXXXX"
                           [ngModel]="profileDetails.get('employeeId')"
                           [formControl]="employeeId">
                </div>
            </div>
            <div class="Block">
                <i class="Icon">
                    <svg-icon svgClass="Icon profile Language" [svgPath]="icons.language"></svg-icon>
                </i>
                <div class="Caption">{{ 'LANGUAGE_PREFERENCE' | translate }}</div>
                <label class="Label">{{ profileDetails.get('language') }}</label>
                <div class="Input">
                    <input type="text"
                           id="language"
                           class="form-control"
                           placeholder="English"
                           [ngModel]="profileDetails.get('language')"
                           [formControl]="language">
                </div>
            </div>
            <div class="Block">
                <i class="Icon">
                    <svg-icon svgClass="Icon profile Address" [svgPath]="icons.address"></svg-icon>
                </i>
                <div class="Caption">{{ 'ADDRESS' | translate }}</div>
                <label class="Label">{{profileDetails.get('street')}}<br>{{profileDetails.get('city')}}<span *ngIf="profileDetails.city">,</span> {{profileDetails.get('state')}} {{profileDetails.get('postalCode')}}</label>
                <div class="Input">
                    <input type="text"
                           id="street"
                           class="form-control"
                           placeholder="123 Main Street"
                           [ngModel]="profileDetails.get('street')"
                           [formControl]="street">

                    <input type="text"
                           id="city"
                           class="form-control City"
                           placeholder="New York"
                           [ngModel]="profileDetails.get('city')"
                           [formControl]="city">

                    <input type="text"
                           id="state"
                           class="form-control State"
                           placeholder="NY"
                           [ngModel]="profileDetails.get('state')"
                           [formControl]="state">

                    <input type="text"
                           id="postalCode"
                           class="form-control Zipcode"
                           placeholder="12345"
                           [ngModel]="profileDetails.get('postalCode')"
                           [formControl]="postalCode">
                </div>
            </div>
            <div class="Block">
                <i class="Icon">
                    <svg-icon svgClass="Icon profile Gender" [svgPath]="icons.gender"></svg-icon>
                </i>
                <div class="Caption">{{ 'GENDER_' | translate }}</div>
                <label class="Label">{{ profileDetails.get('gender') }}</label>
                <div class="Input">
                    <div class="Dropdown" (click)="$event.preventDefault()">
                        <div dropdown keyboardNav="true">
                            <button id="gender" class="Toggle" dropdownToggle>
                              {{ profileDetails.get('gender') }} <span class="Icon inline ChevronDown"></span>
                            </button>
                            <ul class="dropdown-menu Menu" role="menu" aria-labelledby="gender">
                                <li role="menuitem" *ngFor="let choice of genders; trackBy:trackByIndex">
                                    <a class="dropdown-item" href="#" (click)="updateGender(choice, $event)">{{choice.value}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ColumnRight">
            <div class="Block">
                <i class="Icon">
                    <svg-icon svgClass="Icon Profile Birthday" [svgPath]="icons.birthday"></svg-icon>
                </i>
                <div class="Caption">{{ 'DATE_OF_BIRTH' | translate }}</div>
                <label class="Label">{{ profileDetails.get('DOB') }}</label>
                <div class="Input">
                    <date-picker
                            *ngIf="profileDetails.get('DOB')"
                            [selectedDate]="profileDetails.get('DOB')"
                            [dateFormat]="dateFormat"
                            [dateTrigger]="datePickerButton"
                            (itemSelected)="updateSelectedDOB($event)">
                    </date-picker>
                </div>
            </div>
            <div class="Block">
                <i class="Icon">
                    <svg-icon svgClass="Icon Profile Phone" [svgPath]="icons.phone"></svg-icon>
                </i>
                <div class="Caption">{{ 'PHONE_NUMBER' | translate }} / {{ 'TYPE' | translate }}</div>
                <label class="Label" for="phoneNumber">{{ profileDetails.get('mobilePhone') }} / {{ profileDetails.get('phoneType') }}</label>
                <div class="Input">
                    <input type="text"
                           id="phoneNumber"
                           class="form-control PhoneNumber"
                           placeholder="XXX-XXX-XXXX"
                           [ngModel]="profileDetails.get('mobilePhone')"
                           [formControl]="phoneNumber">
                    <span>/ </span>
                    <div class="Dropdown PhoneType" (click)="$event.preventDefault()">
                        <div dropdown keyboardNav="true">
                            <button id="phoneType" class="Toggle" dropdownToggle>
                              {{ profileDetails.get('phoneType') }} <span class="Icon inline ChevronDown"></span>
                            </button>
                            <ul class="dropdown-menu Menu" role="menu" aria-labelledby="phoneType">
                                <li role="menuitem" *ngFor="let choice of phoneTypes; trackBy:trackByIndex;">
                                    <a class="dropdown-item" href="#" (click)="updatePhoneType(choice, $event)">{{choice.value}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Block">
                <i class="Icon">
                    <svg-icon svgClass="Icon profile Email" [svgPath]="icons.email"></svg-icon>
                </i>
                <div class="Caption">{{ 'EMAIL_ADDRESS' | translate }}</div>
                <label class="Label" for="emailAddress">{{ profileDetails.get('username') }}</label>
                <div class="Input">
                    <input type="text"
                           id="emailAddress"
                           class="form-control"
                           placeholder="address@domain.com"
                           [ngModel]="profileDetails.get('email')"
                           [formControl]="emailAddress">
                </div>
            </div>
        </div>
    </div>
</form>
