<div class="LocationInfo">
    <div class="LocationInfo__Header">
        <div>
            <strong>{{ reservationLocationState.get('name') }}</strong>
            <i (click)="close()" class="Remove Red fa fa-times-circle fa-pull-right Link" aria-hidden="true"></i>
        </div>
        <div>
            <span
                *ngIf="reservationLocationState.get('address1') !== undefined">
                {{ reservationLocationState.get('address1') }}
            </span>
            {{ reservationLocationState.get('city') }}, {{ reservationLocationState.get('state') }} {{ reservationLocationState.get('zipCode') }}
            <br />
            <br />
            <span *ngIf="reservationLocationState.get('mileageDistance')">{{ reservationLocationState.get('mileageDistance').toFixed(1) }} {{ 'MILES' | translate }} ({{ reservationLocationState.get('durationMinutes') }} {{ 'MINUTES_' | translate }})</span>
        </div>
    </div>

    <form [formGroup]="form">
        <div class="LocationInfo__Fields">
            <div class="LocationInfo__Field">
                <input
                    placeholder="Address 2"
                    type="text"
                    [formControl]="address2"
                    [ngModel]="reservationLocationState.get('address2')">
            </div>

            <div class="LocationInfo__Field">
                <input
                    placeholder="( ___ ) ___-____"
                    type="text"
                    [formControl]="phoneNumber"
                    [ngModel]="reservationLocationState.get('phoneNumber')"
                    [textMask]="{ mask : phoneMaskRegex }">
            </div>

            <div class="LocationInfo__Field">
                <input
                    placeholder="Additional Info"
                    type="text"
                    [formControl]="additionalInfo"
                    [ngModel]="reservationLocationState.get('additionalInfo')">
            </div>
        </div>
    </form>
</div>
