@import 'variables';
@import 'utility';

$LocationInfoSpacing: .5em;

.LocationInfo {
    background: #d3d3d3;
    margin: $LocationInfoSpacing 0;
    padding: $LocationInfoSpacing;

    &__Header {
        margin-bottom: $LocationInfoSpacing;
        padding: 3px 7px;
    }

    &__Field {
        padding: $LocationInfoSpacing;
    }
}
