@import 'utility';

.ReservationSpecialRequirementsCheckbox {
    &__DateContainer {
        margin-bottom: 1em;
        padding-left: 2.5em;
    }

    &__DateInput {
        width: 150px;

        display: inline-block;
    }

    &__FurtherNotice {
        &--First {
            padding-left: 2.5em;
        }

        &--Second {
            display: inline-block;

            font-size: .85em;
            vertical-align: bottom;
        }
    }
    // Target only ReservationSpecialRequirementsCheckbox that are children of .Passenger
    :host-context(.Passenger) & {
        background-color: $gray-lightest;
    }
}
