<div class="ReservationSpecialRequirementsCheckbox Block">
    <form [formGroup]="form" novalidate (ngSubmit)="onSave(form, $event)">
        <div *ngFor="let requirement of specialRequirementsList; trackBy : trackByIndex; let i = index">
            <div class="SpecialRequirementBlock">
                <div class="SpecialRequirementRow">
                    <label class="Checkbox" for="requirementType[i]">
                        <input type="checkbox"
                               (click)="onCheckboxClick(requirement)"
                               [checked]="isActive(requirement.get('id'))">{{ requirement.get('value') }}
                    </label>
                    <div *ngIf="isActive(requirement.get('id'))">
                        <div class="ReservationSpecialRequirementsCheckbox__FurtherNotice--First" *ngIf="isPermanent(requirement.get('id'))">
                            Until Further Notice [<a (click)="onSetPermanence(false, requirement)">Edit dates</a>]
                        </div>
                        <div *ngIf="!isPermanent(requirement.get('id'))" class="SpecialRequirementDate">
                            <div class="ReservationSpecialRequirementsCheckbox__DateContainer">
                                <div class="ReservationSpecialRequirementsCheckbox__DateInput">
                                    <strong>From</strong>
                                    <date-picker
                                        [ngModel]="getFromDate(requirement.get('id'))"
                                        [formControl]="fromDate"
                                        [dateFormat]="dateFormat"
                                        (ngModelChange)="onUpdateFromDate($event, requirement)">
                                    </date-picker>
                                </div>
                                <div class="ReservationSpecialRequirementsCheckbox__DateInput">
                                    <strong>To</strong>
                                    <date-picker
                                        [ngModel]="getThruDate(requirement.get('id'))"
                                        [formControl]="thruDate"
                                        [dateFormat]="dateFormat"
                                        (ngModelChange)="onUpdateThruDate($event, requirement)">
                                    </date-picker>
                                </div>
                                <div class="ReservationSpecialRequirementsCheckbox__FurtherNotice--Second">
                                    [<a (click)="onSetPermanence(true, requirement)">Until Further Notice</a>]
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Full SpecialRequirementBody"></div>
                </div>
            </div>
        </div>
        <div class="Full">
            <div class="Medium">
                <div class="pull-left">
                    <button type="submit" class="Button Secondary">{{ 'SAVE' | translate }}
                    </button>
                </div>
                <div class="pull-left">
                    <button type="button" (click)="onCancel()" class="Button">{{ 'CANCEL' | translate }}</button>
                </div>
            </div>
        </div>
    </form>
</div>
