<div class="CalendarBlock">
    <i class="fa fa-calendar fa-2x"></i>
    <div class="Text">
        <span class="Day"><strong>{{ currentDateTime | dateTimeFormat :'ddd' }}</strong></span>
        <span class="Month">{{ currentDateTime | dateTimeFormat :'MMM' }}</span>
    </div>
    <div class="Number">
        <h1>{{ currentDateTime | dateTimeFormat : 'DD' }}</h1>
    </div>
</div>
