@import 'variables';
@import 'utility';

.CalendarBlock{
  height: 60px;

  .Text{
    float: left;
    width: 40px;
    margin: -2px 0 0 8px;
    text-transform: uppercase;

    .Month{
      position: relative;
      top: -5px;
    }
  }

  .fa {
    float: left;
    color: $Orange;
  }

  .Number{
    float: left;

    h1{
      margin: 0;
    }

  }
}
