<div class="EligibilityQueuePanel">
    <div class="Block">
        <div class="Heading">
            <h2>{{ 'ELIGIBILITY_QUEUE' | translate }}</h2>
        </div>
        <div class="Body">
            <div class="Segment">
                <div class="Icon">
                    <i class="fa fa-area-chart" aria-hidden="true"></i>
                </div>
                <div class="Label">
                    <strong>{{ 'NEXT_DAY' | translate }}</strong>
                    <div class="Value">{{ eligibilityDetails.get('nextDay') }}</div>
                </div>
            </div>

            <div class="Segment">
                <div class="Icon">
                    <i class="fa fa-area-chart" aria-hidden="true"></i>
                </div>
                <div class="Label">
                    <strong>{{ 'URGENT' | translate }}</strong>
                    <div class="Value">{{ eligibilityDetails.get('urgent') }}</div>

                </div>
            </div>
            <div class="Segment">
                <div class="Icon">
                    <i class="fa fa-area-chart" aria-hidden="true"></i>
                </div>
                <div class="Label">
                    <strong>{{ 'STANDARD' | translate }}</strong>
                    <div class="Value">{{ eligibilityDetails.get('standard') }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
