@import 'variables';
@import 'utility';

.EligibilityQueuePanel{
	.Block{

		h2 {
			margin: 0;
			float: left;
		}

		.Body{
			margin: 15px 0;

			.Segment {
				display: inline-block;
				margin-right: 15px;

				.Icon {
					position: relative;
					font-size: 1.3em;
					float: left;
					height: 100%;
					margin-right: 10px;

					i {
						font-size: 1.4em;
						color: $accent-blue;
					}
				}
				.Label {
					float: left;
					font-size: 1.1em;
					.Value {
						font-size: 1.5em;
					}
				}
			}
		}

		.Heading{

			span, a{
				float: right;
				margin: 0 7px;
			}
		}

	}
}
