<div class="SearchHeader">
    <h1>{{ 'SEARCH_RESULTS' | translate }}</h1>
    <div class="Top" *ngIf="paginationConfig.get('totalRecords') !== 0">
        <h2>{{ 'SEARCH_RESULTS_FOUND' | translate }}: {{ paginationConfig.get('totalRecords') }}</h2>
        <pagination-component
                class="Main"
                [paginationConfig]="paginationConfig"
                (incrementPageIndex)="onIncrementPageIndex()"
                (decrementPageIndex)="onDecrementPageIndex()">
        </pagination-component>
    </div>
</div>
