@import 'variables';
@import 'utility';

.SearchHeader {
    width: 100%;
    display: inline-block;
    float: left;

    h1 {
        padding-bottom: 10px;
    }

    .Top{
        width: 100%;
        float: left;
        padding: 20px 12px 10px;
        margin-top: 20px;
        background: $white;

        h2 {
            height: 30px;
            margin: 10px 0;
            float: left;
        }

        span{
            vertical-align: -8px;
            padding: 0 5px;
        }
    }
}
