<div class="container-fluid">
    <div class="row Footer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 Copyright">
                    Copyright &#169; 2016 LogistiCad Group. All Rights Reserved.<br> Legal and Privacy Notices
                </div>
            </div>
        </div>
    </div>
</div>
