<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title><%= title %></title>

        <meta name="description" content="<%= title %>">

        <!-- base url -->
        <base href="<%= baseUrl %>">
    </head>

    <body>
        <angular-starter-app>
            <div id="PageLoadingWrapper">
                <div class="PageLoading">
                    <div class="Loading"></div>
                    Loading...
                </div>
            </div>
        </angular-starter-app>
        <% if (isDevServer) { %>
        <!-- Webpack Dev Server reload -->
        <script src="/webpack-dev-server.js"></script>
        <% } %>
    </body>
</html>
