 <div class="BeneficiaryToDoPanel">
	<div class="Block">
		<div class="Heading">
			<h2>{{ 'WHAT_WOULD_YOU_LIKE_TO_DO' | translate }}</h2>
		</div>
		<div class="Body">
			<div class="List">
				<a (click)="goViewReservation()">{{ 'MAKE_A_RESERVATION' | translate }}</a>
			</div>
			<!-- <div class="List">
				<a>{{ 'REQUEST_HOME_HEALTHCARE' | translate }}</a>
			</div> -->
			<!-- <div class="List">
				<a>{{ 'ADD_A_PLAN' | translate }}</a>
			</div> -->
		</div>
	</div>
</div>
