@import 'utility';

.BeneficiaryToDoPanel {
    .Block {
        .Body {
            .List {
                margin: 15px 0 0 0;
            }
        }

        .Heading {
            float: left;

            width: 555px;
            margin: 30px 15px 15px;

            span,
            a {
                float: right;

                margin: 0 7px;
            }
        }
    }
}
