@import 'variables';
@import 'utility';

$searchBoxItemColor   : $Blue;
$searchBoxBorderColor : $borderColor;

.SearchBox {
  display: inline-block;
  padding: 0;
  height: 30px;
  white-space: nowrap;
  float: left;
  margin-top: 1em;

  button{
    color: $searchBoxItemColor;
    cursor: pointer;
    margin-right: 0px;
    text-align: left;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: $searchBoxBorderColor;
    border-width: 1px;
    vertical-align: top;
    font-size: 12px;
    line-height: 28px;
    padding: 0px 5px;

    &:active, &:focus, &:hover {
      background: $white;
    }
  }

  .Button {
    margin-left: -6px;
    background-color: $white;
    border-left: none;
    padding: 0px 5px 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition-duration: 0s !important;

    i {
        position: relative;
        top: 2px;
        left: 1px;
        &.fa-circle-o-notch {
            display: none;
        }
    }

    &:focus {
        background: $searchBoxItemColor;
        border-color: $searchBoxItemColor;
        color: $white;
    }
    &.Loading {
        &:before {
            display: none;
        }
        i {
            &.fa-circle-o-notch {
                display: inline-block;
                animation: loading-spin 1.5s linear infinite;
                left: -1px;
            }
            &.fa-search {
                display: none;
            }
        }
    }
  }

  .Dropdown {
    background-color: $white;
    border-right: solid 1px $searchBoxBorderColor;
    border-left: solid 1px #cccccc;
    border-bottom-left-radius: $inputBorderRadius;
    border-top-left-radius: $inputBorderRadius;
    width: 100px;

    .Content{
      margin-left: 31px;
      z-index: 1;
      position: absolute;
      background-color: $white;
      width: 99px;
      min-height: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      font-size: 12px;
      border-right: solid 1px #ccc;
      border-bottom: solid 1px #ccc;
      border-left: solid 1px #ccc;
    }
  }

  .Field{
    width: 290px;
    height: 30px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 0px;
    margin-left: -5px;
    border-style: solid;
    border-left-style: none;
    border-width: 1px;
    border-color: $searchBoxBorderColor;
    border: solid 1px $searchBoxBorderColor;
    border-right: none;
    padding-left: 5px;
    border-radius: 0;
    text-indent: 5px;
    &:focus {
        + button {
            border-color: $accent-blue !important;
        }
    }
  }

  .Options{
    color: $color-black;
    padding: 6px 10px;
    text-decoration: none;
    display: block;
    cursor: pointer;

    &:hover{
      color: $color-white;
      background-color: $Blue;
      border-color: $Blue;
    }
  }

  .dropdown-menu{
    font-size: 12px;
    padding: 0px;
    margin-top: -1px;
    border-radius: 0;
    min-width: 100px;

    overflow-y: hidden;
    max-height: 500px; /* approximate max height */

  }
}
