<div class="SearchBox">
    <div class="pull-left" (click)="$event.preventDefault()">
        <div dropdown keyboardNav="true">
            <button id="searchOptions" class="Input Dropdown" dropdownToggle>
                {{ selectedCategory.get('value') | translate }} <span class="Icon Inline ChevronDown"></span>
            </button>
            <ul class="dropdown-menu Menu" role="menu" aria-labelledby="searchOptions">
                <li role="menuitem" *ngFor="let category of searchTypeOptions; trackBy : trackByIndex">
                    <a class="Options" href="#" (click)="selectSearchCategory(category, $event);">{{ category.get('value') | translate }}</a>
                </li>
            </ul>
        </div>
    </div>

    <form [formGroup]="searchForm" novalidate name="searchForm" (ngSubmit)="onSubmit()">
        <input
            class="Field"
            type="search"
            [ngModel]="searchText"
            [formControl]="searchBox">

        <button type="button" class="Button" (click)="onSubmit()" [ngClass]="{ 'Loading' : searchSelector.isHeaderSearchFetching | async}">
            <i class="fa fa-search fa-2x"></i>
            <i class="fa fa-circle-o-notch fa-2x"></i>
        </button>
    </form>
</div>
