$Padding: 1em;

.ReservationMassTransitRoutes {
    padding-top: $Padding;

    &__Address {
        padding-top: $Padding;
    }

    &__Option {
        padding-top: $Padding;
        padding-left: $Padding;
    }

    &__Step {
        padding-top: $Padding;
        padding-left: $Padding;
    }
}
