<div class="ClearFix ReservationMassTransitRoutes">
    <strong>{{ 'MASS_TRANSIT' | translate }}</strong>
    <div class="ReservationMassTransitRoutes__Address">
        <div>From:</div>
        <div>
            {{ pickupLocation.get('address1') }}<br/>
            <span *ngIf="pickupLocation.get('address2', '') !== ''">{{ pickupLocation.get('address2') }}<br/></span>
            {{ pickupLocation.get('city') }}, {{ pickupLocation.get('state') }} {{ pickupLocation.get('zipCode') }}
        </div>
    </div>
    <div *ngIf="routes.count() === 0" class="ReservationMassTransitRoutes__Option">
        No routes found.
    </div>
    <div *ngFor="let route of routes; let i = index; trackBy : trackByIndex" class="ReservationMassTransitRoutes__Option">
        Option {{ i + 1 }}:

        <div>
            Distance: {{ route.get('distance') }} miles<br/>
            Duration: {{ route.get('duration') }} minutes <br/>
            Departure: {{ getFormattedTime(route.get('departureTime')) }}<br/>
            Arrival: {{ getFormattedTime(route.get('arrivalTime')) }}
        </div>

        <div *ngFor="let step of route.get('steps'); trackBy : trackByIndex" class="ReservationMassTransitRoutes__Step">
            {{ step.get('instructions') }}<br/>
            {{ step.get('duration') }} min, {{ step.get('distance') }} mi<br/>
        </div>
    </div>
</div>
