<div>
    <beneficiary-header
            [headerConfig]="headerConfig"
            (viewBeneficiaryProfile)="onViewBeneficiaryProfile()">
    </beneficiary-header>

    <section class="BeneficiaryBody">
        <div class="Beneficiary Block">
            <div class="LeftPanel">
                <!-- beneficiary plans dashboard -->
                <beneficiary-plans-dashboard
                            [beneficiaryPlansState]="plansState">
                </beneficiary-plans-dashboard>

                <!-- beneficiary to-do panel -->
                <beneficiary-to-do-panel
                        (viewReservation)="onViewReservation()">
                </beneficiary-to-do-panel>

                <!-- beneficiary special requirements panel -->
                <beneficiary-special-requirements
                        [isReadOnly]="true"
                        [specialRequirementsState]="specialRequirementsState">
                </beneficiary-special-requirements>
                <!--<beneficiary-forms-dashboard>

                </beneficiary-forms-dashboard>-->

                <beneficiary-form
                    [isFormValid]="isBeneficiaryFormValid"
                    [beneficiaryForms]="beneficiaryForms"
                    [beneficiaryFormData]="addBeneficiaryForm"
                    [formTypes]="beneficiaryFormTypes"
                    [authReasons]="beneficiaryFormAuthReasons"
                    [phoneTypes]="phoneTypes">
                </beneficiary-form>

                <!-- beneficiary activity log panel -->
                <!-- <beneficiary-activity-log-panel></beneficiary-activity-log-panel> -->
            </div>

            <div class="RightPanel">
                <!-- ScheduledReservations -->
                <reservation-card
                    title="ScheduledReservations"
                    [beneficiaryUuid]="beneficiaryUuid"
                    [reservationCardState]="scheduledCardState"
                    [reservations]="scheduledReservations"
                    (onCloseDetails)="onScheduledCloseDetails($event)"
                    (onShowDetails)="onScheduledShowDetails($event)"
                    (onToggleLeg)="onScheduledToggleLeg($event)"
                    (viewEditReservation)="onViewEditReservation($event)">
                </reservation-card>

                <!-- ReservationHistory -->
                <reservation-card
                    title="ReservationHistory"
                    [beneficiaryUuid]="beneficiaryUuid"
                    [reservationCardState]="historyCardState"
                    [reservations]="historyReservations"
                    (onCloseDetails)="onHistoryCloseDetails($event)"
                    (onShowDetails)="onHistoryShowDetails($event)"
                    (onToggleLeg)="onHistoryToggleLeg($event)"
                    (viewEditReservation)="onViewEditReservation($event)">
                </reservation-card>

                <!-- Forms widget -->
                <!-- <dashboard-card title="Forms"></dashboard-card> -->

                <!-- BeneficiaryNotes widget -->
                <!-- <dashboard-card title="BeneficiaryNotes"></dashboard-card> -->
            </div>
        </div>
    </section>
    <!--<beneficiary-notes></beneficiary-notes>-->
</div>
