@import 'utility';

.MyExceptionQueue {
    clear: both;
    .SmallPager {
        clear: left;
        margin: 20px 0;
        button{
            color: $Blue;
            &[disabled] {
                color: #ccc;
            }
        }
    }
    ul {
        float: left;

        width: 100%;
        margin: 0;
        padding:  0;

        list-style: none;

        li{
            float: left;

            padding: 13px;
        }
    }

    .TableHead {
        ul {
            border-bottom: solid 4px #CCC;
            li {
                font-weight: bold;
                &.SelectAll {
                    padding-left: 10px;
                }
            }
        }

        span,
        .arrows {
            display: inline-block;
            float: left;
        }

        .arrows {
            position: relative;
            top: 4px;

            width: 10px;
            height: 14px;
            padding: 0 0 0 6px;
                .fa{
                    position: absolute;

                    cursor: pointer;

                    color: #ccc;

                &.fa-caret-up {
                    top: -5px;
                }
                &.fa-caret-down {
                    bottom: -5px;
                }
            }
        }
    }

	.Risk {
		float: left;

		width: 6px;
		height: 48px;
        margin: 0;
	}

	.High{
		background-color: #B6091A;
	}

	.Medium{
		background-color: #FFCC00;
	}

	.Low{
		background-color: #3CA749;
	}

    .Name {
        font-size: 20px;
    }

    .TableBody,
    .TableHead {
        width: calc(100% + 40px);
        margin: 0 0 0 -20px;

        @extend %clear;
        ul {
            li {
                display: inline-block;

                width: 20%;
                padding-left: 0;
            }
        }
    }
    .TableBody {
        ul {
            li {
                &:first-child {
                    padding-left: 20px;
                }
            }
        }
    }
    .TableHead {
        padding: 15px 20px;

        font-weight: bold;
        ul {
            border: 0;
        }
    }
    .CardBody {
        position: relative;

        clear: both;
        overflow: hidden;

        margin-bottom: 20px;
        padding: 20px;

        border: $medium-gray 1px solid;
        border-left: 0;

        @extend %clear;

        .Risk {
            position: absolute;
            top: 0;
            left: 0;

            height: 100%;
        }
        label {
            font-weight: bold;
        }

        .Full {
            padding: 5px 0 0;
        }
    }
    .Exceptions {
        margin-top: 20px;

        .small {
            font-size: 13px;
        }

        .TableBody {
            .Full {
                padding: 20px;
            }
        }

        .Column {
            display: inline-block;

            padding: 0 15px 0 0;
            &:nth-child(1) {
                float: left;

                width: 17%;
                padding-top: 9px;
            }
            &:nth-child(2) {
                width: 18%;
            }
            &:nth-child(3) {
                width: 21.8%;
            }
            &:nth-child(4) {
                width: 15%;
            }
            &:nth-child(5) {
                float: right;

                width: 26%;
                padding: 0;
                .RadioButton {
                    padding: 10px 0 20px 0;
                }
                .Dropdown {
                    display: none;
                }
            }
            label {
                padding: 5px 0;
            }
        }
        .Notes {
            float: left;

            width: 54%;
            margin: 10px 0 0 17.3%;
            .NoteBlock {
                float: left;

                width: 40%;
                &:last-child {
                    float: right;

                    width: 58%;
                }
            }
            label {
                padding: 5px 0;
            }
        }

        .TableHead {
            div {
                padding: 13px 0;
            }
        }
    }
    footer {
        margin: 25px 0 30px 0;

        @extend %clear;
        .SmallPager {
            clear: none;

            margin: 0;
        }
    }
}
