<div class="Block MyExceptionQueue Popped">
    <div class="pull-right Close">
        <i class="fa fa-close fa-2x Black" (click)="closeReviewPanel()"></i>
    </div>

    <div>
        <h2 class="Title">{{ 'MY_EXCEPTION_QUEUE' | translate }}</h2>
    </div>

    <div class="pull-right SmallPager">
        <button [disabled]="currentExceptionIndex === 0"  class="LeftArrow fa fa-caret-left" (click)="decrementCurrentIndex()"></button>
        {{currentExceptionIndex+1}} of {{exceptions.size}}
        <button [disabled]="currentExceptionIndex + 1 === exceptions.size" class="RightArrow fa fa-caret-right" (click)="incrementCurrentIndex()"></button>
    </div>

    <exception-review-info
        [priorityLevel]="exceptions.getIn([currentExceptionIndex, 'priorityLevel'])"
        [beneficiaryInfo]="exceptions.getIn([currentExceptionIndex,'beneficiaryInfo'])"
        [beneficiaryContactMechanisms]="exceptions.getIn([currentExceptionIndex,'beneficiaryContactMechanismStateDetail'])"
        [reservationReferenceId]="exceptions.getIn([currentExceptionIndex, 'referenceId'])">
    </exception-review-info>

    <exception-review-plan-summary
        [plansState]="exceptions.getIn([currentExceptionIndex, 'beneficiaryPlans'])">
    </exception-review-plan-summary>

    <exception-review-detail
        [queueTaskItems]="exceptions.getIn([currentExceptionIndex,'queueTask','queueTaskItems'])">
    </exception-review-detail>

    <footer class="Footer">
        <div class="ActionItems pull-left">
            <button *ngIf="!isLast()" class="Button" (click)="submitReviewForm()">{{ 'UPDATE_AND_CONTINUE' | translate }}</button>
            <button *ngIf="isLast()" class="Button" (click)="submitReviewForm()">{{ 'UPDATE' | translate }}</button>
            <button class="Button Secondary" (click)="closeReviewPanel()">{{ 'CANCEL' | translate }}</button>
        </div>
        <div class="pull-right SmallPager">
            <button [disabled]="isLeftButtonDisabled()" class="LeftArrow fa fa-caret-left" (click)="decrementCurrentIndex()"></button>
            {{currentExceptionIndex+1}} of {{exceptions.size}}
            <button [disabled]="isRightButtonDisabled()" class="RightArrow fa fa-caret-right" (click)="incrementCurrentIndex()"></button>
        </div>
    </footer>
</div>
