<page-loading-overlay *ngIf="beneficiarySelectors.isWaiting | async"></page-loading-overlay>
<beneficiary-header
        (viewBeneficiaryProfile)="onViewBeneficiaryProfile()"
        [headerConfig]="headerConfig">
</beneficiary-header>

<section class="BeneficiaryProfile">
    <div class="Block">

        <!-- beneficiary information panel -->
        <beneficiary-information
                [isNewProfile]="isNewProfileActive"
                [beneficiaryInfoState]="beneficiaryInfoState">
        </beneficiary-information>

        <!--beneficiary contact information panel-->
        <beneficiary-contact-mechanisms
                [isNewProfile]="isNewProfileActive"
                [beneficiaryContactMechanismsState]="beneficiaryContactMechanismsState">
        </beneficiary-contact-mechanisms>

        <!--beneficiary connections panel-->
       <beneficiary-connections-panel
                [isNewProfile]="isNewProfileActive"
                [connectionsState]="beneficiaryConnectionState">
        </beneficiary-connections-panel>

        <!--  beneficiary-medical-conditions -->
        <beneficiary-medical-conditions
                [isNewProfile]="isNewProfileActive"
                [medicalConditionsState]="medicalConditionsState">
        </beneficiary-medical-conditions>

        <!-- beneficiary special requirements panel -->
        <beneficiary-special-requirements
                [isNewProfile]="isNewProfileActive"
                [specialRequirementsState]="beneficiarySpecialRequirementsState">
        </beneficiary-special-requirements>

        <!--beneficiary-transportation-provider-->
        <!--<beneficiary-transportation-provider></beneficiary-transportation-provider>-->

        <!--beneficiary plans profile-->
        <beneficiary-plans-panel
               [isNewProfile]="isNewProfileActive"
               [plansState]="beneficiaryPlansState">
        </beneficiary-plans-panel>
    </div>
</section>
