@import 'utility';

.BeneficiaryProfile {
    /deep/ .Popped .Title {
        font-size: 32px;
        font-weight: 300;
    }

    strong {
        &.label {
            padding: 0 7px 0 0;
        }
    }

    .Block {
        .Label {
            margin: 5px 0;
        }

        .Title {
            margin: 0;
            padding: 0;
        }
    }
}
