<div *ngIf="eligibilityState.get('eligibility') && eligibilityRequests">
	<eligibility-header [requestList]="eligibilityRequests" [info]="headerObject"></eligibility-header>

	<section class="EligibilityBody">
		<eligibility-requests [requestList]="eligibilityRequests"></eligibility-requests>
	</section>
</div>
