<!-- ReservationCard -->
<div class="ReservationCard">
    <!-- ScheduledReservations -->
    <div>
        <!-- ScheduledReservationsSummary -->
        <div *ngIf="!reservationCardState.get('selectedItemUuid')"
             class="Block ReservationCard__Section ReservationCard__Summary">
            <h2 class="ReservationCard__Section__Title">{{ title === 'ScheduledReservations' ? ('SCHEDULED_RESERVATIONS' | translate) : ('RESERVATIONS_HISTORY' | translate) }}</h2>
            <div class="Body">
                <div>{{ 'VIEWING' | translate }}:
                    <span *ngIf="reservations.count() < 6">{{reservations.count()}} </span>
                    <span *ngIf="reservations.count() > 5">5 </span> {{ 'OF_' | translate }} {{reservations.count()}} |
                    <a *ngIf="title === 'ReservationHistory'" [routerLink]="['/Reservation/', beneficiaryUuid, 'History']">{{ 'VIEW_ALL' | translate }}</a>
                    <a *ngIf="title === 'ScheduledReservations'" [routerLink]="['/Reservation/', beneficiaryUuid, 'Scheduled']">{{ 'VIEW_ALL' | translate }}</a>
                </div>
                <br>
                <div *ngFor="let reservation of getReservations(); trackBy : trackByIndex" class="ReservationCard__Reservation">
                    <i class="fa fa-files-o ReservationCard__Section__FileIcon" aria-hidden="true"></i>
                    <span class="LargeText">{{reservation.getIn(['legs', 0, 'treatmentType', 'name'])}}</span>
                    <div>
                        {{reservation.getIn(['legs', 0, 'reservationDateTime', 'date']) | dateTimeFormat : dateFormat:utcFormat }} @ {{reservation.getIn(['legs', 0, 'reservationDateTime', 'time']) | dateTimeFormat : timeFormat:utcFormat }}
                        <span *ngIf="title === 'ReservationHistory'">  - Single Trip</span>
                    </div>
                    <div *ngIf="title === 'ScheduledReservations'">
                        {{ 'TRIP' | translate }} {{ 'ID' | translate }}:
                        <a (click)="showDetails(reservation.get('uuid'))">{{reservation.get('referenceId')}}</a> | Single Trip
                    </div>
                    <div *ngIf="title === 'ReservationHistory'">Status: <a (click)="showDetails(reservation.get('uuid'))">{{reservation.getIn(['status', 'name'], '')}}</a></div>
                </div>
                <!-- <a *ngIf="reservations.count() > 5 && title === 'ReservationHistory'" class="Button Secondary">
                    {{ 'LOAD_MORE' | translate }}
                </a> -->
            </div>
        </div>

        <!-- ScheduledReservationsDetailed -->
        <div *ngIf="reservationCardState.get('selectedItemUuid')"
             class="Block ReservationCard__Section ReservationCard__Details">
            <div class="ReservationCard__Details__Heading">
                <h2 class="ReservationCard__Details__Heading__Title">{{ reservation.getIn(['legs', 0, 'treatmentType', 'name' ]) }}</h2>
                <i class="fa fa-close ReservationCard__Details__Heading__Close" (click)="closeDetails()"></i>
                <ul class="list-unstyled">
                    <li>{{ 'REQUESTED_BY' | translate }}: {{ reservation.getIn(['legs', 0, 'requestedBy', 'name' ]) }}
                    </li>
                    <li>{{ reservation.getIn(['legs', 0, 'reservationDateTime', 'date']) | dateTimeFormat : dateFormat:utcFormat }} @ {{reservation.getIn(['legs', 0, 'reservationDateTime', 'time']) | dateTimeFormat : timeFormat:utcFormat }} - Single Trip
                    </li>
                    <li>{{ 'TRIP_ID' | translate }}: {{reservation.get('referenceId')}}</li>
                    <li>{{ 'STATUS' | translate }}:
                        <span [ngStyle]="{'color':getStatusColor(reservation.getIn(['status','id']))}">{{reservation.getIn(['status', 'name'])}}
                            <span *ngIf="showDeniedReason(reservation.getIn(['status','id']))"> - {{reservation.getIn(['status', 'reason'])}}</span>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="ReservationCard__Details__Leg"
                 *ngFor="let leg of getSortedLegs(reservation); let i = index; trackBy : trackByIndex">
                <header class="ReservationCard__Details__Leg__Header">
                    {{ 'LEG' | translate }} {{ i + 1 }}
                    <a class="ReservationCard__Details__Leg__Header__Link" (click)="toggleExpanded(i)">
                        {{ (reservationCardState.getIn(['expandedItems', i], false) ? 'VIEW_LESS' : 'VIEW_MORE') | translate }}
                        <i class="ReservationCard__Details__Leg__Header__Icon fa"
                           [ngClass]="reservationCardState.getIn(['expandedItems', i], false) ? 'fa-chevron-up' : 'fa-chevron-down'">
                        </i>
                    </a>
                </header>
                <div class="ReservationCard__Details__Leg__Body"
                     [ngClass]="{ 'ReservationCard__Details__Leg--Less' : !reservationCardState.getIn(['expandedItems', i], false) }">
                    <dl class="ReservationCard__LegList">
                        <div class="ReservationCard__LegList__Item"
                             *ngIf="reservationCardState.getIn(['expandedItems', i], false) && leg.get('transportationItemPassengers').count()> 0">
                            <dt class="ReservationCard__LegList__Item--Term">
                                {{ (leg.get('transportationItemPassengers').count() > 1 ? 'PASSENGERS' : 'PASSENGER') | translate }}
                            </dt>
                            <dd class="ReservationCard__LegList__Item--Def"
                                *ngFor="let passenger of leg.get('transportationItemPassengers'); trackBy : trackByIndex">
                                {{ passenger.getIn(['person', 'firstName'], '') }} {{ passenger.getIn(['person', 'lastName'], '') }}
                            </dd>
                        </div>

                        <div class="ReservationCard__LegList__Item"
                             *ngIf="reservationCardState.getIn(['expandedItems', i], false) && leg.get('transportationItemSpecialRequirements').count() > 0">
                            <dt class="ReservationCard__LegList__Item--Term">{{ 'SPECIAL_REQUIREMENTS' | translate }}</dt>
                            <dd class="ReservationCard__LegList__Item--Def"
                                *ngFor="let requirement of leg.get('transportationItemSpecialRequirements'); trackBy : trackByIndex">
                                {{ requirement.getIn(['specialRequirementType', 'name']) }}
                            </dd>
                        </div>

                        <div *ngIf="reservationCardState.getIn(['expandedItems', i], false)" class="ReservationCard__LegList__Item">
                            <dt class="ReservationCard__LegList__Item--Term">
                                {{ 'PICKUP_TIME' | translate }}<span *ngIf="!reservationCardState.getIn(['expandedItems', i], false)">:</span>
                            </dt>
                            <dd class="ReservationCard__LegList__Item--Def">
                                {{ leg.get('pickupTime') | dateTimeFormat : timeFormat }}
                            </dd>
                        </div>

                        <div class="ReservationCard__LegList__Item" [ngClass]="{'TruncateText' : !reservationCardState.getIn(['expandedItems', i], false)}">
                            <dt class="ReservationCard__LegList__Item--Term">
                                {{ reservationCardState.getIn(['expandedItems', i], false) ? ('PICKUP_ADDRESS' | translate) : ('PICKUP' | translate) }}<span *ngIf="!reservationCardState.getIn(['expandedItems', i], false)">:</span>
                            </dt>
                            <dd class="ReservationCard__LegList__Item--Def">
                                {{ leg.getIn(['pickupLocation', 'address1']) }} {{ leg.getIn(['pickupLocation', 'city'])}}, {{ leg.getIn(['pickupLocation', 'state']) }} {{ leg.getIn(['pickupLocation', 'zipCode'])}}
                            </dd>
                        </div>

                        <div *ngIf="!reservationCardState.getIn(['expandedItems', i], false)" class="ReservationCard__LegList__Item">
                            <dt class="ReservationCard__LegList__Item--Term">
                                {{ 'PICKUP_TIME' | translate }}<span *ngIf="!reservationCardState.getIn(['expandedItems', i], false)">:</span>
                            </dt>
                            <dd class="ReservationCard__LegList__Item--Def">
                                {{ leg.get('pickupTime') | dateTimeFormat : timeFormat }}
                            </dd>
                        </div>

                        <div class="ReservationCard__LegList__Item" *ngIf="reservationCardState.getIn(['expandedItems', i], false)">
                            <dt class="ReservationCard__LegList__Item--Term">{{ 'DROP_OFF_ADDRESS' | translate }}</dt>
                            <dd class="ReservationCard__LegList__Item--Def">
                                {{ leg.getIn(['dropOffLocation', 'address1']) }} {{ leg.getIn(['dropOffLocation', 'city']) }}, {{ leg.getIn(['dropOffLocation', 'state']) }} {{ leg.getIn(['dropOffLocation', 'zipCode']) }}
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            <div class="ClearFix"></div>
            <footer class="ReservationCard__Details__Footer" *ngIf="title === 'ScheduledReservations'">
                <a (click)="editReservation(reservation.get('uuid'))" class="ReservationCard__Details__Footer__Action ReservationCard__Details__Footer--MarginBottom">
                    {{ 'EDIT_RESERVATION' | translate }}
                </a>

                <button
                    (click)="cancelReservation(reservation)"
                    class="Button Secondary ReservationCard__Details__Footer__Action">
                        {{ 'CANCEL_RESERVATION' | translate }}
                </button>
            </footer>
        </div>
    </div>
</div>

<reservation-cancel-modal
    *ngIf="reservationToCancel"
    (cancel)="cancelReservationCancellation()"
    (confirm)="confirmCancelReservation($event)">
</reservation-cancel-modal>
