@import 'utility';

.ReservationCard {
    width: 100%;

    &__Reservation {
        padding-bottom: 1em;

          &:nth-child(-n+4) {

            &:after {
                width:calc(100% + 30px);
                margin-left:-15px;
                padding:10px;
                display: block;
                content: '';

                border-bottom: 2px solid $light-gray;
            }
          }
    }

    // General for all sections
    &__Section {
        &__Title {
            float: left;
            margin: 0;
        }

        &__FileIcon {
            color: $Blue;

            font-size: 16px;
            padding: 0 3px 0 0;
        }
    }

    &__Details {
        &__Heading {
            margin: 0 0 25px 0;

            &__Close {
                color: $accent-blue;
                cursor: pointer;

                float: right;
                font-size: 22px;
            }

            &__Title {
                width: 90%;

                float: left;
                margin-bottom: .333em;
            }
        }

        &__Leg {
            &--Less {
                width: 100%;

                .ReservationCard__LegList__Item--Term,
                .ReservationCard__LegList__Item--Def {
                    display: inline;
                }
            }

            &__Header {
                background: $Green;
                color: $white;

                font-weight: bold;
                line-height: 2;
                padding-left: 10px;

                &__Link {
                    width: 120px;

                    background: $accent-green;
                    color: $white;

                    float: right;
                    font-weight: normal;
                    text-align: center;

                    &:hover {
                        text-decoration: none;
                    }
                }

                &__Icon {
                    float: right;
                    padding: 3px 5px 0;
                }
            }
        }

        &__Footer {
            margin-top: 1em;
            text-align: center;

            &__Action {
                display: inline-block;
            }
        }
    }

    &__LegList {
        margin: 20px 0 20px 10px;

        &__Item {
            margin-top: 10px;
        }
    }
}
