<div class="ReservationPickupTime">
    <div class="Full">
        <label for="pickupTime">
            <span [ngClass]="{ 'Required' : !pickupTime.valid, 'Valid' : pickupTime.valid }">*</span>
            <strong>{{ 'PICK' | translate }} {{ 'UP' | translate }} {{ 'TIME' | translate }}</strong>
        </label>

        <div [ngClass]="{ 'HasError' : !pickupTime.valid && pickupTime.touched }">
            <!-- <pre>Timepicker Valid: {{ pickupTime.valid }}</pre>
            <pre>Timepicker Touched: {{ pickupTime.touched }}</pre> -->
            <time-picker
                id="pickupTime"
                [ngModel]="selectedPickupTime"
                [formControl]="pickupTime"
                [hourStep]="hourStep"
                [isDecrementOnly]="true"
                [minuteStep]="minuteStep"
                [isReadOnly]="disabled"
                [showMeridiem]="showMeridiem"
                [timeFormat]="timeFormat">
            </time-picker>
        </div>
    </div>
</div>
