@import 'variables';
@import 'utility';

.ReservationPickupTime {
    position: relative;

    width: 100%;
    min-width: 275px;

    &__Chevron {
        display: block;

        line-height: 0;

        &__Icon {
            font-size: 12px;
            padding: 1px 4px;
        }

        &.disabled {
            color: $gray;
            cursor: not-allowed;
        }
    }
    .StaticTime {
        padding: 3px 6px;
        border: 1px solid $medium-gray;
        border-radius: 2px;
        background: $input-bg;
        height: 30px;
        position: relative;
        width: 95px;

        &.Disabled {
            color: $gray;
            cursor: not-allowed;
            background-color: $gray-lighter;
        }

        &__Time {
            line-height: 22px;
            span {
                float: left;
            }
        }
        &__AmPm {
            padding: 0 0 0 3px;
        }

        &__Arrows {
            .fa {
                position: absolute;
                right: 0;
                color: $accent-blue;
                font-size: 21px;
                width: 20px;
                height: 15px;
                padding: 0;
                text-align: center;
                cursor: pointer;

                &.Inactive {
                    color: $lightGray;
                }
            }

            .fa-caret-up {
                top: 0;
                line-height: 17px;
            }

            .fa-caret-down {
                bottom: -2px;
                line-height: 8px;
            }
        }
    }
}
