@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');


@font-face {
    font-family: 'Open Sans', sans-serif;
}
//@font-face {
//    font-family: 'montserrat_regular'; // $font-secondary - Montserrat Regular
//    src: url('content/fonts/montserrat-regular.eot');
//    src: url('content/fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'), url('content/fonts/montserrat-regular.woff') format('woff'), url('content/fonts/montserrat-regular.ttf') format('truetype'), url('content/fonts/montserrat-regular.svg#montserratregular') format('svg');
//    font-style: normal;
//    font-weight: normal;
//}

//@font-face {
//    font-family: 'montserrat_light'; // $font-secondary-light - Montserrat Light
//    src: url('content/fonts/montserrat-light.eot');
//    src: url('content/fonts/montserrat-light.eot?#iefix') format('embedded-opentype'), url('content/fonts/montserrat-light.ttf') format('truetype'), url('content/fonts/montserrat-light.woff') format('woff'), url('content/fonts/montserrat-light.svg#open_sanslight') format('svg');
//    font-style: normal;
//    font-weight: normal;
//}

// scss-lint:enable VariableForProperty
