//Legacy Mixins
@import 'base/mixins/arrow-mixins';
@import 'base/mixins/breakpoint-mixins';
@import 'base/mixins/font-mixins';
@import 'base/mixins/gradient-mixins';
@import 'base/mixins/transition-mixins';

//Centering Mixin
//Usage example: @include center(vertical, '.some-child-selector, .another-child-selector');
@mixin center($direction, $selector) {
    position: relative;

    @if $direction == both {
        #{$selector} {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    @elseif $direction == vertical {//Center vertically
        #{$selector} {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    @elseif $direction == horizontal {//Center horizontally
        #{$selector} {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
